<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>Área do Cliente</h2>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-area-cliente.jpg);"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="sec-area-cliente">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 center-block intro">
                  <h1>ACESSE</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan, sapien sed cursus fringilla, quam eros bibendum lorem, nec molestie urna urna nec sapien. Nam turpis sapien, placerat sit amet ornare at, vestibulum ac neque. Suspendisse potenti. Quisque leo turpis, elementum non fermentum in, consequat a mauris. Suspendisse molestie feugiat blandit. </p>
                </div>
              </div>
              <div class="lista-area-cliente">
                <ul>
                  <li>
                    <a href="#" id="manu-1111" target="_blank">
                      <img src="img/logo-area-entregou.png" alt="">
                      <span class="bt-padrao-pq">Acessar</span>
                    </a>
                    <span class="manu-atencao"></span>
                  </li>
                  <li>
                    <a href="#" id="manu-2222" target="_blank">
                      <img src="img/logo-area-oobj.png" alt="">
                      <span class="bt-padrao-pq">Acessar</span>
                    </a>
                    <span class="manu-atencao"></span>
                  </li>
                  <li class="manutencao">
                    <a href="#" id="manu-3333">
                      <img src="img/logo-area-interbancos.png" alt="">
                      <span class="bt-padrao-pq">Acessar</span>
                    </a>
                    <span class="manu-atencao"></span>
                  </li>
                  <li class="manutencao">
                    <a href="#" id="manu-4444">
                      <img src="img/logo-area-edienterprise.png" alt="">
                      <span class="bt-padrao-pq">Acessar</span>
                    </a>
                    <span class="manu-atencao"></span>
                  </li>
                  <li>
                    <a href="#" id="manu-5555">
                      <img src="img/logo-area-oi.png" alt="">
                      <span class="bt-padrao-pq">Acessar</span>
                    </a>
                    <span class="manu-atencao"></span>
                  </li>
                  <li>
                    <a href="#" id="manu-6666">
                      <img src="img/logo-area-esales.png" alt="">
                      <span class="bt-padrao-pq">Acessar</span>
                    </a>
                    <span class="manu-atencao"></span>
                  </li>
                </ul>

                  <p class="aviso-manu" id="manu-3333-mostra">Caro usuário!
                    <br>O sistema interbancos está temporariamente em manutenção. Em caso de urgência ligue para 51 5533.2222.</p>
                  <p class="aviso-manu" id="manu-4444-mostra">Caro usuário!
                    <br>O sistema edienterprise está temporariamente em manutenção. Em caso de urgência ligue para 51 5533.2222.</p>

              </div>
            </div>
          </div>
        </div>
          <section class="sec-clientes-home">
    <div class="bg-left"></div>
    <div class="bg-right"></div>

    <div class="container">
      <div class="lista-clientes-wrapper">
        <div class="caption" id="cliente-caption">
          <div class="caption-inner">
            <div class="col-left">
              <h2></h2>
              <p></p>
            </div>

            <div class="col-right">
              <a href="#" class="bt-cta">Veja o case</a>
            </div>
          </div>
        </div>

        <div class="lista-clientes">
          <div class="logo-cliente valign" data-link="#1" data-title="Lorem ipsum dolor sit." data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores aut repellendus in, quam at expedita ab voluptas unde aperiam facere deleniti voluptate. Itaque atque fugiat repellendus repellat perspiciatis illum doloremque!">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
          </div>

          <div class="logo-cliente valign" data-link="#2" data-title="Nisi sapiente iusto sit." data-content="Provident blanditiis ullam quam similique, dolorum beatae. Cumque atque hic illum illo sequi facere, praesentium laboriosam, aliquid distinctio vero commodi ut quod aspernatur autem labore rerum officiis, totam corrupti. Atque!">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
            <div class="icon icon-star"></div>
          </div>

          <div class="logo-cliente valign" data-link="#3" data-title="Sequi aut, fuga est!" data-content="Quis similique natus ad iste, commodi. Nostrum doloremque dolor autem, dignissimos ea! Perspiciatis molestias dolorum animi consectetur! Illum, facilis, explicabo perferendis nobis consequuntur laborum excepturi dolore minima, quasi numquam laboriosam.">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
            <div class="icon icon-star"></div>
          </div>

          <div class="logo-cliente valign" data-link="#4" data-title="Temporibus autem repellendus nihil!" data-content="Eos adipisci voluptatibus commodi nesciunt, dignissimos corporis alias quo cupiditate, quidem delectus quia praesentium veritatis molestias obcaecati culpa. Impedit omnis excepturi, vitae, odit aliquid sint architecto consequuntur eum quae! Maxime.">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
          </div>

          <div class="logo-cliente valign" data-link="#5" data-title="Explicabo, nam maiores unde." data-content="Sequi blanditiis vitae quaerat voluptatum in nam officiis ex dolorum, laborum inventore dolor labore autem eos eius quidem tempora possimus illo assumenda non a alias consequatur accusamus. Animi at, dolorem?">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
          </div>
        </div>
      </div>

      <div class="col-title">
        <h2>Clientes</h2>
      </div>
    </div>
  </section>
    <section class="sec-blog-home">
    <div class="container">
      <div class="col-left valign">
        <div class="center">
          <h2>Blog da e-Sales</h2>
        </div><i></i>
      </div>

      <div class="col-right lista-posts">

        <a href="#" class="post valign">
          <span class="center">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit</span><i></i>

          <span class="caption">
            <span class="caption-inner">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</span>
              <i class="icon icon-arrow-right"></i>
            </span>
          </span>
        </a>

        <a href="#" class="post valign">
          <span class="center">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit</span><i></i>

          <span class="caption">
            <span class="caption-inner">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</span>
              <i class="icon icon-arrow-right"></i>
            </span>
          </span>
        </a>

        <a href="#" class="post valign last">
          <span class="center">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit</span><i></i>

          <span class="caption">
            <span class="caption-inner">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</span>
              <i class="icon icon-arrow-right"></i>
            </span>
          </span>
        </a>
      </div>
    </div>
  </section>
      </main>
      <% include partials/footer %>
  </body>

</html>
