<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>
  <body class="pt interna">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=160225834052622";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>BLOG e-Sales</h2>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-fale-conosco.jpg);"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="sec-blog">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <div class="post-item cf">
                    <div class="post-cat cf"><span></span>
                      <h4>Soluções</h4>
                    </div>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    <div class="col-lg-3 post-info">
                      <div class="post-data">20/MAR</div>
                      <p class="comp">Compartilhe</p>
                      <div class="social">
                        <a href="#" class="icon icon-facebook" title="Facebook"></a>
                        <a href="#" class="icon icon-twitter" title="Twitter"></a>
                        <a href="#" class="icon icon-googleplus" title="Google+"></a>
                        <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>
                      </div>
                    </div>
                    <div class="col-lg-9 post-conteudo">
                      <img src="http://placehold.it/570x470/333/f09" alt="">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. Nunc tempor nunc et nulla fermentum rutrum. Praesent facilisis, magna non hendrerit mollis, massa enim facilisis nibh, in dignissim ligula justo quis ligula. Ut viverra lacinia fermentum. Curabitur pulvinar purus ipsum, in tincidunt massa elementum quis. Maecenas maximus tincidunt tellus, a cursus diam. Suspendisse a ante ac eros posuere iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eget rutrum quam. Mauris at libero vitae lectus tristique pharetra. Phasellus luctus efficitur est, et imperdiet nisl imperdiet eu.
                        <br>
                        <br> Aenean sagittis tincidunt ante vel elementum. Pellentesque lectus nisl, volutpat vitae vulputate vel, dignissim non lorem. Praesent elit dolor, bibendum et nulla ut, ullamcorper vestibulum nisi. Nunc suscipit metus magna, consectetur elementum libero feugiat sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut aliquam convallis volutpat. Donec auctor, diam eget tincidunt dapibus, nibh purus congue mi, ut feugiat ligula nibh a arcu. Sed eu elit vitae quam venenatis lobortis. Duis nibh dolor, bibendum sit amet enim non, faucibus molestie elit. Sed nisi velit, condimentum sit amet mi in, interdum gravida justo. Sed risus dui, aliquet nec pellentesque et, consectetur ut lacus. Aliquam vulputate pharetra lobortis. Cras iaculis vitae eros non lobortis. Maecenas libero orci, rutrum vel convallis non, tincidunt feugiat nibh. Proin in est dignissim, blandit tortor vitae, maximus risus. Aliquam scelerisque nisi vel turpis vestibulum, quis gravida justo tempor.</p>
                    </div>
                  </div>
                  <div class="post-item cf">
                    <div class="post-cat cf"><span></span>
                      <h4>Soluções</h4>
                    </div>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    <div class="col-lg-3 post-info">
                      <div class="post-data">20/MAR</div>
                      <p class="comp">Compartilhe</p>
                      <div class="social">
                        <a href="#" class="icon icon-facebook" title="Facebook"></a>
                        <a href="#" class="icon icon-twitter" title="Twitter"></a>
                        <a href="#" class="icon icon-googleplus" title="Google+"></a>
                        <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>
                      </div>
                    </div>
                    <div class="col-lg-9 post-conteudo">
                      <img src="http://placehold.it/570x470/333/f09" alt="">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. Nunc tempor nunc et nulla fermentum rutrum. Praesent facilisis, magna non hendrerit mollis, massa enim facilisis nibh, in dignissim ligula justo quis ligula. Ut viverra lacinia fermentum. Curabitur pulvinar purus ipsum, in tincidunt massa elementum quis. Maecenas maximus tincidunt tellus, a cursus diam. Suspendisse a ante ac eros posuere iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eget rutrum quam. Mauris at libero vitae lectus tristique pharetra. Phasellus luctus efficitur est, et imperdiet nisl imperdiet eu.
                        <br>
                        <br> Aenean sagittis tincidunt ante vel elementum. Pellentesque lectus nisl, volutpat vitae vulputate vel, dignissim non lorem. Praesent elit dolor, bibendum et nulla ut, ullamcorper vestibulum nisi. Nunc suscipit metus magna, consectetur elementum libero feugiat sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut aliquam convallis volutpat. Donec auctor, diam eget tincidunt dapibus, nibh purus congue mi, ut feugiat ligula nibh a arcu. Sed eu elit vitae quam venenatis lobortis. Duis nibh dolor, bibendum sit amet enim non, faucibus molestie elit. Sed nisi velit, condimentum sit amet mi in, interdum gravida justo. Sed risus dui, aliquet nec pellentesque et, consectetur ut lacus. Aliquam vulputate pharetra lobortis. Cras iaculis vitae eros non lobortis. Maecenas libero orci, rutrum vel convallis non, tincidunt feugiat nibh. Proin in est dignissim, blandit tortor vitae, maximus risus. Aliquam scelerisque nisi vel turpis vestibulum, quis gravida justo tempor.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 lat-blog">
                  <div class="lat-categorias">
                    <h3>Categorias</h3>
                    <div class="post-cat cf"><span></span>
                      <h4>Soluções</h4>
                    </div>
                    <div class="post-cat cf"><span></span>
                      <h4>Negócios</h4>
                    </div>
                    <div class="post-cat cf"><span></span>
                      <h4>Logística</h4>
                    </div>
                    <div class="post-cat cf"><span></span>
                      <h4>Distribuidora</h4>
                    </div>
                    <div class="post-cat cf"><span></span>
                      <h4>Nota Fiscal</h4>
                    </div>
                    <div class="post-cat cf"><span></span>
                      <h4>20 Anos</h4>
                    </div>
                    <div class="post-cat cf"><span></span>
                      <h4>Clientes</h4>
                    </div>
                  </div>
                  <div class="lat-curta">
                    <h3>Curta E-Sales</h3>
                    <div class="fb-page" data-href="https://www.facebook.com/Esalessolucoes?fref=ts" data-width="270" data-height="230" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                      <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/Esalessolucoes?fref=ts"><a href="https://www.facebook.com/Esalessolucoes?fref=ts">E sales Soluções de Integração</a></blockquote>
                      </div>
                    </div>
                  </div>
                  <div class="lat-posts">
                    <h3>Posts Recentes</h3>
                    <ul>
                      <li><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>
                      <li><a href="">Consectetur adipiscing elit. </a></li>
                      <li><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>
                      <li><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>

  </body>

</html>
