<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

<body class="pt interna">

<% include partials/header %>

<main>
  <div class="hero hero-case">
    <div class="overlay">
      <div class="container valign">
        <div class="center">
          <h3>Lorem ipsum dolor sit amet, consectetur adipis</h3>

          <div class="row">
            <div class="col-lg-7">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
            </div>
            <div class="col-lg-5">
              <div class="logo-cliente">
                <img src="img/logo-paqueta.png" alt="">
              </div>
            </div>
          </div>
        </div><i></i>
      </div>
    </div>

    <div class="bg" style="background-image: url(img/_hero-case-detalhe.jpg);"></div>
  </div>

  <div class="main-content">
    <div class="bg-esq"></div>
    <div class="bg-dir"></div>
    <div class="bg-center">
      <div class="bg-center-inner">
        <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
          x="0px" y="0px" width="1920px" height="657px">
          <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff"/>
        </svg>
      </div>
    </div>

    <div class="sec-detalhe-case">
      <div class="container">
        <div class="intro">
          <h1>Emissor de conhecimento de transporte eletrônico - CT-E</h1>
        </div>
      </div>

      <div class="col-left-full">
        <div class="col-left-full-inner">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan, sapien sed cursus fringilla, quam eros bibendum lorem, nec molestie urna urna nec sapien. Nam turpis sapien, placerat sit amet ornare at, vestibulum ac neque. Suspendisse potenti. Quisque leo turpis, elementum non fermentum in, consequat a mauris. Suspendisse molestie feugiat blandit. Cras elementum magna nunc, et consequat libero pharetra non. Pellentesque consequat ullamcorper metus sit amet scelerisque. Aenean nunc orci, elementum vitae diam et, mattis elementum eros. Vestibulum molestie tristique tristique.</p>
          <p>Duis accumsan, ipsum sed pretium iaculis, tortor ligula varius eros, non aliquam turpis urna vitae enim. Proin placerat ultricies nisl, eget faucibus purus molestie nec. Sed in sagittis tortor, sed sagittis lorem. Etiam ac ullamcorper nibh. Curabitur condimentum, sapien sed efficitur imperdiet, sem dui maximus sapien, in dignissim nisl magna vel arcu.</p>
        </div>
      </div>

      <div class="col-right-full">
        <div class="col-right-full-inner">
          <h2>Produtos</h2>
          <ul>
            <li><span>Integração de documentos - EDI</span></li>
            <li><span>Publicação e antecipação de títulos</span></li>
            <li><span>Integração de documentos - EDI</span></li>
            <li><span>Publicação e antecipação de títulos</span></li>
            <li><span>Integração de documentos - EDI</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="sec-depoimento">
      <div class="bg-esq"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h2>Depoimento</h2>
            <div class="quote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan, sapien sed cursus fringilla, quam eros bibendum lorem, nec molestie urna urna nec sapien. Nam turpis sapien, placerat sit amet ornare at, vestibulum ac neque. Suspendisse potenti. Quisque leo turpis, elementum non fermentum in, consequat a mauris. Suspendisse molestie feugiat blandit. Cras elementum magna nunc, et consequat libero pharetra non. Pellentesque consequat ullamcorper metus sit amet scelerisque. Aenean nunc orci, elementum vitae diam et, mattis elementum eros.</p>
            </div>
            <div class="quote-author">
              <div class="logo-cliente">
                <img src="http://placehold.it/126x25/333/f09" alt="">
              </div>
              <h3>Alessandro Cardoso</h3>
              <p>Diretor Comercial</p>
            </div>
          </div>

          <div class="col-lg-7 col-right">
            <img src="http://placehold.it/610x460/333/f09" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="sec-diferenciais">
      <div class="bg-dir"></div>

      <div class="container">
        <div class="sec-diferenciais-inner">
          <h2>Alguns diferenciais do painel oobj</h2>

          <ul>
            <li>
              <h3>Alguns diferenciais do painel oobj</h3>
              <p>Monitoramento de todo o processo de emissão de seus documentos fiscais com acesso rápido a vários recursos, como download de PDF e XML, envio de email, reimpressão dentre vários outros.</p>
              <div class="icon-wrapper">
                <img src="img/icon-painel.png" alt="">
              </div>
            </li>
            <li>
              <h3>Todos os tipos de contingência e relatórios em pdf, excel e CSV</h3>
              <p>Através do Painel você pode alterar o modo de emissão e escolher o tipo desejado (EPEC, SVC e FS/FSDA) e ainda tem acesso a diversos tipos de relatórios e em vários formatos. Relatórios de CT-es autorizados, cancelados e rejeitados.</p>
              <div class="icon-wrapper">
                <img src="img/icon-relatorio.png" alt="">
              </div>
            </li>
          </ul>

          <div class="barra-icones"></div>
        </div>
      </div>
    </div>

    <div class="sec-galeria">
      <div class="container">
        <div class="slide-wrapper">
          <div class="slide-item">
            <img src="http://placehold.it/1170x550/333/f09" alt="">
          </div>

          <div class="slide-item">
            <img src="http://placehold.it/1170x550/333/f09" alt="">
          </div>

          <div class="slide-item">
            <img src="http://placehold.it/1170x550/333/f09" alt="">
          </div>

          <div class="slide-item">
            <img src="http://placehold.it/1170x550/333/f09" alt="">
          </div>

          <div class="slide-item">
            <img src="http://placehold.it/1170x550/333/f09" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-info">
            <div class="col-info-inner">
              <h2>Funcionalidades</h2>

              <ul>
                <li><span>Monitoramento em tempo real pelo Painel Oobj, garantindo transparência de todo o processo de emissão dos CT-e’s;</span></li>
                <li><span>Impressão Automática de DACTE com opção de Reimpressão;</span></li>
                <li><span>Emissão de Inutilização e Eventos (Cancelamento, Carta de Correção e Registro de Multimodal);</span></li>
                <li><span>Adequação a todos os modais especificados pela SEFAZ: rodoviário, ferroviário, aéreo, aquaviário, dutoviário ou multimodal;</span></li>
                <li><span>Contingência EPEC, SVC e FS/FSDA;</span></li>
                <li><span>Compatível com certificados A1 e A3;</span></li>
              </ul>

              <h2>Serviços</h2>

              <ul>
                <li><span>Monitoramento em tempo real pelo Painel Oobj, garantindo transparência de todo o processo de emissão dos CT-e’s;</span></li>
                <li><span>Impressão Automática de DACTE com opção de Reimpressão;</span></li>
                <li><span>Emissão de Inutilização e Eventos (Cancelamento, Carta de Correção e Registro de Multimodal);</span></li>
                <li><span>Adequação a todos os modais especificados pela SEFAZ: rodoviário, ferroviário, aéreo, aquaviário, dutoviário ou multimodal;</span></li>
                <li><span>Contingência EPEC, SVC e FS/FSDA;</span></li>
                <li><span>Compatível com certificados A1 e A3;</span></li>
              </ul>
            </div>
          </div>

          <div class="col-controls">
            <div class="slide-controls">
              <div class="slide-controls-inner">
                <div class="row">
                  <button class="bt-prev"><i class="icon icon-chevron-left"></i></button>
                  <button class="bt-next"><i class="icon icon-chevron-right"></i></button>
                  <div class="pag"><span class="curr">3</span>/<span class="total">6</span></div>
                </div>
              </div>
            </div>

            <div class="compartilhe-case">
              <p>Compartilhe este case</p>

              <div class="social">
                <a href="#" class="icon icon-facebook" title="Facebook"></a>
                <a href="#" class="icon icon-twitter" title="Twitter"></a>
                <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-lista-cases">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Veja outros cases de sucesso</h2>
          </div>
        </div>

        <div class="row">
          <a href="#" class="col-lg-6 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/570x485/333/f09" alt="">
              <div class="overlay">
                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </a>

          <a href="#" class="col-lg-6 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/570x485/333/f09" alt="">
              <div class="overlay">
                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</main>

<% include partials/footer %>

</body>
</html>