<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

<body class="pt interna">

<% include partials/header %>

<main>
  <div class="hero">
    <div class="overlay">
      <div class="container valign">
        <div class="center">
          <h2>Cases de sucesso</h2>
        </div><i></i>
      </div>
    </div>

    <div class="bg" style="background-image: url(img/hero-sec-cases.jpg);"></div>
  </div>

  <div class="main-content">
    <div class="bg-esq"></div>
    <div class="bg-dir"></div>
    <div class="bg-center">
      <div class="bg-center-inner">
        <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
          x="0px" y="0px" width="1920px" height="657px">
          <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff"/>
        </svg>
      </div>
    </div>

    <div class="sec-lista-cases">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 center-block aligncenter">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. cras pellentesque bibendum egestas. nam ut malesuada mi. nulla hendrerit lobortis</h4>
          </div>
        </div>

        <div class="row">
          <a href="#" class="col-lg-6 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/570x485/333/f09" alt="">
              <div class="overlay">
                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </a>

          <a href="#" class="col-lg-6 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/570x485/333/f09" alt="">
              <div class="overlay">
                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </a>

          <a href="#" class="col-lg-6 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/570x485/333/f09" alt="">
              <div class="overlay">
                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </a>

          <a href="#" class="col-lg-6 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/570x485/333/f09" alt="">
              <div class="overlay">
                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</main>

<% include partials/footer %>

</body>
</html>