<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>Clientes</h2>
                <div class="logo-solucao">
                  <img src="img/logo-entregoucom.png" alt="entregou.com">
                </div>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-clientes.jpg);"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="sec-clientes">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 center-block intro">
                  <h1>Eficiência e transparência na comunicação</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan, sapien sed cursus fringilla, quam eros bibendum lorem, nec molestie urna urna nec sapien. Nam turpis sapien, placerat sit amet ornare at, vestibulum ac neque. Suspendisse potenti. Quisque leo turpis, elementum non fermentum in, consequat a mauris. Suspendisse molestie feugiat blandit. </p>
                </div>
              </div>
              <div class="lista-logos-clientes">
                <ul>
                  <li class="case-suc">
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="" class="logo-c">
                      <img src="img/_logo-cliente-pepsico-h.png" alt="" class="logo-h">
                      <h3><br>Case de sucesso</h3>
                    </a>
                  </li>
                  <li class="case-suc">
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="" class="logo-c">
                      <img src="img/_logo-cliente-pepsico-h.png" alt="" class="logo-h">
                      <h3><br>Case de sucesso</h3>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="img/_logo-cliente-pepsico.jpg" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="sec-depoimentos">
            <div class="container">
              <h1>Depoimentos</h1>
              <div class="depoimentos-wrapper">
                <div class="depoimentos">
                  <div class="depoimentos-item valign">
                    <div class="center">
                      <div class="texto-dep">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
                      </div>
                      <h3>Nome do Autor</h3>
                      <h4>Cargo do Autor</h4>
                      <h5>Cliente</h5>
                    </div><i></i>
                  </div>
                  <div class="depoimentos-item valign">
                    <div class="center">
                      <div class="texto-dep">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonuuam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
                      </div>
                      <h3>Nome do Autor</h3>
                      <h4>Cargo do Autor</h4>
                      <h5>Cliente</h5>
                    </div><i></i>
                  </div>
                  <div class="depoimentos-item valign">
                    <div class="center">
                      <div class="texto-dep">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
                      </div>
                      <h3>Nome do Autor</h3>
                      <h4>Cargo do Autor</h4>
                      <h5>Cliente</h5>
                    </div><i></i>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="dots"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>
  </body>

</html>
