<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>Fale Conosco</h2>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-fale-conosco.jpg);"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="sec-fale-conosco">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 form-fale-conosco">
                  <h2>Dúvidas, sugestões, reclamações, deixe seu contato que retornaremos o mais breve possível.</h2>
                  <form action="">
                    <div class="fieldset">
                      <div class="field-group-double cf">
                        <div class="field">
                          <input type="text" name="nome" id="nome" placeholder="Nome" class="floatlabel">
                        </div>
                        <div class="field">
                          <input type="email" name="email" id="email" placeholder="E-mail" class="floatlabel">
                        </div>
                      </div>
                      <div class="field-group-double cf">
                        <div class="field field-error">
                          <input type="text" name="telefone" id="telefone" placeholder="Telefone" class="floatlabel">
                        </div>
                        <div class="field field-error">
                          <select name="" id="">
                            <option value="">Segmento</option>
                            <option value="">1ewsrtf wegtsbdfv b gnqa43 nbb nmyj xrj</option>
                            <option value="">2Mf fyxudhtjkrdt uiregv friuvnfjv</option>
                            <option value="">1ewsrtf wegtsbdfv b gnqa43 nbb nmyj xrj</option>
                            <option value="">2Mf fyxudhtjkrdt uiregv friuvnfjv</option>
                            <option value="">1ewsrtf wegtsbdfv b gnqa43 nbb nmyj xrj</option>
                          </select>
                        </div>
                      </div>
                      <div class="field field-error">
                        <textarea name="mensagem" id="" cols="30" rows="5" placeholder="Mensagem" class="placefloater"></textarea><label for="mensagem" class="placefllabel">Mensagem</label>
                      </div>
                      <div class="field-group-double cf">
                        <div class="field">
                          <button type="submit" class="bt-padrao">Enviar</button>
                        </div>
                        <div class="field">
                          <p class="form-error-message">Todos os campos sinalizados são de preenchimento obrigatório</p>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div id="agradecimento-contato">
                    <div class="box-agradecimento">
                      <h1>Obrigado por entrar em contato!</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. </p>
                    </div>
                    <a href="/" class="bt-padrao">Ir para página inicial</a></div>
                </div>
                <div class="col-lg-4 lat-trabalhe">
                  <h3>Trabalhe Conosco</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. </p>
                  <a href="" class="bt-padrao">Confira nossas vagas</a>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>
  </body>

</html>
