<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

<body class="pt">

<% include partials/headerhome %>

<main class="main-wrapper">
  <div class="vitrine-wrapper">
    <div class="vitrine">
      <div class="vitrine-item valign" style="background-image: url(img/vitrine-home.jpg);">
        <div class="container">
          <div class="center">
            <h1>Lorem ipsum dolor sit amet, consectetur adipis</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
            <a href="#" class="bt-cta">Conheça</a>
          </div><i></i>
        </div>
      </div>

      <div class="vitrine-item valign" style="background-image: url(img/vitrine-home.jpg);">
        <div class="container">
          <div class="center">
            <h1>Lorem ipsum dolor sit amet, consectetur adipis</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
            <a href="#" class="bt-cta">Conheça</a>
          </div><i></i>
        </div>
      </div>

      <div class="vitrine-item valign" style="background-image: url(img/vitrine-home.jpg);">
        <div class="container">
          <div class="center">
            <h1>Lorem ipsum dolor sit amet, consectetur adipis</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
            <a href="#" class="bt-cta">Conheça</a>
          </div><i></i>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="dots"></div>
    </div>
  </div>

  <section class="sec-solucoes-home">
    <div id="tab-wrapper">
      <div class="tabs">
        <div class="bg-esq"></div>
        <div class="bg-dir"></div>
        <div class="bg-center">
          <div class="bg-center-inner">
            <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
              x="0px" y="0px" width="1920px" height="657px">
              <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff"/>
            </svg>
          </div>
        </div>

        <div class="container">
          <ul class="nav-tabs">
            <li class="solucao-item tab-industria" data-tab-name="industria">
              <svg viewBox="0 0 120 120" style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                <g stroke="#fff" stroke-width="2" fill="none">
                  <path d="M104.126 66.156l-1.446-.87-1.276-55.95L99.04 7H87.02l-2.365 2.335-1.195 52.298-.55.87-19.464 9.8L62 71.41V34.384L59.64 32h-4.28L53 34.385v28.34l-.55.894-17.648 8.783c-3.075-.726.785-14.735-4.49-12.078L2.332 74.42 1 76.6v34.015L3.36 113h113.02l2.366-2.385c0-5.375 1.01-48.938-1.002-50.195-2.136-.88-11.72 4.78-13.618 5.736z"/>
                  <path d="M22 101l-.998 1h-8.004L12 101V90l.998-1h8.004L22 90v11z"/>
                  <path d="M43 101l-.998 1h-8.004L33 101V90l.998-1h8.004L43 90v11z"/>
                  <path d="M65 101l-.998 1h-8.004L55 101V90l.998-1h8.004L65 90v11z"/>
                  <path d="M86 101l-.998 1h-8.004L76 101V90l.998-1h8.004L86 90v11z"/>
                </g>
              </svg>

              <p>Indústria</p>
              <div class="dot"></div>
            </li>

            <li class="solucao-item tab-atacado" data-tab-name="atacado">
              <svg viewBox="0 0 120 120" style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                <g stroke="#fff" stroke-width="2" fill="none">
                  <path d="M63.947 95h-7.89l-.002 11.007-.984.986-7.07.002L60 119l12-12.005-7.07-.002-.984-.986L63.948 95z"/>
                  <path d="M95 56.053v7.89l11.007.002.986.984.002 7.07L119 60l-12.005-12-.002 7.07-.986.984L95 56.052z"/>
                  <path d="M56.053 25h7.89l.002-11.007.984-.986 7.07-.002L60 1 48 13.005l7.07.002.983.986V25z"/>
                  <path d="M25 63.947v-7.89l-11.008-.002-.985-.984-.002-7.07L1 60l12.005 12 .002-7.07.985-.984L25 63.948z"/>
                  <path d="M59.217 34.607c.502-.232 1.316-.236 1.82-.01L83.4 44.653c.504.227.5.582-.012.793l-22.464 9.298c-.51.21-1.334.2-1.84-.02L37.79 45.34c-.505-.222-.51-.59-.007-.822l21.434-9.91z"/>
                  <path d="M63 61.508c0-.553.414-1.17.924-1.382l21.152-8.744c.51-.21.924.066.924.618v24.492c0 .553-.414 1.17-.924 1.382l-21.152 8.744c-.51.21-.924-.066-.924-.618V61.508z"/>
                  <path d="M58 61.508c0-.553-.414-1.17-.924-1.382l-21.152-8.744c-.51-.21-.924.066-.924.618v24.492c0 .553.414 1.17.924 1.382l21.152 8.744c.51.21.924-.066.924-.618V61.508z"/>
                </g>
              </svg>

              <p>Atacado</p>
              <div class="dot"></div>
            </li>

            <li class="solucao-item tab-varejo" data-tab-name="varejo">
              <svg viewBox="0 0 120 120" style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                <g stroke="#fff" stroke-width="2" fill="none">
                  <path d="M1.5 26.5h118"/>
                  <path d="M1.5 78.5h118"/>
                  <path d="M11.5 26.5v53"/>
                  <path d="M113.5 26.5v53"/>
                  <path d="M11.5 35.5h102"/>
                  <path d="M25.5 35.5v43"/>
                  <path d="M48 36v43"/>
                  <path d="M77 36v43"/>
                  <path d="M99.5 35.5v43"/>
                  <path d="M39.5 41.5l4 7"/>
                  <path d="M90.5 41.5l4 7"/>
                  <path d="M31.5 47.5l11 18"/>
                  <path d="M82.5 47.5l11 18"/>
                  <path d="M31.5 64.5l5 8"/>
                  <path d="M82.5 64.5l5 8"/>
                  <path d="M46.143 85h30.714L83 94H40l6.143-9z"/>
                  <path d="M66.698 59.278l-.49.61L68.368 62 73 57.5 68.368 53l-2.16 2.113.49.604h-8.395l.49-.604L56.632 53l-4.633 4.5 4.63 4.5 2.162-2.113-.49-.61h8.396z"/>
                  <path d="M61 30h3v1c0 .552-.448 1-1 1h-1c-.552 0-1-.448-1-1v-1z"/>
                </g>
              </svg>

              <p>Varejo</p>
              <div class="dot"></div>
            </li>

            <li class="solucao-item tab-transportador" data-tab-name="transportador">
              <svg viewBox="0 0 120 120" style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                <g stroke="#fff" stroke-width="2" fill="none">
                  <path d="M107.82 58H88c-1.105 0-2-.895-2-2V43c0-1.105.895-2 2-2h3.943c.193 0 .386.08.53.208l15.863 15.494c.5.465.16 1.298-.516 1.298z"/>
                  <path d="M4.427 51.152L18 53.72V63h98v-4c0-.552-.33-1.302-.74-1.674L93.74 37.674C93.332 37.302 92.553 37 92 37H82c-.552 0-.98-.448-.985-1-.024-2.344-.45-8-4-8H21.56c-3.024 0-3.964 2.924-3.837 5.454l-12.42 1.42L32 38.324v1.986L5.11 42.973 32 46.767v1.987L4.427 51.152z"/>
                  <path d="M116 67v11.028c0 2.657-2.163 3.972-4.83 3.972H107c-.933-6.38-6.456-11.907-13.122-11.907-6.65 0-12.173 5.526-13.107 11.907H54.575c-.935-6.38-6.457-11.907-13.107-11.907-6.65 0-12.173 5.526-13.107 11.907h-5.53C20.164 82 18 80.847 18 78.19V67h98z"/>
                  <path d="M32 83c0-4.97 4.03-9 9-9s9 4.03 9 9-4.03 9-9 9-9-4.03-9-9z"/>
                  <path d="M85 83c0-4.97 4.03-9 9-9s9 4.03 9 9-4.03 9-9 9-9-4.03-9-9z"/>
                </g>
              </svg>

              <p>Transportador</p>
              <div class="dot"></div>
            </li>

            <li class="solucao-item tab-governo" data-tab-name="governo">
              <svg viewBox="0 0 120 120" style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="120" height="120">
                <g stroke="#fff" stroke-width="2" fill="none">
                  <path d="M104 94H17v8c0 .552-.448 1-1 1H9v6h103v-6h-7c-.552 0-1-.448-1-1v-8z"/>
                  <path d="M13 30h95L59.665 11 13 30z"/>
                  <path d="M57 61c-.552 0-1-.448-1-1V50c0-.552.448-1 1-1h7c.552 0 1 .448 1 1v10c0 .552-.448 1-1 1h-7z"/>
                  <path d="M86 68c.552 0 1 .448 1 1v10c0 .552-.448 1-1 1h-7c-.552 0-1-.448-1-1V69c0-.552.448-1 1-1h7z"/>
                  <path d="M41 68c.552 0 1 .448 1 1v10c0 .552-.448 1-1 1h-7c-.552 0-1-.448-1-1V69c0-.552.448-1 1-1h7z"/>
                  <path d="M41 49c.552 0 1 .448 1 1v10c0 .552-.448 1-1 1h-7c-.552 0-1-.448-1-1V50c0-.552.448-1 1-1h7z"/>
                  <path d="M86 49c.552 0 1 .448 1 1v10c0 .552-.448 1-1 1h-7c-.552 0-1-.448-1-1V50c0-.552.448-1 1-1h7z"/>
                  <path d="M101 87V38H20v49h36V69c0-.552.448-1 1-1h7c.552 0 1 .448 1 1v18h36z"/>
                </g>
              </svg>

              <p>Governo</p>
              <div class="dot"></div>
            </li>
          </ul>

          <div class="clear"></div>

          <div class="tab-ancora">
            <div class="solucao-default">
              <h2>Soluções para todos os segmentos <br>
              e cadeias produtivas</h2>
              <p>A e-Sales é especialista em integrações interempresariais, conectamos empresas, dinamizamos negócios, automatizamos processos e promovemos a colaboração das cadeias de suprimentos.</p>
            </div>

            <div class="tab-content">
              <div class="connectors">
                <div class="connectors-sizer"></div>
                <div class="connectors-inner">
                  <div class="line-horz">
                    <div class="line-esq"></div>
                    <div class="line-dir"></div>
                  </div>

                  <div class="line-vert line-vert-top">
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                  </div>

                  <div class="line-vert line-vert-bottom">
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                    <div class="col"><div class="line"></div></div>
                  </div>

                  <svg style="background-color:#ffffff00" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                    x="0px" y="0px" id="connector-path">
                    <path d="" stroke="#FFF" stroke-width="5" fill="none" />
                  </svg>
                </div>
              </div>

              <div class="tab-pane">
                <div class="item item-fornecedores">
                  <div class="item-inner">
                    <div class="dot"></div>
                    <div class="bg"></div>

                    <a href="#" data-item-name="fornecedores">
                      <svg class="icon icon-main" viewBox="0 0 105 56" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        x="0px" y="0px" width="105px" height="56px">
                        <g class="group" fill="#ffffff">
                          <path d="M 81.8557 43.3718 L 81.5226 42.1239 C 81.5226 41.8893 80.2564 37.4893 80.3762 32.1948 C 80.4946 26.4296 85.415 22.7117 85.6533 22.4769 L 87.254 24.5002 C 87.254 24.5002 83.2418 27.6533 83.1219 32.1709 C 83.0023 35.4419 83.4563 38.5007 83.8143 40.0773 L 88.9731 38.6182 L 89.7852 41.1122 L 81.8557 43.3718 Z" />
                          <path d="M 82.0952 29.1359 C 81.5226 29.0178 79.922 28.124 78.5372 24.0535 C 77.1525 20.1002 74.8594 11.3942 74.7633 10.9474 L 74.429 9.7001 L 81.8807 7.7703 L 82.573 10.2644 L 77.7487 11.5115 C 78.4411 14.1003 80.0419 20.2174 81.0684 23.1351 C 82.0952 26.0535 82.9075 26.6417 83.0272 26.6417 C 83.0272 26.6417 83.0272 26.6417 82.9075 26.5238 L 82.0952 29.1359 Z" />
                          <path d="M 93.2234 49.8191 C 92.5309 49.8191 91.8387 49.583 91.3845 49.2537 C 89.9998 48.36 89.5457 46.4299 89.5457 46.1006 L 80.3762 5.4174 L 96.0891 1.4642 L 96.7814 3.9584 L 83.5998 7.2294 L 92.1967 45.5131 L 92.1967 45.5131 C 92.1967 45.8425 92.5309 46.6415 92.889 46.9709 C 93.0089 47.0889 93.1274 47.0889 93.5815 47.0889 C 96.1128 46.5245 104.2319 44.5948 104.2319 44.5948 L 104.8058 47.1837 C 104.686 47.1837 96.5433 49.1122 94.0356 49.6776 C 93.796 49.701 93.438 49.8191 93.2234 49.8191 Z" />
                          <path d="M 79.564 38.9709 C 78.8716 38.9709 78.0831 38.8535 77.5105 38.5239 C 76.364 37.9592 65.0213 26.4296 57.7841 18.8766 C 57.3313 19.2059 56.7574 19.5587 56.065 19.8881 C 54.9185 20.453 53.7732 20.6885 52.9611 20.7825 C 52.507 22.0295 51.5757 24.4063 50.4298 26.665 C 49.1642 29.3712 45.5101 30.1708 43.4322 29.818 C 40.4475 29.3712 40.4475 27.8888 40.8055 24.6176 C 41.1399 21.5588 41.4985 19.2999 41.6177 18.9706 C 41.7368 18.1709 42.3101 13.559 44.3642 11.6295 C 46.0833 10.053 52.8413 5.653 53.7732 5.0881 C 54.6802 4.2877 56.7574 3.3942 59.623 4.5232 C 62.6084 5.653 77.1525 11.3 77.2709 11.4175 L 76.2442 13.9116 C 76.1243 13.7942 61.4619 8.1472 58.5963 7.1354 C 56.6389 6.4525 55.6122 7.1354 55.4923 7.2527 L 55.3726 7.3701 L 55.2542 7.3701 C 53.1994 8.7354 47.5642 12.4531 46.2025 13.7002 C 45.1757 14.7118 44.4833 17.9823 44.2444 19.4647 L 44.2444 19.5828 C 44.2444 19.5828 43.7909 21.8414 43.5521 25.1117 C 43.4322 25.6765 43.3131 26.924 43.4322 27.3707 C 43.5521 27.3707 43.7673 27.4886 44.0055 27.4886 C 45.2711 27.7239 47.5642 27.1592 48.2566 25.7947 C 49.6413 22.853 50.8833 19.3474 50.8833 19.3474 L 51.2176 18.547 L 52.1252 18.547 C 52.1252 18.547 53.8443 18.4298 55.1107 17.8647 C 56.3756 17.1825 56.8298 16.6178 56.9482 16.5004 L 57.8565 15.041 L 59.003 16.4058 C 66.1191 23.6301 77.6776 35.4891 79.0624 36.5009 C 79.5165 36.7361 80.7815 36.6183 81.5938 36.3828 L 82.2861 38.8774 C 81.7609 38.7361 80.7104 38.9709 79.564 38.9709 Z" />
                          <path d="M 42.4298 52.8542 C 41.5222 52.8542 40.591 52.5247 39.6833 51.9603 C 36.4834 49.701 37.63 45.6299 38.6567 43.8177 L 39.1101 43.1356 L 39.9223 43.1356 C 40.0414 43.1356 42.549 43.3718 44.6268 45.0657 C 46.9191 46.9955 47.3727 48.6895 47.3727 48.9008 L 47.4924 49.4651 L 47.1581 50.0305 C 46.8955 50.3835 45.1757 52.8542 42.4298 52.8542 ZM 40.591 45.9838 C 40.4712 46.3132 40.3521 46.6659 40.2566 47.1123 C 40.0177 48.6895 40.7101 49.3715 41.1635 49.701 C 41.6177 50.0305 41.9757 50.1487 42.4298 50.1487 C 43.2413 50.1487 44.0298 49.4651 44.4833 49.0188 C 44.2444 48.5713 43.6711 47.8892 42.7642 46.9955 C 41.9757 46.5481 41.1635 46.1952 40.591 45.9838 Z" />
                          <path d="M 36.3643 48.4534 C 35.6712 48.4534 34.9789 48.2186 34.3102 47.8892 C 31.3254 46.3132 31.8986 42.6896 32.591 41.1122 L 32.9254 40.4301 L 33.7368 40.4301 C 33.7368 40.4301 33.8567 40.4301 33.9758 40.4301 C 34.4292 40.4301 36.2681 40.5475 37.8681 41.6779 C 39.9223 43.0422 40.4955 44.5013 40.6147 44.7361 L 40.8536 45.3003 L 40.6147 45.7478 C 40.0177 46.5481 38.5368 48.4534 36.3643 48.4534 ZM 34.7643 42.9244 C 34.5253 43.7244 34.5253 44.9476 35.5757 45.5131 C 35.8147 45.6299 36.149 45.7478 36.388 45.7478 C 36.9612 45.7478 37.5338 45.3003 37.8681 44.8542 C 37.63 44.5248 37.1758 44.0538 36.4834 43.6063 C 35.9101 43.2537 35.2177 43.0422 34.7643 42.9244 Z" />
                          <path d="M 48.1611 55.3481 C 47.707 55.3481 47.1337 55.2301 46.6803 55.0188 C 43.8146 53.889 44.0536 50.6194 44.507 49.1355 L 44.7459 48.3367 L 45.5581 48.2186 C 45.5581 48.2186 45.8924 48.2186 46.3697 48.2186 C 47.0627 48.2186 48.2085 48.3367 49.3551 48.9008 C 51.313 49.9125 51.9817 51.0422 52.1016 51.2769 L 52.3398 51.8422 L 52.1016 52.4066 C 51.7191 53.4183 50.3337 55.3481 48.1611 55.3481 ZM 46.8955 50.8311 C 46.8955 51.5129 46.8955 52.2898 47.707 52.6426 C 47.946 52.7594 48.0414 52.7594 48.1611 52.7594 C 48.6146 52.7594 48.9727 52.4299 49.1878 51.9603 C 48.9489 51.7244 48.6146 51.395 48.0414 51.1602 C 47.707 50.9476 47.2536 50.8311 46.8955 50.8311 Z" />
                          <path d="M 31.4208 44.618 C 30.8475 44.618 30.2743 44.5013 29.7011 44.1719 C 27.1697 42.8063 27.6476 39.8893 28.3163 38.5239 L 28.6506 37.842 L 29.4628 37.842 C 29.4628 37.842 29.4628 37.842 29.5819 37.842 C 30.1551 37.842 31.5399 37.9592 32.7819 38.8535 C 34.3819 39.9833 34.9551 41.1122 34.9551 41.3483 L 35.1941 41.9125 L 34.9551 42.4769 C 34.8596 42.4769 33.6177 44.618 31.4208 44.618 ZM 30.5132 40.4301 C 30.3941 40.8776 30.5132 41.5597 31.0865 41.7947 C 31.2055 41.9125 31.4208 41.9125 31.5399 41.9125 C 31.7788 41.9125 31.9941 41.6779 32.2324 41.4651 C 31.9941 41.2303 31.7788 41.0182 31.4208 40.783 C 30.9667 40.6654 30.7521 40.5475 30.5132 40.4301 Z" />
                          <path d="M 29.0324 40.2189 C 29.0324 40.2189 26.8591 39.3245 24.2086 38.2887 L 25.2355 35.7946 C 27.7667 36.9241 29.94 37.8186 29.94 37.8186 L 29.0324 40.2189 Z" />
                          <path d="M 31.9941 12.994 C 31.3011 12.994 30.7277 12.8765 30.5132 12.7584 L 29.6056 12.5237 L 30.2981 9.9349 L 31.3254 10.1704 L 31.3254 10.1704 C 31.3254 10.1704 32.2324 10.4058 33.0445 10.053 C 33.9521 9.6053 36.0292 8.4766 36.2445 8.3585 L 46.2267 2.2643 C 46.8 1.9349 48.8535 0.6881 50 0.4528 C 51.1459 0.2174 52.9848 0.4528 53.1994 0.4528 L 64.5434 1.3468 C 64.9962 1.3468 66.5007 1.5822 67.2893 2.476 C 67.9816 3.1588 68.316 4.735 68.5543 5.2993 L 69.3664 8.3585 L 66.6206 9.0413 L 65.8084 5.8884 C 65.6886 5.2053 65.474 4.5232 65.2358 4.3116 C 65.116 4.1937 64.5434 4.0763 64.209 3.9817 L 52.9848 3.088 C 52.2924 3.088 51.0268 2.9702 50.4535 3.088 C 50.1191 3.2056 48.7337 3.7701 47.707 4.5465 L 37.63 10.7352 C 37.5101 10.7352 35.2177 12.0996 34.1909 12.5471 C 33.4986 12.8765 32.6865 12.994 31.9941 12.994 Z" />
                          <path d="M 55.6122 54.1007 C 53.7732 54.1007 51.0268 53.2069 50.4535 52.9722 L 51.3611 50.478 C 52.9611 51.0422 55.1343 51.4897 55.8267 51.3716 C 56.3993 51.2534 57.4261 50.2419 57.8802 49.5596 L 60.0534 51.019 C 59.7191 51.4662 58.0948 53.6077 56.1611 53.8423 C 55.9702 54.1007 55.8504 54.1007 55.6122 54.1007 Z" />
                          <path d="M 62.0359 52.8542 C 61.916 52.8542 61.916 52.8542 62.0359 52.8542 C 58.4778 52.7362 54.0115 48.2186 53.5574 47.6545 L 55.5161 45.8425 C 57.1167 47.5364 60.2206 50.124 62.0595 50.124 L 62.0595 50.124 C 62.8717 50.124 64.113 48.7595 64.8054 47.866 L 66.9786 49.325 C 66.5007 49.9359 64.5671 52.8542 62.0359 52.8542 Z" />
                          <path d="M 67.5275 50.0305 C 65.5702 50.0305 63.7549 48.4534 63.5167 48.3367 L 57.7841 43.2537 L 59.623 41.3236 L 65.3543 46.4066 C 65.8084 46.7361 66.955 47.5364 67.7671 47.4183 C 68.6741 47.3003 69.248 46.8542 69.7244 45.9592 C 69.9641 45.5131 70.1786 44.5948 70.1786 44.1472 L 72.806 44.2654 C 72.806 44.5013 72.6862 45.9592 71.9938 47.2069 C 71.0869 48.7827 69.8205 49.701 68.1014 49.9125 C 67.8868 50.0305 67.6473 50.0305 67.5275 50.0305 Z" />
                          <path d="M 73.164 45.6299 C 71.1106 45.6299 69.1518 44.0538 67.8868 42.9244 C 66.406 41.5597 62.6084 36.9475 62.3939 36.7123 L 64.4473 35.0184 C 65.474 36.3828 68.5793 39.9833 69.7244 40.9949 C 71.5633 42.8063 72.7098 43.0189 73.2838 43.0189 C 74.429 42.901 75.2411 42.4535 75.8151 41.7712 C 76.5074 40.8776 76.7221 39.6301 76.6259 38.9476 C 76.5074 38.054 76.3876 37.7006 75.5992 36.9241 L 77.5578 35.1124 C 78.7044 36.2419 79.1586 37.1359 79.277 38.6182 C 79.5165 39.9833 79.1586 41.8893 77.8922 43.4651 C 76.8656 44.7128 75.361 45.4883 73.5458 45.7245 C 73.3786 45.6299 73.2588 45.6299 73.164 45.6299 Z" />
                          <path d="M 86.7997 22.1476 L 86.1074 19.6533 L 88.0648 19.2059 L 88.7585 21.7948 L 86.7997 22.1476 ZM 90.6921 21.1359 L 90.1195 18.6411 L 92.0769 18.1942 L 92.7693 20.7825 L 90.6921 21.1359 ZM 94.5845 20.2174 L 93.8922 17.6293 L 95.8508 17.1825 L 96.5433 19.7708 L 94.5845 20.2174 ZM 98.5966 19.2059 L 97.9043 16.6178 L 99.8616 16.171 L 100.5554 18.7592 L 98.5966 19.2059 Z" />
                          <path d="M 24.543 43.3718 L 16.7583 40.9949 L 17.5698 38.5007 L 22.7285 39.9594 C 23.0621 38.3827 23.5399 35.3237 23.4208 32.0533 C 23.3011 27.5353 19.2896 24.3823 19.2896 24.3823 L 20.8896 22.3589 C 21.1278 22.4769 25.9285 26.1942 26.1667 32.0767 C 26.2865 37.4893 25.14 41.9125 25.0208 42.0073 L 24.543 43.3718 Z" />
                          <path d="M 24.2086 29.1359 L 23.5163 26.6417 C 23.3965 26.6417 23.3965 26.759 23.3965 26.759 C 23.3965 26.759 24.3041 26.1942 25.3552 23.2533 C 26.3819 20.3121 27.9819 14.2177 28.6743 11.6295 L 23.8507 10.3826 L 24.543 7.8882 L 31.9941 9.8175 L 31.6597 11.0648 C 31.5399 11.3942 29.2476 20.2174 27.8864 24.171 C 26.3819 28.2415 24.901 29.0417 24.2086 29.1359 Z" />
                          <path d="M 13.1996 49.8191 C 12.9608 49.8191 12.6264 49.8191 12.3881 49.701 C 9.8568 49.1355 1.2593 46.8776 0.8058 46.7594 L 1.4982 44.2654 C 1.618 44.2654 10.4294 46.5245 12.9608 47.0889 C 13.295 47.2069 13.534 47.0889 13.6537 46.9709 C 14.1072 46.6427 14.3461 45.8425 14.3461 45.5131 L 14.3461 45.3951 L 22.9431 7.1113 L 8.9729 3.3942 L 9.6654 0.9 L 26.0476 5.1821 L 16.8774 45.8658 C 16.7583 46.3132 16.424 48.1239 15.0385 49.0188 C 14.5851 49.583 13.8926 49.8191 13.1996 49.8191 Z" />
                          <path d="M 12.7462 40.1007 L 10.7881 39.6539 L 11.3607 37.0659 L 13.3194 37.5126 L 12.7462 40.1007 ZM 8.734 39.2064 L 6.7759 38.7595 L 7.3492 36.1707 L 9.3073 36.6183 L 8.734 39.2064 ZM 4.8416 38.2887 L 2.8835 37.842 L 3.4568 35.2537 L 5.4149 35.7006 L 4.8416 38.2887 Z" />
                          <path d="M 96.7578 41.3483 C 94.2264 41.3483 92.173 39.3245 92.173 36.8301 C 92.173 34.3356 94.2264 32.3123 96.7578 32.3123 C 99.2891 32.3123 101.3425 34.3356 101.3425 36.8301 C 101.3425 39.3245 99.2891 41.3483 96.7578 41.3483 ZM 96.7578 35.0184 C 95.731 35.0184 94.9189 35.8179 94.9189 36.8301 C 94.9189 37.842 95.731 38.6415 96.7578 38.6415 C 97.7844 38.6415 98.5966 37.842 98.5966 36.8301 C 98.5966 35.8179 97.8082 35.0184 96.7578 35.0184 Z" />
                        </g>
                      </svg>
                      <svg class="icon icon-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 85">
                        <g class="group" fill="#FFF">
                          <path d="M52.5 42.4c-5.7 0-19.1-.6-19.1-5.8 0-4.8 4.6-11.1 11.8-13.9-2.4-2.5-3.9-6.1-3.9-9.5C41.3 7 46.3 2 52.5 2s11.2 5 11.2 11.1c0 3.4-1.5 6.9-3.9 9.5 7.1 2.8 11.8 9.1 11.8 13.9 0 5.3-13.4 5.9-19.1 5.9zM55 26.3l3.8 9c.2.6.1 1.2-.3 1.6l-2.3 2.3c8-.4 12.1-1.9 12.4-2.8 0-4.1-5.2-10.1-12.1-11.8h-.1c-.1.2-.2.4-.3.5L55 26.3zm-6.4-1.7h-.1c-6.9 1.7-12.1 7.7-12.1 11.9.3.8 4.4 2.4 12.4 2.7L46.5 37c-.4-.4-.6-1.1-.3-1.6l3.8-9-1-1.2c-.2-.2-.3-.4-.4-.6zm.7 11l3.2 3.1 3.2-3.1-3.2-7.6-3.2 7.6zm.8-12.9c.2 0 .3 0 .5.1 1.3.5 2.5.5 3.8 0 .3-.1.7-.1 1 0 .1-.3.3-.6.6-.8 2.7-1.8 4.7-5.5 4.7-8.8C60.7 8.7 57 5 52.5 5s-8.2 3.7-8.2 8.1c0 3.3 2 7 4.7 8.8.3.2.5.5.6.8h.5z"/>
                          <path d="M95.3 83H9.8c-.8 0-1.5-.7-1.5-1.5v-2.3c0-.8.7-1.5 1.5-1.5h1.7v-.9c0-.8.7-1.5 1.5-1.5h.6V53h-7c-.9 0-1.6-.7-1.6-1.5v-4.2c0-.5.3-1 .7-1.3l8.5-5.5c.7-.4 1.5-.3 2 .3s.4 1.5-.2 2l-3.2 2.9H92l-3-2.8c-.6-.5-.7-1.4-.2-2 .5-.6 1.3-.8 2-.3l8.5 5.5c.4.3.7.8.7 1.3v4.2c0 .8-.7 1.5-1.5 1.5h-7v22.3h.6c.8 0 1.5.7 1.5 1.5v.9h1.7c.8 0 1.5.7 1.5 1.5v2.3c0 .7-.7 1.4-1.5 1.4zm-81.1-3h76.6c-.2-.2-.3-.5-.3-.8v-.9H90c-.8 0-1.5-.7-1.5-1.5V51.5c0-.8.7-1.5 1.5-1.5h7v-1.6c-.3.2-.6.4-1 .4H9c-.4 0-.8-.2-1-.4V50h7c.8 0 1.5.7 1.5 1.5v25.3c0 .8-.7 1.5-1.5 1.5h-.6v.9c0 .3-.1.6-.2.8z"/>
                        </g>
                      </svg>
                    </a>

                    <h3>Fornecedores</h3>
                  </div>
                </div>

                <div class="item item-clientes">
                  <div class="item-inner">
                    <div class="dot"></div>
                    <div class="bg"></div>

                    <a href="#" data-item-name="clientes">
                      <svg class="icon icon-main" viewBox="0 0 92 71" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        x="0px" y="0px" width="92px" height="71px">
                        <g class="group" fill="#ffffff">
                          <path d="M 35.1298 60.7218 L 41.2416 56.887 L 38.1854 63.7898 L 35.1298 60.7218 ZM 24.3392 56.887 L 30.4509 60.7218 L 27.3947 63.7898 L 24.3392 56.887 ZM 41.725 46.04 C 45.3129 42.5396 47.6511 37.2784 47.9788 32.1942 C 49.4752 31.6135 50.4031 30.0836 50.4031 28.0325 L 50.4031 22.1379 C 50.4031 20.7881 50.4031 18.421 47.4677 17.8466 L 47.4677 13.2954 C 47.4677 5.2201 43.2991 0.7692 35.7255 0.7692 C 30.9791 0.7692 26.3294 2.5114 25.149 2.9857 C 19.6246 3.1451 15.1776 7.7074 15.1776 13.2954 L 15.1776 18.2947 C 14.0182 18.9666 12.2416 20.2954 12.2416 22.1379 L 12.2416 28.0325 C 12.2416 30.0779 14.0062 31.699 15.964 32.2529 C 16.3784 37.4933 19.2996 43.1609 23.555 46.68 L 20.2647 51.6113 L 16.6453 51.6113 C 7.2899 51.6113 0.5 57.8123 0.5 66.3478 L 0.5 69.2953 C 0.5 70.1062 1.1573 70.7692 1.9677 70.7692 C 2.7781 70.7692 3.4354 70.1062 3.4354 69.2953 L 3.4354 66.3478 C 3.4354 59.4103 8.869 54.5587 16.6453 54.5587 L 20.095 54.56 L 25.578 66.9469 C 25.7745 67.3888 26.1768 67.7097 26.6522 67.7958 C 26.7401 67.8126 26.8315 67.822 26.9193 67.822 C 27.3038 67.822 27.6795 67.6688 27.9554 67.3824 L 32.785 62.535 L 37.619 67.3918 C 37.8981 67.6688 38.2738 67.822 38.6583 67.822 L 38.9227 67.8074 C 39.3982 67.7213 39.8 67.3971 39.9969 66.9585 L 45.485 54.56 L 49.1763 54.5587 C 56.8142 54.5587 62.1448 59.4072 62.1448 66.3478 L 62.1448 69.2953 C 62.1448 70.1062 62.8052 70.7692 63.613 70.7692 C 64.4197 70.7692 65.0802 70.1062 65.0802 69.3079 L 65.0802 66.3604 C 65.0802 57.6885 58.5375 51.6228 49.1763 51.6228 L 45.5449 51.6228 L 41.725 46.04 ZM 32.4233 50.1373 C 34.9832 50.1373 37.36 49.3057 39.445 47.905 L 42.625 52.55 L 32.795 58.72 L 23.11 52.64 L 25.97 48.355 C 27.9505 49.4782 30.1313 50.1373 32.4233 50.1373 ZM 35.7255 3.717 C 41.6528 3.717 44.5323 6.85 44.5323 13.2954 L 44.5323 19.1906 C 44.5323 20.0038 45.1896 20.6643 46 20.6643 C 47.4677 20.6643 47.4677 20.6643 47.4677 22.1379 L 47.4677 28.0325 C 47.4677 29.011 47.1595 29.5061 46.5491 29.5061 C 45.7388 29.5061 45.0815 30.166 45.0815 30.9797 C 45.0815 38.475 39.5507 47.1898 32.4202 47.1898 C 25.1083 47.1898 18.844 38.2803 18.844 30.9797 C 18.844 30.166 18.1862 29.5061 17.3763 29.5061 C 16.4075 29.5061 15.1744 28.6809 15.1744 28.0325 L 15.1744 22.1494 C 15.233 21.8225 16.2017 21.0089 17.2467 20.5342 C 17.7723 20.2954 18.113 19.7681 18.113 19.1906 L 18.113 13.2954 C 18.113 9.2313 21.4063 5.9272 25.4515 5.9272 C 25.6512 5.9272 25.845 5.8859 26.03 5.8092 C 26.077 5.7856 30.9645 3.717 35.7255 3.717 ZM 90.0318 70.7692 C 90.8396 70.7692 91.5 70.1062 91.5 69.2953 L 91.5 66.3478 C 91.5 57.0642 79.9141 53.5209 71.6794 53.3237 L 66.59 46.69 C 76.1183 45.6507 83.5632 41.2385 86.9385 34.449 C 87.1611 34.0037 87.1381 33.4675 86.88 33.0372 C 85.4943 30.7206 81.7543 24.1802 81.1816 21.7339 C 78.3727 9.7943 71.436 2.9474 62.1427 2.9474 C 59.4675 2.9474 56.926 3.5544 54.5633 4.7515 C 53.8412 5.1199 53.5497 6.007 53.9175 6.7319 C 54.2842 7.4481 55.1589 7.7461 55.8894 7.3831 C 57.83 6.3958 59.9315 5.8948 62.1396 5.8948 C 73.2469 5.8948 77.1636 17.4425 78.3288 22.4117 C 79.0007 25.2971 82.6227 31.593 83.9352 33.8326 C 82.1389 36.9248 76.4854 43.9778 62.1396 43.9778 C 58.7433 43.9778 55.7515 43.2705 53.0156 42.504 C 52.2433 42.28 51.4272 42.7427 51.2109 43.5265 C 50.9935 44.3108 51.445 45.1239 52.2288 45.3423 C 55.162 46.1648 58.3964 46.9254 62.1448 46.9254 L 63.075 46.915 L 63.1814 47.0754 L 69.7858 55.6876 C 70.0617 56.0497 70.4933 56.2626 70.9489 56.2626 C 77.7561 56.2626 88.5646 59.0001 88.5646 66.3478 L 88.5646 69.2953 C 88.5646 70.1062 89.225 70.7692 90.0318 70.7692 Z" />
                        </g>
                      </svg>
                      <svg class="icon icon-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 85">
                        <g class="group" fill-rule="evenodd" clip-rule="evenodd" fill="#FFF">
                          <path d="M7.9 37.7c-.9 0-1.8-.4-2.5-1.2-.6-.8-.8-1.7-.7-2.7.3-1.5 1.7-2.6 3.3-2.6h33.3v6.4H7.9v.1zM70 36.1H44.5v-3.2H70v3.2zm1.8-20c.3-.6.8-.9 1.4-.9h19.1c.6 0 1.2.3 1.4.9.3.5.2 1.2-.2 1.7l-.5.6H81.2c-.9 0-1.6.7-1.6 1.6 0 .9.7 1.6 1.6 1.6h11.2v25.7H81.2c-.9 0-1.6.7-1.6 1.6 0 .9.7 1.6 1.6 1.6h11.9l.5.6c.4.5.4 1.1.2 1.7-.3.6-.8.9-1.4.9H73.2c-.6 0-1.2-.3-1.4-.9-.3-.6-.2-1.2.2-1.7l.5-.6h2.4c.9 0 1.6-.7 1.6-1.6 0-.9-.7-1.6-1.6-1.6h-1.6V21.6h1.6c.9 0 1.6-.7 1.6-1.6 0-.9-.7-1.6-1.6-1.6h-2.4l-.5-.6c-.4-.5-.5-1.2-.2-1.7zM70 39.3v9.1l-.6.9c-1.1 1.5-1.3 3.4-.4 5 .8 1.7 2.4 2.7 4.3 2.7h19.1c1.8 0 3.5-1 4.3-2.7.8-1.6.7-3.6-.4-5l-.6-.9V20.6l.6-.9c1.1-1.5 1.3-3.4.4-5-.9-1.7-2.5-2.7-4.4-2.7H73.2c-1.8 0-3.5 1-4.3 2.7-.8 1.6-.7 3.6.4 5l.6.8v9.1H44.1c-.5-1-1.6-1.6-2.8-1.6H8.1c-3.2 0-5.9 2.2-6.4 5.1-.4 2 0 3.9 1.3 5.4 1.2 1.5 3 2.3 4.9 2.3h33.5c1.2 0 2.2-.6 2.8-1.6H70z"/>
                          <path d="M100.3 69.8h-35v-1.6c0-.9.7-1.6 1.6-1.6h31.9c.9 0 1.6.7 1.6 1.6v1.6zm-1.6-6.4H66.8c-2.6 0-4.8 2.2-4.8 4.8v3c0 1 .8 1.8 1.8 1.8h37.9c1 0 1.8-.8 1.8-1.8v-3c0-2.7-2.2-4.8-4.8-4.8z"/>
                        </g>
                      </svg>
                    </a>

                    <h3>Clientes</h3>
                  </div>
                </div>

                <div class="item item-governo">
                  <div class="item-inner">
                    <div class="dot"></div>
                    <div class="bg"></div>

                    <a href="#" data-item-name="governo">
                      <svg class="icon icon-main" viewBox="0 0 80 70" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        x="0px" y="0px" width="80px" height="70px">
                        <g class="group" fill="#ffffff">
                          <path d="M 40.4086 58.2035 L 40.4086 69.2295 L 47.0057 69.2295 L 47.0057 58.2035 L 40.4086 58.2035 ZM 39.5916 58.2035 L 32.9944 58.2035 L 32.9944 69.2295 L 39.5916 69.2295 L 39.5916 58.2035 ZM 27.5327 63.8015 L 27.5327 58.2035 L 25.3342 58.2035 L 25.3342 63.8015 L 27.5327 63.8015 ZM 20.9209 52.9924 L 20.9209 47.3933 L 18.7224 47.3933 L 18.7224 52.9924 L 20.9209 52.9924 ZM 20.9209 45.5861 L 20.9209 39.988 L 18.7224 39.988 L 18.7224 45.5861 L 20.9209 45.5861 ZM 20.9209 38.1807 L 20.9209 32.5825 L 18.7224 32.5825 L 18.7224 38.1807 L 20.9209 38.1807 ZM 23.3948 63.8015 L 23.3948 58.2035 L 21.1964 58.2035 L 21.1964 63.8015 L 23.3948 63.8015 ZM 16.7828 52.9924 L 16.7828 47.3933 L 14.5836 47.3933 L 14.5836 52.9924 L 16.7828 52.9924 ZM 16.7828 45.5861 L 16.7828 39.988 L 14.5836 39.988 L 14.5836 45.5861 L 16.7828 45.5861 ZM 16.7828 38.1807 L 16.7828 32.5825 L 14.5836 32.5825 L 14.5836 38.1807 L 16.7828 38.1807 ZM 59.6305 63.8015 L 59.6305 58.2035 L 57.432 58.2035 L 57.432 63.8015 L 59.6305 63.8015 ZM 65.4164 52.9924 L 65.4164 47.3933 L 63.2172 47.3933 L 63.2172 52.9924 L 65.4164 52.9924 ZM 65.4164 45.5861 L 65.4164 39.988 L 63.2172 39.988 L 63.2172 45.5861 L 65.4164 45.5861 ZM 65.4164 38.1807 L 65.4164 32.5825 L 63.2172 32.5825 L 63.2172 38.1807 L 65.4164 38.1807 ZM 55.4926 63.8015 L 55.4926 58.2035 L 53.293 58.2035 L 53.293 63.8015 L 55.4926 63.8015 ZM 61.2777 52.9924 L 61.2777 47.3933 L 59.0792 47.3933 L 59.0792 52.9924 L 61.2777 52.9924 ZM 61.2777 45.5861 L 61.2777 39.988 L 59.0792 39.988 L 59.0792 45.5861 L 61.2777 45.5861 ZM 61.2777 38.1807 L 61.2777 32.5825 L 59.0792 32.5825 L 59.0792 38.1807 L 61.2777 38.1807 ZM 50.5505 52.9924 L 50.5505 47.3933 L 45.0198 47.3933 L 45.0198 52.9924 L 50.5505 52.9924 ZM 42.6 52.9924 L 42.6 47.3933 L 37.0693 47.3933 L 37.0693 52.9924 L 42.6 52.9924 ZM 34.6495 52.9924 L 34.6495 47.3933 L 29.1189 47.3933 L 29.1189 52.9924 L 34.6495 52.9924 ZM 50.5505 45.5861 L 50.5505 39.988 L 45.0198 39.988 L 45.0198 45.5861 L 50.5505 45.5861 ZM 42.6 45.5861 L 42.6 39.988 L 37.0693 39.988 L 37.0693 45.5861 L 42.6 45.5861 ZM 34.6495 45.5861 L 34.6495 39.988 L 29.1189 39.988 L 29.1189 45.5861 L 34.6495 45.5861 ZM 50.5505 24.5865 L 50.5505 18.9877 L 45.0198 18.9877 L 45.0198 24.5865 L 50.5505 24.5865 ZM 42.6 24.5865 L 42.6 18.9877 L 37.0693 18.9877 L 37.0693 24.5865 L 42.6 24.5865 ZM 34.6495 24.5865 L 34.6495 18.9877 L 29.1189 18.9877 L 29.1189 24.5865 L 34.6495 24.5865 ZM 50.5505 38.1807 L 50.5505 32.5825 L 45.0198 32.5825 L 45.0198 38.1807 L 50.5505 38.1807 ZM 42.6 38.1807 L 42.6 32.5825 L 37.0693 32.5825 L 37.0693 38.1807 L 42.6 38.1807 ZM 34.6495 38.1807 L 34.6495 32.5825 L 29.1189 32.5825 L 29.1189 38.1807 L 34.6495 38.1807 ZM 39.8766 3.3267 L 53.2922 12.7937 L 53.2922 15.4821 L 59.3939 15.4821 L 61.296 15.4821 L 61.296 17.23 L 59.3939 17.23 L 59.3939 25.728 L 70.9822 25.728 L 72.709 25.728 L 72.709 27.4788 L 70.9822 27.4788 L 70.9822 70 L 80 70 L 80 67.2798 L 73.6697 67.2798 L 73.6697 30.1989 L 75.3965 30.1989 L 75.3965 27.4788 L 75.3965 25.728 L 75.3965 23.0078 L 72.709 23.0078 L 70.9822 23.0078 L 62.0815 23.0078 L 62.0815 19.9502 L 63.9836 19.9502 L 63.9836 17.23 L 63.9836 15.4821 L 63.9836 12.7618 L 61.296 12.7618 L 59.3939 12.7618 L 55.9797 12.7618 L 55.9797 11.374 L 54.8293 10.5623 L 41.4137 1.0955 L 39.8623 0 L 38.3203 1.1086 L 25.1514 10.5754 L 24.0204 11.3894 L 24.0204 12.7618 L 21.4319 12.7618 L 19.5316 12.7618 L 16.8442 12.7618 L 16.8442 15.4821 L 16.8442 17.23 L 16.8442 19.9502 L 18.7444 19.9502 L 18.7444 23.0078 L 9.0187 23.0078 L 7.291 23.0078 L 4.6035 23.0078 L 4.6035 25.728 L 4.6035 27.4788 L 4.6035 30.1989 L 6.3313 30.1989 L 6.3313 67.2798 L 0 67.2798 L 0 70 L 9.0187 70 L 9.0187 27.4788 L 7.291 27.4788 L 7.291 25.728 L 9.0187 25.728 L 21.4319 25.728 L 21.4319 17.23 L 19.5316 17.23 L 19.5316 15.4821 L 21.4319 15.4821 L 26.7078 15.4821 L 26.7078 12.7937 L 39.8766 3.3267 Z" />
                        </g>
                      </svg>
                      <svg class="icon icon-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 85">
                        <g class="group" fill="#ffffff">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M82.8 47.1h-4.7v-4.6h4.7v4.6zm0 9.3h-4.7v-4.6h4.7v4.6zm0 9.2h-4.7V61h4.7v4.6zm0 9.3h-4.7v-4.6h4.7v4.6zm-9.3 0h-14V61h-4.7v13.9h-14V10.1h32.7v64.8zm-37.3 0h-14V24h14v50.9zm46.6-37h-4.7V10.1c0-2.5-2.1-4.6-4.7-4.6H40.8c-2.6 0-4.7 2.1-4.7 4.6v9.3h-14c-2.6 0-4.7 2.1-4.7 4.6v50.9c0 2.6 2.1 4.6 4.7 4.6h60.7c2.6 0 4.7-2.1 4.7-4.6V42.5c0-2.5-2.1-4.6-4.7-4.6zM59.5 51.8h-4.7v4.6h4.7v-4.6zm-28 13.8h-4.7v4.6h4.7v-4.6zm0-9.2h-4.7V61h4.7v-4.6zm0-9.3h-4.7v4.6h4.7v-4.6zm0-9.2h-4.7v4.6h4.7v-4.6zm37.3-4.6h-4.7v4.6h4.7v-4.6zm-9.3 0h-4.7v4.6h4.7v-4.6zm-9.3 0h-4.7v4.6h4.7v-4.6zM68.8 61h-4.7v4.6h4.7V61zm-18.6 0h-4.7v4.6h4.7V61zm18.6-9.2h-4.7v4.6h4.7v-4.6zm-18.6 0h-4.7v4.6h4.7v-4.6zm18.6-9.3h-4.7v4.6h4.7v-4.6zm-9.3 0h-4.7v4.6h4.7v-4.6zm-9.3 0h-4.7v4.6h4.7v-4.6zm18.6-27.7h-4.7v4.6h4.7v-4.6zm-9.3 0h-4.7v4.6h4.7v-4.6zm-9.3 0h-4.7v4.6h4.7v-4.6zM68.8 24h-4.7v4.6h4.7V24zm-9.3 0h-4.7v4.6h4.7V24zm-9.3 0h-4.7v4.6h4.7V24zm-18.7 4.6h-4.7v4.6h4.7v-4.6z"/>
                        </g>
                      </svg>
                    </a>

                    <h3>Governo</h3>
                  </div>
                </div>

                <div class="item item-transportadoras">
                  <div class="item-inner">
                    <div class="dot"></div>
                    <div class="bg"></div>

                    <a href="#" data-item-name="transportadoras">
                      <svg class="icon icon-main" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="88px" height="70px" viewBox="0 0 88 70" enable-background="new 0 0 88 70" xml:space="preserve">
                        <g class="group" fill="#ffffff">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M84.6,61h-2.1c-0.8-3.2-3.6-5.6-7.1-5.6c-3.4,0-6.3,2.4-7.1,5.6 H50.6c-0.8-3.2-3.6-5.6-7.1-5.6c-3.4,0-6.3,2.4-7.1,5.6H34l2.1-15.7l19.4,0c0.5,0,0.9-0.2,1.3-0.6l4.8-5.5h23.1V61z M58,8.8h25.2v27 H60.8c-0.5,0-1,0.2-1.3,0.6l-4.8,5.5l-7.1,0L58,8.8z M86.3,35.8h-0.9V7.7c0-0.6-0.5-1.1-1.1-1.1H57.2c-0.5,0-0.9,0.3-1.1,0.8 L45.2,41.9l-10.6,0c-0.8,0-1.6,0.6-1.7,1.5l-0.1,0.5c-0.5-0.3-1.1-0.5-1.8-0.5c-0.5,0-1,0.1-1.4,0.3l6.6-43.3L34,0l-9.2,61 c-0.8-0.1-1.5-0.2-2.3-0.3l-5.5-0.9l-5.5-0.8l-2.7-0.4c-1,0.2-1.9,0.4-2.9,0.7c0.8,0.6,1.7,1.1,2.6,1.5l2.7,0.4l5.5,0.8l5.5,0.8 c0.8,0.1,1.6,0.2,2.3,0.4c2.2,0.3,2.2,0.3,2.2,0.3l1.1-7c0.5,0.4,1.1,0.7,1.8,0.8c0.5,0.1,1.1,0,1.6-0.1l-0.7,5.1 c-0.1,0.5,0.1,1,0.4,1.4s0.8,0.6,1.3,0.6h4.3c0.8,3.2,3.6,5.6,7.1,5.6c3.4,0,6.3-2.4,7.1-5.6h17.9c0.8,3.2,3.6,5.6,7.1,5.6 c3.4,0,6.3-2.4,7.1-5.6h3.8c0.9,0,1.7-0.8,1.7-1.7V37.5C88,36.6,87.2,35.8,86.3,35.8z M37.5,62.7c0-3,2.7-5.5,6-5.5 c3.3,0,6,2.5,6,5.5c0,3-2.7,5.5-6,5.5C40.2,68.2,37.5,65.8,37.5,62.7z M69.5,62.7c0-3,2.7-5.5,6-5.5c3.3,0,6,2.5,6,5.5 c0,3-2.7,5.5-6,5.5C72.2,68.2,69.5,65.8,69.5,62.7z" />
                          <path d="M21.7,57.7c0,0-0.1,0-0.1,0L0.9,54.6c-0.5-0.1-0.9-0.6-0.8-1.1l2.6-17.6c0-0.3,0.2-0.5,0.4-0.7 C3.2,35.1,3.5,35,3.7,35l20.7,3.1c0.5,0.1,0.9,0.6,0.8,1.1l-2.6,17.6c0,0.3-0.2,0.5-0.4,0.7C22.2,57.7,22,57.7,21.7,57.7z M2.1,52.8 l18.8,2.8l2.3-15.7L4.4,37.2L2.1,52.8z" />
                          <path d="M24.7,35.4c0,0-0.1,0-0.1,0L6.4,32.7c-0.5-0.1-0.9-0.6-0.8-1.1l2.6-17.6c0-0.3,0.2-0.5,0.4-0.7 C8.7,13.1,9,13,9.2,13.1l18.2,2.7c0.5,0.1,0.9,0.6,0.8,1.1l-2.6,17.6c0,0.3-0.2,0.5-0.4,0.7C25.1,35.3,24.9,35.4,24.7,35.4z M7.6,30.9l16.2,2.4l2.3-15.7L9.9,15.2L7.6,30.9z" />
                        </g>
                      </svg>
                      <svg class="icon icon-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 85">
                        <g class="group" fill="#ffffff">
                          <path d="M37.7 75c-2.2 0-4.1-1.7-4.4-3.9l-6.7-49.4c-1.6-1.2-2.5-3.1-2.5-5.1 0-3.6 2.9-6.6 6.5-6.6s6.5 2.9 6.5 6.6c0 1.6-.6 3.1-1.7 4.3l.1.6c.1-.1.2-.1.4-.2 5.2-2.6 9.8-4 14-4 2.4 0 4.6.3 6.8 1 2.1.7 4.5 1.6 7.1 2.9 1.4.7 3.1.6 5.4-.1 1.3-.4 2.3-.9 3.2-1.4 1-.6 1.9-1.1 2.8-1.5 1.4-.7 2-.8 2.4-.8.9 0 1.8.4 2.5 1 .7.7 1 1.5 1 2.5V45c0 .9-.3 1.7-.8 2.2-.4.4-.9.8-1.7 1.2-4.7 2.5-8.9 3.8-12.3 3.8-1.4 0-2.9-.3-4.4-.8-1.4-.5-2.6-1-3.7-1.6-.8-.5-1.9-.9-3.4-1.4-1.3-.4-2.6-.6-4-.6-3.1 0-6.9 1-11.3 3.1l2.6 19c.3 2.4-1.4 4.7-3.8 5-.3.1-.5.1-.6.1zm-7.2-62c-2 0-3.5 1.6-3.5 3.6 0 1.2.6 2.4 1.7 3 .4.2.6.6.7 1.1l6.8 50.1c.1.7.7 1.3 1.5 1.3h.3c.7-.1 1.3-.9 1.2-1.7l-2.7-20.1c-.1-.6.2-1.3.8-1.5 5.2-2.6 9.7-3.9 13.6-3.9 1.7 0 3.4.3 4.9.8 1.6.5 2.9 1.1 3.9 1.6.9.5 2 1 3.2 1.4 1.1.4 2.3.6 3.4.6 3 0 6.7-1.2 10.9-3.5.5-.3.7-.5.9-.6V20.9c0-.1 0-.2-.2-.4-.1-.1-.2-.1-.3-.2-.1 0-.4.1-1.1.5-.8.4-1.8.9-2.7 1.5-1.1.6-2.3 1.1-3.7 1.6-3 1-5.6 1-7.6 0-2.5-1.2-4.8-2.1-6.7-2.7-1.8-.6-3.7-.8-5.9-.8-3.6 0-7.9 1.2-12.6 3.6-1 .5-1.7.9-2.1 1.1-.4.3-1 .3-1.4.1-.5-.2-.8-.7-.8-1.2l-.5-3.5c-.1-.5.1-1 .5-1.3.8-.7 1.2-1.6 1.2-2.7-.1-1.9-1.7-3.5-3.7-3.5z"/>
                        </g>
                      </svg>
                    </a>

                    <h3>Transportadoras</h3>
                  </div>
                </div>

                <div class="item item-bancos">
                  <div class="item-inner">
                    <div class="dot"></div>
                    <div class="bg"></div>

                    <a href="#" data-item-name="bancos">
                      <svg class="icon icon-main" viewBox="0 0 67 80" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        x="0px" y="0px" width="67px" height="80px">
                        <g class="group" fill="#ffffff">
                          <path d="M 39.9868 36.9373 C 39.5811 33.2313 36.6891 31.9973 34.2151 31.3368 L 34.2151 27.4071 C 35.2163 27.4556 35.8662 27.7388 36.0143 27.8103 C 36.3076 27.9515 36.6506 27.9501 36.9438 27.8054 C 37.2361 27.6605 37.4474 27.3892 37.5172 27.067 L 37.9341 25.1437 C 38.0425 24.6443 37.7874 24.1366 37.3253 23.9282 C 36.4888 23.5494 35.3972 23.3494 34.2151 23.3384 L 34.2151 21.5104 C 34.2151 21.0504 33.8462 20.6793 33.3923 20.6793 C 32.9371 20.6793 32.5695 21.0518 32.5695 21.5104 L 32.5695 23.4491 C 28.85 23.985 26.4331 26.6993 26.7943 30.0052 C 27.09 32.703 28.9856 34.4624 32.5695 35.3846 L 32.5695 39.8649 C 31.5618 39.8698 30.5249 39.6503 29.6953 39.2341 C 29.3965 39.0846 29.0466 39.084 28.7484 39.2335 C 28.4509 39.3817 28.2369 39.6627 28.1726 39.9916 L 27.7872 41.9652 C 27.6946 42.4353 27.9216 42.9116 28.3433 43.1318 C 29.3766 43.6726 31.0132 43.9801 32.5695 43.9573 L 32.5695 45.7839 C 32.5695 46.2437 32.9385 46.6147 33.3923 46.6147 C 33.8469 46.6147 34.2151 46.2422 34.2151 45.7839 L 34.2151 43.7944 C 38.6252 43.0189 40.3079 39.8566 39.9868 36.9373 ZM 31.1639 29.2524 C 31.0933 28.6072 31.4473 27.8782 32.5695 27.5629 L 32.5695 30.7988 C 31.3896 30.3015 31.2284 29.8375 31.1639 29.2524 ZM 34.2151 39.6108 L 34.2151 35.9193 C 35.3671 36.4332 35.5411 36.9976 35.6083 37.611 C 35.7373 38.7847 34.968 39.3442 34.2151 39.6108 Z" />
                          <path d="M 33.5007 56.7893 C 20.9658 56.7893 10.7689 46.4905 10.7689 33.8328 C 10.7689 21.1733 20.9672 10.874 33.5007 10.874 C 46.0358 10.874 56.234 21.1733 56.234 33.8328 C 56.234 46.4905 46.0358 56.7893 33.5007 56.7893 ZM 33.5007 13.9812 C 22.6627 13.9812 13.8452 22.886 13.8452 33.8314 C 13.8452 44.777 22.6627 53.6818 33.5007 53.6818 C 44.338 53.6818 53.1554 44.777 53.1554 33.8314 C 53.1554 22.886 44.338 13.9812 33.5007 13.9812 Z" />
                          <path d="M 33.5385 80 L 32.2192 78.9352 C 32.1335 78.866 23.587 71.9387 14.2596 62.52 C 5.0106 53.1812 0 45.8425 0 33.8328 C 0 15.1775 15.0287 0 33.4993 0 C 51.9722 0 67 15.1775 67 33.8328 C 67 43.3136 62.202 52.9658 52.7401 62.52 C 46.0728 69.2534 34.9364 78.8022 34.8254 78.8977 L 33.5385 80 ZM 33.5007 4.1427 C 17.29 4.1427 4.1036 17.4613 4.1036 33.8328 C 4.1036 43.349 7.2761 49.608 17.1613 59.5909 C 24.1973 66.6969 30.7616 72.343 33.4733 74.6155 C 36.5917 71.9082 44.6302 64.8536 49.8412 59.5909 C 55.798 53.5758 62.8986 44.2229 62.8986 33.8328 C 62.8986 17.4613 49.7108 4.1427 33.5007 4.1427 Z" />
                        </g>
                      </svg>
                      <svg class="icon icon-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 85">
                        <g class="group" fill-rule="evenodd" clip-rule="evenodd" fill="#FFF">
                          <path d="M64.6 61.7V42.9c0-.7-.4-1.3-.9-1.6L36.3 25.9l6.1-3.8L68.7 37l-2.3 1.5c-.9.5-1.1 1.7-.6 2.5.4.6 1 .9 1.6.9.3 0 .7-.1 1-.3l2.1-1.3V58l-5.9 3.7zm9.6-25l-.1-.3-.1-.2V35.9l-.1-.1-.1-.2-.1-.1c-.1 0-.1-.1-.2-.1L45.9 19.9 61.7 10 88 24.9l-11.1 7c-.9.5-1.1 1.7-.6 2.5.6.9 1.7 1.1 2.6.6l13.7-8.6c.6-.3.9-.9.9-1.6 0-.7-.4-1.2-.9-1.6l-30-17c-.6-.3-1.3-.3-1.9 0L41.3 18.4l-9.6 6-19.3 12.1c-.6.3-.9.9-.9 1.6 0 .7.4 1.2.9 1.6l30 17c.3.2.6.2.9.2.3 0 .7-.1 1-.3L58.1 48c.9-.6 1.1-1.7.6-2.6-.5-.9-1.7-1.1-2.6-.6l-12.8 8L17 38l15.7-9.9L60.8 44v21.1c0 .7.4 1.3 1 1.6.3.1.6.2.9.2.3 0 .7-.1 1-.3l9.7-6c.5-.3.9-.9.9-1.6V36.9l-.1-.2z"/>
                          <path d="M90.7 30.6L77 39.2c-.9.5-1.1 1.7-.6 2.5.4.6 1 .9 1.6.9.3 0 .7-.1 1-.3l13.7-8.6c.9-.5 1.1-1.7.6-2.5-.6-.8-1.8-1.1-2.6-.6z"/>
                          <path d="M56.1 52.2l-12.8 8-29-16.4c-.9-.5-2-.2-2.5.7-.5.9-.2 2 .7 2.5l30 17c.3.2.6.3.9.3.3 0 .7-.1 1-.3l13.7-8.6c.9-.5 1.1-1.7.6-2.5-.5-.9-1.7-1.2-2.6-.7z"/>
                          <path d="M90.7 38L77 46.6c-.9.5-1.1 1.7-.6 2.5.4.6 1 .9 1.6.9.3 0 .7-.1 1-.3l13.7-8.6c.9-.5 1.1-1.7.6-2.5-.6-.9-1.8-1.1-2.6-.6z"/>
                          <path d="M56.1 59.6l-12.8 8-29-16.4c-.9-.5-2-.2-2.5.7-.5.9-.2 2 .7 2.5l30 17c.3.2.6.2.9.2.3 0 .7-.1 1-.3l13.7-8.6c.9-.5 1.1-1.7.6-2.5-.5-.9-1.7-1.1-2.6-.6z"/>
                          <path d="M90.7 45.4L76.9 54c-.9.5-1.1 1.7-.6 2.5.4.6 1 .9 1.6.9.3 0 .7-.1 1-.3l13.7-8.6c.9-.5 1.1-1.7.6-2.5-.5-.9-1.7-1.2-2.5-.6z"/>
                          <path d="M56.1 67l-12.8 8-29-16.4c-.9-.5-2-.2-2.5.7-.5.9-.2 2 .7 2.5l30 17c.3.2.6.2.9.2.3 0 .7-.1 1-.3l13.7-8.6c.9-.5 1.1-1.7.6-2.5-.5-.9-1.7-1.2-2.6-.6z"/>
                        </g>
                      </svg>
                    </a>

                    <h3>Bancos</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="solucao-content" id="solucao-content">
        <div class="bg-esq"><div class="tip"></div></div>
        <div class="bg-dir" style="background-image: url(img/_foto_paqueta.jpg);"></div>

        <div class="container">
          <div class="row content"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-clientes-home">
    <div class="bg-left"></div>
    <div class="bg-right"></div>

    <div class="container">
      <div class="lista-clientes-wrapper">
        <div class="caption" id="cliente-caption">
          <div class="caption-inner">
            <div class="col-left">
              <h2></h2>
              <p></p>
            </div>

            <div class="col-right">
              <a href="#" class="bt-cta">Veja o case</a>
            </div>
          </div>
        </div>

        <div class="lista-clientes">
          <div class="logo-cliente valign" data-link="#1" data-title="Lorem ipsum dolor sit." data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores aut repellendus in, quam at expedita ab voluptas unde aperiam facere deleniti voluptate. Itaque atque fugiat repellendus repellat perspiciatis illum doloremque!">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
          </div>

          <div class="logo-cliente valign" data-link="#2" data-title="Nisi sapiente iusto sit." data-content="Provident blanditiis ullam quam similique, dolorum beatae. Cumque atque hic illum illo sequi facere, praesentium laboriosam, aliquid distinctio vero commodi ut quod aspernatur autem labore rerum officiis, totam corrupti. Atque!">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
            <div class="icon icon-star"></div>
          </div>

          <div class="logo-cliente valign" data-link="#3" data-title="Sequi aut, fuga est!" data-content="Quis similique natus ad iste, commodi. Nostrum doloremque dolor autem, dignissimos ea! Perspiciatis molestias dolorum animi consectetur! Illum, facilis, explicabo perferendis nobis consequuntur laborum excepturi dolore minima, quasi numquam laboriosam.">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
            <div class="icon icon-star"></div>
          </div>

          <div class="logo-cliente valign" data-link="#4" data-title="Temporibus autem repellendus nihil!" data-content="Eos adipisci voluptatibus commodi nesciunt, dignissimos corporis alias quo cupiditate, quidem delectus quia praesentium veritatis molestias obcaecati culpa. Impedit omnis excepturi, vitae, odit aliquid sint architecto consequuntur eum quae! Maxime.">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
          </div>

          <div class="logo-cliente valign" data-link="#5" data-title="Explicabo, nam maiores unde." data-content="Sequi blanditiis vitae quaerat voluptatum in nam officiis ex dolorum, laborum inventore dolor labore autem eos eius quidem tempora possimus illo assumenda non a alias consequatur accusamus. Animi at, dolorem?">
            <div class="center">
              <img src="http://placehold.it/200x30/eee/f09" alt="">
            </div><i></i>
          </div>
        </div>
      </div>

      <div class="col-title">
        <h2>Cases</h2>
      </div>
    </div>
  </section>

  <section class="sec-blog-home">
    <div class="container">
      <div class="col-left valign">
        <div class="center">
          <h2>Blog da e-Sales</h2>
        </div><i></i>
      </div>

      <div class="col-right lista-posts">

        <a href="#" class="post valign">
          <span class="center">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit</span><i></i>

          <span class="caption">
            <span class="caption-inner">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</span>
              <i class="icon icon-arrow-right"></i>
            </span>
          </span>
        </a>

        <a href="#" class="post valign">
          <span class="center">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit</span><i></i>

          <span class="caption">
            <span class="caption-inner">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</span>
              <i class="icon icon-arrow-right"></i>
            </span>
          </span>
        </a>

        <a href="#" class="post valign last">
          <span class="center">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit</span><i></i>

          <span class="caption">
            <span class="caption-inner">
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</span>
              <i class="icon icon-arrow-right"></i>
            </span>
          </span>
        </a>
      </div>
    </div>
  </section>
</main>

<% include partials/footer %>

</body>
</html>