<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>E-Sales</h2>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-institucional.jpg);"></div>
        </div>
        <div class="main-content sec-institucional">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="cf">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 center-block intro">
                  <h1>Tecnologia inovadora e excelência no atendimento</h1>
                </div>
              </div>
            </div>
            <div class="col-left-full">
              <div class="col-left-full-inner">
                <p>Foi fundada em Porto Alegre/RS em 1995 da inquietude e determinação de seu fundador, passando por todas as dificuldades e necessidades que qualquer empresa iniciante enfrenta, mas com um espírito empreendedor e a alma guerreira, vem superando os desafios e crescendo ciclicamente. Iniciou suas atividades com a denominação de E-Sales Informática e na revisão estratégica de 2004 alterou-se a razão social para e-Sales Soluções de Integração Ltda, que já naquela época definia melhor o negócio da empresa que tem por objetivo prover integração eletrônica de informações e gestão colaborativa entre parceiros de negócios.
                  <br>
                  <br> Com atuação nacional a e-Sales ao completar 20 anos em 2015, pode comemorar alguns de seus maiores feitos, mas o maior, sem sombra de dúvida, são os 650 mil usuários atendidos pelas soluções tecnológicas desenvolvidas neste período. Assim como se orgulha da sua cultura e da excelência no atendimento, não apenas aos clientes, mas também aos fornecedores, parceiros e principalmente aos colaboradores, da mesma forma quanto às inovações que acompanham os produtos e atendem várias cadeias de suprimentos e segmentos empresariais, sem perder seu foco na satisfação e fidelização da carteira de clientes e agregando eficiência e eficácia aos processos interempresariais, fortalecendo os ganhos de valor aos nossos clientes e as empresas que se relacionam com eles.
                  <br>
                  <br> Fornecendo tecnologia inovadora em nossos portais de serviços no modelo cloud computing, sincronizamos indústrias, distribuidores, operadores logísticos, transportadoras, varejos, instituições financeiras e governo. A e-Sales ao longo dos seus 20 anos não perdeu sua essência; o foco na satisfação seus clientes. Não queremos ser apenas um fornecedor de serviço, mas um parceiro de negócio, onde consigamos trazer ganho real aos processos e aumento da rentabilidade e produtividade de nossos clientes.</p>
              </div>
            </div>
            <div class="col-right-full">
              <div class="box-visao cf">
                <div class="content">
                  <div class="item ico-visao">
                    <h3>Visão</h3>
                    <p>Prover a integração e a comunicação de processos interempresariais, com excelência e sustentabilidade.</p>
                  </div>
                  <div class="item ico-missao">
                    <h3>Missão</h3>
                    <p>Ser a melhor empresa em integração e comunicação de processos interempresariais.</p>
                  </div>
                  <div class="item ico-valores">
                    <h3>Valores</h3>
                    <ul>
                      <li><span>Valorização das pessoas, fomento de sonhos.</span></li>
                      <li><span>Fazer do negócio do cliente o nosso.</span></li>
                      <li><span>Orientação à inovação e criatividade.</span></li>
                      <li><span>Busca pela excelência e superação.</span></li>
                      <li><span>Ética e sustentabilidade.</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="sec-historia cf">
            <div class="container">
              <h3>História</h3>
              <ul>
                <li>
                  <div class="barra branco"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra branco"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra branco"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
                <li>
                  <div class="barra branco"></div>
                  <div class="texto">
                    <strong>1995</strong> Lorem ipsum dolor sir amet
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="sec-codigo cf">
            <div class="container">
              <div class="row">
                <div class="col-lg-3">
                  <img src="http://placehold.it/270x355/333/666" alt="">
                  <a href="#" class="bt-download-codigo">
                    <span class="item-inner">
                      <h3>Download<br>do código</h3>
                      <i class="icon icon-arrow-right"></i>
                    </span>
                  </a>
                </div>
                <div class="col-lg-9">
                  <h2>Código de Ética</h2>
                  <p>O Grupo e-Sales reconhece sua responsabilidade para com o desenvolvimento econômico, tecnológico e social do Brasil. Mas, dependerá também de profissionais e empresas que não queiram buscar apenas vantagens financeiras imediatas, mas decidam com responsabilidade social em longo prazo. A sobrevivência de nossas empresas e a felicidade dos nossos descendentes são frutos dos valores e caráter aplicados no presente. Nossos representantes devem exercer suas atividades com responsabilidade social em todos os locais de atuação:</p>
                  <ul>
                    <li><span>De forma ética e transparente; </span></li>
                    <li><span>Defendendo os princípios da justiça social e dos direitos humanos;</span></li>
                    <li><span>Repudiando a exploração das pessoas por meio do trabalho, especialmente trabalho infantil;</span></li>
                    <li><span>Repudiando quaisquer práticas financeiras ilícitas;</span></li>
                    <li><span>Adotando as leis e regulamentos relativos à saúde e segurança do trabalho;</span></li>
                    <li><span>Incentivando o comprometimento com a preservação do meio ambiente;</span></li>
                    <li><span>Colaborando para o desenvolvimento da consciência de cidadania das pessoas;</span></li>
                    <li><span>Incentivando trabalhos voluntários de seus colaboradores para a qualidade de vida da sociedade e;</span></li>
                    <li><span>Contribuindo com as entidades comunitárias das regiões de atuação do Grupo e-Sales.</span></li>
                  </ul>
                  <p>
                    Temos a satisfação de entregar, aos colaboradores e parceiros das empresas do Grupo e-Sales, a primeira edição do Código de Ética, mostrando nosso compromisso em servir aos clientes, valorizar as pessoas, agir com integridade e transparência, e colaborar com a qualidade de vida das comunidades onde mantemos negócios.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="sec-projetos-sociais cf">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 center-block intro">
                  <h2>Projetos Sociais</h2>
                  <p>Ações de cunho sociais estão em nossa pauta diariamente, para tanto apoiamos algumas para o bem-estar, não apenas de nossos colaboradores, mas para comunidades em risco, contribuindo não apenas financeiramente, mas com mobilização direta de nossas equipes</p>
                </div>
                <div class="lista-projetos-sociais">
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Promoção na captação de recursos e doações em ações sociais de entidades selecionadas pelos nossos colaboradores.</p>
                  </div>
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Promoção na captação de recursos e doações em ações sociais de entidades selecionadas pelos nossos colaboradores.</p>
                  </div>
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Vivemos em um mundo conectado, aonde as informações e imagens nos impactam diariamente, assim, não ficamos inertes com as mazelas de nossa sociedade.</p>
                  </div>
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Promoção na captação de recursos e doações em ações sociais de entidades selecionadas pelos nossos colaboradores.</p>
                  </div>
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Promoção na captação de recursos e doações em ações sociais de entidades selecionadas pelos nossos colaboradores.</p>
                  </div>
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Promoção na captação de recursos e doações em ações sociais de entidades selecionadas pelos nossos colaboradores.</p>
                  </div>
                  <div class="item col-lg-4">
                    <img src="http://placehold.it/370x200/333/666" alt="">
                    <h3>Páscoa Integrada</h3>
                    <p>Promoção na captação de recursos e doações em ações sociais de entidades selecionadas pelos nossos colaboradores.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="fundo-associacoes">
              <div class="container">
                <div class="lista-projetos-sociais-fixo">
                  <div class="item col-lg-6">
                    <img src="http://placehold.it/570x200/333/666" alt="">
                    <h3>Associação de Classe</h3>
                    <p>Ser participativo está em nossa cultura, desta forma estamos inseridos em diversas ações para o crescimento sustentável de nossa sociedade, buscando promover o associativismo que é uma das melhores formas para que os resultados sejam ampliados, como o lema “juntos somos mais fortes”, estamos interconectados com diversas empresas do segmento de tecnologia da informação.</p>
                  </div>
                  <div class="item col-lg-6">
                    <img src="http://placehold.it/570x200/333/666" alt="">
                    <h3>Associação dos Colaboradores ACAE</h3>
                    <p>Disseminando e aprofundando nossa cultura colaborativa e do intraempreendedorismo, incentivamos e apoiamos que nossos colaboradores participem de sua própria associação. Neste conceito foi construída a Associação dos Colaboradores e Associados do Grupo e-Sales (ACAE) que se solidifica a cada ano, com uma administração do mais jovem e de puro empreendedorismo.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sec-projetos-ambientais cf">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 center-block intro">
                  <h2>Projetos Ambientais</h2>
                  <p>Não podemos ficar à margem das necessidades humanas e o futuro das gerações e, para isto realizamos algumas ações no decorrer a nossa história, mesmo que pequenas, orientam nossa cultura cooperativa e colaborativa.</p>
                </div>
              </div>
            </div>
            <div class="col-left-full">
              <div class="col-left-full-inner">
                <h3>ASES – AÇÕES DE SUSTENTABILIDADE E-SALES SOLUÇÕES</h3>
                <p>Por estarmos localizados com unidades em vários estados e atuantes em todo país, nossa necessidade de movimentação humana logística sempre gerou altos números de consumo em combustíveis. Assim com nossas operações atuantes ininterruptamente nas 24h e nos 365 dias do ano e nossos datacenters interligados, se ampliam a utilização de energia, como também por uma equipe em franco crescimento, já somos mais de 150 colaboradores e inevitavelmente geramos uma quantidade grande de lixo. Mas imaginem como melhoramos todos estes processos.
                </p>
                <ul>
                  <li><span>Redução de viagens e utilização maciça de webinars e conference call;</span></li>
                  <li><span>Endomarketing com informativos sobre consumo consciente de energia;</span></li>
                  <li><span>Datacenters utilizados em compliance nas ações sustentáveis;</span></li>
                  <li><span>Redução e Separação seletiva de lixo</span></li>
                  <li><span>Substituição de copos plásticos pelas canecas e-Sales.</span></li>
                </ul>
              </div>
            </div>
            <div class="col-right-full">
              <div class="bg-dir"></div>
              <img src="http://placehold.it/270x200/333/f09" alt="">
              <img src="http://placehold.it/270x200/333/f09" alt="">
              <div class="clear"></div>
              <img src="http://placehold.it/270x200/333/f09" alt="">
              <img src="http://placehold.it/270x200/333/f09" alt="">
            </div>
          </div>
          <div class="sec-projetos-treina cf">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 center-block intro">
                  <h2>PROJETO DISSEMINANDO CONHECIMENTO</h2>
                  <p>As promoções para crescimento profissional de nossos colaboradores é assunto diário em nossas reuniões, cujas ações são diversas e transformadas em benefícios para todos.</p>
                </div>
              </div>
            </div>
            <div class="col-left-full">
              <div class="col-left-full-inner">
                <h3>Formação Integrada</h3>
                <p>Todos os colaboradores possuem benefícios estendidos, na formação profissional que se ampliam conforme os resultados e tempo de permanência na empresa. Promover a integração em a teoria da academia com a prática profissional reduzem o tempo de formação e agregam as experiências de nossos times.</p>
              </div>
            </div>
            <div class="col-right-full">
              <div class="col-right-full-inner">
                <h3>TREINAMENTOS COLABORATIVOS</h3>
                <p>Nossas equipes multidisciplinares possuem características despidas de preconceitos e únicas para empresas de tecnologia, pois misturamos tudo, as equipes são totalmente mescladas quanto à especialização técnica, sociais e humanas, além da orientação sexual, mas principalmente nas idades, onde os jovens a mais tempo da geração BB e X, estão totalmente integrados há geração Y e Z. Integrando exponencialmente promovemos treinamentos contínuos na formação, disseminando nosso conhecimento e formalizando em nossa metodologia de implantação de projeto de integração (MIPI) que está pautada na gestão de conhecimento utilizando-se em Scrum, BPMN e PMI e tecnologias colaborativas.</p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>
  </body>

</html>
