<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>Produtos</h2>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-solucao.jpg);"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="sec-solucoes cf">
            <div class="col-left-full">
              <div class="col-left-full-inner">
                <h3>Segmentação empresarial</h3>
                <p>As Unidades de negócio do grupo e-Sales Oobj atuam em diversos segmentos empresariais, sendo verticalizados, internacionalizados ou fragmentos, independentemente das cadeias de valor ao qual estejam inseridas, mas há uma superioridade na atuação em órgãos governamentais, industrias manufatureira, distribuição e logística, acentuando-se a presença nas cadeias: farmacêutica e cosméticos, alimentícia e bebidas, higiene e limpeza, têxtil e calçadista, transportes, como também em e-commerce e varejos.</p>
              </div>
              <div class="col-left-full-inner">
                <h3>Características</h3>
                  <p>Os produtos entregues aos clientes pelo grupo e-Sales Oobj, denotam de especialização, estando segmentados por Unidades de Negócios. Ambas atuam na melhoria de processos, sincronização de dados, interoperabilidade sistêmica, simplificação e automatização de processos empresariais, governamentais e bancários, promovendo a colaboração entre todas as cadeias valor. As unidades de negócios operam com marcas, plataformas de software e produtos distintos, mas os clientes podem optar por adquirir e formular soluções específicas, independentemente das Unidades em que estejam inseridos.</p>
              </div>
            </div>
            <div class="col-right-full">
              <div class="box-problema cf">
                <div class="content">
                  <h2>Unidades de negócios</h2>
                </div>
              </div>
              <div class="box-lista-solucoes">
                <ul>
                  <li>
                    <span>Unidade Supply Chain (USC)</span>
                    <div class="icon-wrapper">
                      <img src="img/icon-automacao.png" alt="">
                    </div>
                  </li>
                  <li>
                    <span>Unidade Negócios Financeiros (UNF)</span>
                    <div class="icon-wrapper">
                      <img src="img/icon-mobile.png" alt="">
                    </div>
                  </li>
                  <li>
                    <span>Unidade File Transfer (UFT)</span>
                    <div class="icon-wrapper">
                      <img src="img/icon-agendamento.png" alt="">
                    </div>
                  </li>
                  <li>
                    <span>Unidade Documentos Fiscais (UDF)</span>
                    <div class="icon-wrapper">
                      <img src="img/icon-catalogo.png" alt="">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="sec-contato">
            <div class="container">
              <form action="">
                <h2>Faça contato agora e receba outras novidades</h2>
                <div class="field-group">
                  <div class="field">
                    <input type="text" name="fc_nome" id="fc_nome" placeholder="Nome">
                  </div>
                  <div class="field">
                    <div class="field-append-button">
                      <input type="email" name="fc_email" id="fc_email" placeholder="E-mail">
                      <button type="submit"><i class="icon icon-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="compartilhe-solucao">
              <p>Compartilhe esta solução</p>
              <div class="social">
                <a href="#" class="icon icon-facebook" title="Facebook"></a>
                <a href="#" class="icon icon-twitter" title="Twitter"></a>
                <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>
              </div>
            </div>
          </div>
          <div class="sec-outro">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Cases de sucesso</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                      <span class="overlay">
                        <h3>Qual era a necessidade?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                      </span>
                      <img src="http://placehold.it/570x485/333/f09" alt="">
                    </span>
                    <span class="caption caption-logo">
                      <span class="caption-inner">
                        <span class="logo-cliente valign">
                          <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                        </span>
                        <i class="icon icon-arrow-right"></i>
                      </span>
                    </span>
                  </a>
                </div>
                <div class="col-lg-6">
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                      <span class="overlay">
                        <h3>Qual era a necessidade?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                      </span>
                      <img src="http://placehold.it/570x485/333/f09" alt="">
                    </span>
                    <span class="caption caption-logo">
                      <span class="caption-inner">
                        <span class="logo-cliente valign">
                          <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                        </span>
                        <i class="icon icon-arrow-right"></i>
                      </span>
                    </span>
                  </a>
                </div>
                <!--
          <div class="col-lg-5 col-right">
            <h2>Conheça também</h2>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <img src="http://placehold.it/470x115/333/f09" alt="">
              </span>

              <span class="caption">
                <span class="caption-inner">
                  <h3>Soluções financeiras</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <img src="http://placehold.it/470x115/333/f09" alt="">
              </span>

              <span class="caption">
                <span class="caption-inner">
                  <h3>Soluções file transfer</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <img src="http://placehold.it/470x115/333/f09" alt="">
              </span>

              <span class="caption">
                <span class="caption-inner">
                  <h3>Soluções doc. eletrônicos</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>
          </div> -->
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>
  </body>

</html>
