<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

<body class="pt interna">

<% include partials/header %>

<main>
  <div class="hero">
    <div class="overlay">
      <div class="container valign">
        <div class="center">
          <h2>SCM</h2>
          <div class="logo-solucao">
            <img src="img/logo-entregoucom.png" alt="entregou.com">
          </div>
        </div><i></i>
      </div>
    </div>

    <div class="bg" style="background-image: url(img/hero-sec-solucao.jpg);"></div>
  </div>

  <div class="main-content">
    <div class="bg-esq"></div>
    <div class="bg-dir"></div>
    <div class="bg-center">
      <div class="bg-center-inner">
        <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
          x="0px" y="0px" width="1920px" height="657px">
          <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff"/>
        </svg>
      </div>
    </div>

    <div class="sec-scm cf">
      <div class="col-left-full">
        <div class="box-o-que-e cf">
          <div class="content">
            <h2>O que é SCM?</h2>
            <p>O produto SCM, atende todos os processos de compras e está subdividido em Pedidos de Vendas (Supply Vendas) e Ordens de Compras (Supply Compras), separando a visão dos parceiros no contexto comercial do Comprador e Vendedor, atuantes em toda a cadeia de suprimentos em seus vários elos de integração entre varejo, distribuidores, indústrias e fornecedores de matéria prima, além destes contempla, o Catálogo de Produtos, disponibilidade de etiquetas do varejo, controle de qualidade no recebimento de compras, workflow dos processos com follow-up sobre as ordens de compras.</p>
          </div>
        </div>
      </div>

      <div class="col-right-full">
        <div class="col-right-full-inner">
          <h3>Problema a <br>ser resolvido</h3>
          <p>Automatizar o cadastramento de produtos e recebimento das listas de preços, aumentar a velocidade e disponibilidade de compras e estoques, simplificar o recebimento de compras.</p>

          <div class="sep"></div>

          <h3>Benefícios</h3>
          <ul class="list-dots-outside">
            <li><span>Ganhos de escalas de compras</span></li>
            <li><span>Eliminação de falhas operacionais</span></li>
            <li><span>Garantia de entregas com qualidade</span></li>
            <li><span>Personalização da comunicação com fornecedores</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="sec-atributos cf">
      <div class="bg-esq"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h2>Atributos e características</h2>
            <ul>
              <li><span>Disponibilidade no Layout Pactuado (TXT, Edifact, XML, ASN)</span></li>
              <li><span>Impressão Web de pedidos em PDF</span></li>
              <li><span>Módulos de Qualidade e Workflow com Follow-up</span></li>
            </ul>
          </div>

          <div class="col-lg-7">
            <img src="img/foto-atributo.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="sec-case cf">
      <div class="bg-dir"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 pic-wrapper">
            <div class="pic">
              <img src="http://placehold.it/1170x550/333/f09" alt="">
              <div class="overlay">
                <h2>Case de sucesso</h2>

                <h3>Qual era a necessidade?</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
              </div>
            </div>
            <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                <i class="icon icon-arrow-right"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-servicos-complementares cf">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 center-block aligncenter">
            <h2>Produtos e serviços complementares</h2>
          </div>

          <div class="lista-servicos-complementares">
            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Tradução e consolidação de layout de arquivos</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Monitoramento de tráfego de dados</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>BPO para conferência eletrônica de compras</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Treinamento presencial e pós-venda ativo.</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Gestão de projetos no pré-projeto e na implantação do produto</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Customizações específicas do produto</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Tradução e consolidação de layout de arquivos</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Monitoramento de tráfego de dados</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>BPO para conferência eletrônica de compras</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Treinamento presencial e pós-venda ativo.</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Gestão de projetos no pré-projeto e na implantação do produto</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>

            <a href="#" class="item col-lg-4">
              <span class="item-inner">
                <h3>Customizações específicas do produto</h3>
                <i class="icon icon-arrow-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-contato">
      <div class="container">
        <form action="">
          <h2>Faça contato agora e receba outras novidades</h2>

          <div class="field-group">
            <div class="field">
              <input type="text" name="fc_nome" id="fc_nome" placeholder="Nome">
            </div>

            <div class="field">
              <div class="field-append-button">
                <input type="email" name="fc_email" id="fc_email" placeholder="E-mail">
                <button type="submit"><i class="icon icon-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="compartilhe-solucao">
        <p>Compartilhe esta solução</p>

        <div class="social">
          <a href="#" class="icon icon-facebook" title="Facebook"></a>
          <a href="#" class="icon icon-twitter" title="Twitter"></a>
          <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>

        </div>
      </div>
    </div>

    <div class="sec-outro sec-outro-single">
      <div class="container">
        <div class="row aligncenter">
          <div class="col-lg-12">
            <h2>Conheça também</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-right cf">
            <div class="col-lg-4">
              <a href="#" class="pic-wrapper">
                <span class="pic">
                  <img src="http://placehold.it/370x115/333/f09" alt="">
                </span>

                <span class="caption">
                  <span class="caption-inner">
                    <h3>Soluções financeiras</h3>
                    <i class="icon icon-arrow-right"></i>
                  </span>
                </span>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="#" class="pic-wrapper">
                <span class="pic">
                  <img src="http://placehold.it/370x115/333/f09" alt="">
                </span>

                <span class="caption">
                  <span class="caption-inner">
                    <h3>Soluções file transfer</h3>
                    <i class="icon icon-arrow-right"></i>
                  </span>
                </span>
              </a>
            </div>

            <div class="col-lg-4">
              <a href="#" class="pic-wrapper">
                <span class="pic">
                  <img src="http://placehold.it/370x115/333/f09" alt="">
                </span>

                <span class="caption">
                  <span class="caption-inner">
                    <h3>Soluções doc. eletrônicos</h3>
                    <i class="icon icon-arrow-right"></i>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include partials/footer %>

</body>
</html>