<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main class="sec-resultados">
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>FORAM ENCONTRADOS 6 RESULTADOS PARA “LOREM IPSUM”</h2>
              </div><i></i>
            </div>
          </div>

          <div class="bg" style="background:#113A72"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="lista-resultados">
                <div class="contador-resultados">
                  <h2>Soluções</h2>
                  <h3>Foram encontrados 2 resultados</h3>
                </div>
                <div class="box-solucao cf">
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                    <img src="http://placehold.it/470x115/333/f09" alt="">
                  </span>
                    <span class="caption">
                    <span class="caption-inner">
                    <h3>Soluções financeiras</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <i class="icon icon-arrow-right"></i>
                    </span>
                    </span>
                  </a>
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                    <img src="http://placehold.it/470x115/333/f09" alt="">
                  </span>
                    <span class="caption">
                    <span class="caption-inner">
                    <h3>Soluções file transfer</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <i class="icon icon-arrow-right"></i>
                    </span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="lista-resultados cf">
                <div class="contador-resultados">
                  <h2>Produtos</h2>
                  <h3>Foi encontrado 1 resultado</h3>
                </div>
                <div class="box-solucao cf">
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                    <img src="http://placehold.it/470x115/333/f09" alt="">
                  </span>
                    <span class="caption">
                    <span class="caption-inner">
                    <h3>Unidade Negócios Financeiros (UNF)</h3>
                    <i class="icon icon-arrow-right"></i>
                    </span>
                    </span>
                  </a>
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                    <img src="http://placehold.it/470x115/333/f09" alt="">
                  </span>
                    <span class="caption">
                    <span class="caption-inner">
                    <h3>Unidade Negócios Financeiros (UNF)</h3>
                    <i class="icon icon-arrow-right"></i>
                    </span>
                    </span>
                  </a>
                  <a href="#" class="pic-wrapper">
                    <span class="pic">
                    <img src="http://placehold.it/470x115/333/f09" alt="">
                  </span>
                    <span class="caption">
                    <span class="caption-inner">
                    <h3>Unidade Negócios Financeiros (UNF)</h3>
                    <i class="icon icon-arrow-right"></i>
                    </span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="lista-resultados cf">
                <div class="contador-resultados">
                  <h2>Demais resultados</h2>
                  <h3>Foram encontrados 2 resultados</h3>
                </div>
                <div class="demais-resultados">
                  <h3>Blog</h3>
                  <div class="item">
                    <a href=""><h4>LOREM IPSUM DOLOR SITER AMET, CONSECTETUR</h4>
                    <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. Nunc tempor nunc et nulla fermentum rutrum. Praesent facilisis, magna non hendrerit mollis, massa enim facilisis nibh, in dignissim ligula justo quis ligula. Ut viverra lacinia fermentum. Curabitur pulvinar purus ipsum, in tincidunt massa elementum quis. Maecenas maximus tincidunt tellus, a cursus diam. </p>
                    </a>
                  </div>
                  <div class="item">
                    <a href=""><h4>LOREM IPSUM DOLOR SITER AMET, CONSECTETUR</h4>
                    <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. Nunc tempor nunc et nulla fermentum rutrum. Praesent facilisis, magna non hendrerit mollis, massa enim facilisis nibh, in dignissim ligula justo quis ligula. Ut viverra lacinia fermentum. Curabitur pulvinar purus ipsum, in tincidunt massa elementum quis. Maecenas maximus tincidunt tellus, a cursus diam. </p>
                    </a>
                  </div>
                  <div class="item">
                    <a href=""><h4>LOREM IPSUM DOLOR SITER AMET, CONSECTETUR</h4>
                    <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Praesent eget euismod eros, at porta quam. Ut elementum sollicitudin ante, at elementum libero porttitor sit amet. Phasellus tincidunt aliquam tortor quis dignissim. Nunc tempor nunc et nulla fermentum rutrum. Praesent facilisis, magna non hendrerit mollis, massa enim facilisis nibh, in dignissim ligula justo quis ligula. Ut viverra lacinia fermentum. Curabitur pulvinar purus ipsum, in tincidunt massa elementum quis. Maecenas maximus tincidunt tellus, a cursus diam. </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>
  </body>

</html>
