<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

  <body class="pt interna">
    <% include partials/header %>
      <main>
        <div class="hero">
          <div class="overlay">
            <div class="container valign">
              <div class="center">
                <h2>Soluções</h2>
              </div><i></i>
            </div>
          </div>
          <div class="bg" style="background-image: url(img/hero-sec-solucao.jpg);"></div>
        </div>
        <div class="main-content">
          <div class="bg-esq"></div>
          <div class="bg-dir"></div>
          <div class="bg-center">
            <div class="bg-center-inner">
              <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="1920px" height="657px">
                <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff" />
              </svg>
            </div>
          </div>
          <div class="sec-solucoes-lista">
            <div class="container">
              <div class="row solucoes-lista-intro">
                <div class="col-lg-6">
                  <h2>Características</h2>
                  <p>As soluções entregues pelo grupo e-Sales Oobj aos clientes, levam em consideração os produtos já desenvolvidos, o conhecimento e especialização das unidades de negócios, mas principalmente, os requisitos e necessidades do mercado. As soluções agregam aos produtos, complementariedade, customizações específicas, diferenciação e automatização de processos. Neste processo o cliente pode montar sua solução agrupando produtos de todas as plataformas do grupo, criando desta forma, uma solução totalmente identificada com os clientes.</p>
                </div>
                <div class="col-lg-6">
                  <h2>Segmentação</h2>
                  <p>Todos os produtos existentes nas plataformas: entregou.com, interbancos, oobj, noov e edienterprise, atendem diversas áreas de negócios, atuando em todas as cadeias de suprimentos, desde fornecedores de matéria prima, como também indústrias, distribuidores, transportadores e até os varejos. Existem várias soluções já pré-configuradas, mas esta área de negócios visa atuar diretamente com o cliente na concepção de soluções amplamente valorizadas, pois os clientes adquirem apenas os itens que agregam valor às suas empresas.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h2>Conheça todas as soluções</h2>
<div class="lista-solucoes">
  <a href="http://e-sales.aldeia.biz/solucoes/documentos-fiscais-eletronicos/" class="item ico-sol-documentos">
    <span class="item-inner"><h3>DOCUMENTOS FISCAIS ELETRÔNICOS</h3></span>
  </a>
  <a href="http://e-sales.aldeia.biz/solucoes/integracao-de-dados/" class="item ico-sol-dados">
    <span class="item-inner"><h3>INTEGRAÇÃO DE DADOS</h3></span>
  </a>
  <a href="http://e-sales.aldeia.biz/solucoes/integracao-bancaria/" class="item ico-sol-integracao">
    <span class="item-inner"><h3>INTEGRAÇÃO BANCÁRIA</h3></span>
  </a>
  <a href="http://e-sales.aldeia.biz/solucoes/supply-chain-mercantil/" class="item ico-sol-supply">
    <span class="item-inner"><h3>SUPPLY CHAIN MERCANTIL</h3></span>
  </a>
  <a href="http://e-sales.aldeia.biz/solucoes/logistica-da-distribuicao/" class="item ico-sol-logistica">
    <span class="item-inner"><h3>LOGÍSTICA DA DISTRIBUIÇÃO</h3></span>
  </a>
</div>
                  <!-- <div class="lista-solucoes">
                    <a href="#" class="item">
                      <span class="item-inner">
                  <h3>Logística de distribuição</h3>
                  <i class="icon icon-arrow-right"></i>
                </span>
                    </a>
                    <a href="#" class="item">
                      <span class="item-inner">
                  <h3>Supply Chain - Mercantil</h3>
                  <i class="icon icon-arrow-right"></i>
                </span>
                    </a>
                    <a href="#" class="item">
                      <span class="item-inner">
                  <h3>Integração bancária</h3>
                  <i class="icon icon-arrow-right"></i>
                </span>
                    </a>
                    <a href="#" class="item">
                      <span class="item-inner">
                  <h3>Documentos fiscais</h3>
                  <i class="icon icon-arrow-right"></i>
                </span>
                    </a>
                    <a href="#" class="item">
                      <span class="item-inner">
                  <h3>Integração de dados</h3>
                  <i class="icon icon-arrow-right"></i>
                </span>
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="sec-contato">
            <div class="container">
              <form action="">
                <h2>Faça contato agora e receba outras novidades</h2>
                <div class="field-group">
                  <div class="field">
                    <input type="text" name="fc_nome" id="fc_nome" placeholder="Nome">
                  </div>
                  <div class="field">
                    <div class="field-append-button">
                      <input type="email" name="fc_email" id="fc_email" placeholder="E-mail">
                      <button type="submit"><i class="icon icon-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="compartilhe-solucao">
              <p>Compartilhe esta solução</p>
              <div class="social">
                <a href="#" class="icon icon-facebook" title="Facebook"></a>
                <a href="#" class="icon icon-twitter" title="Twitter"></a>
                <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>
              </div>
            </div>
          </div>
          <div class="sec-lista-cases">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Veja outros cases de sucesso</h2>
                </div>
              </div>
              <div class="row">
                <a href="#" class="col-lg-6 pic-wrapper">
                  <div class="pic">
                    <img src="http://placehold.it/570x485/333/f09" alt="">
                    <div class="overlay">
                      <h3>Qual era a necessidade?</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                  </div>
                  <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                  <i class="icon icon-arrow-right"></i>
                  </span>
                  </span>
                </a>
                <a href="#" class="col-lg-6 pic-wrapper">
                  <div class="pic">
                    <img src="http://placehold.it/570x485/333/f09" alt="">
                    <div class="overlay">
                      <h3>Qual era a necessidade?</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                  </div>
                  <span class="caption caption-logo">
              <span class="caption-inner">
                <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                  <i class="icon icon-arrow-right"></i>
                  </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% include partials/footer %>
  </body>

</html>
