<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

<body class="pt interna">

<% include partials/header %>

<main>
  <div class="hero">
    <div class="overlay">
      <div class="container valign">
        <div class="center">
          <h2>Supply Chain</h2>
          <div class="logo-solucao">
            <img src="img/logo-entregoucom.png" alt="entregou.com">
          </div>
        </div><i></i>
      </div>
    </div>

    <div class="bg" style="background-image: url(img/hero-sec-solucao.jpg);"></div>
  </div>

  <div class="main-content">
    <div class="bg-esq"></div>
    <div class="bg-dir"></div>
    <div class="bg-center">
      <div class="bg-center-inner">
        <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
          x="0px" y="0px" width="1920px" height="657px">
          <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff"/>
        </svg>
      </div>
    </div>

    <div class="sec-solucoes cf">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 center-block intro">
            <h1>Sobre Supply Chain</h1>
            <p>A Solução oferece serviços de traduções e consolidação de arquivos EDI, como também a unificação de todos os processos de captação de pedidos e entregas, até mesmo de sistemas externos, padronizando assim a comunicação do ERP internos com a comunidade externa. Desta forma proporciona uma melhor gestão de estoques, redução de rupturas e aumento em vendas, já que reduz consideravelmente possíveis erros operacionais e amplia a visão de necessidadesde reabastecimento.</p>
            <p>A colaboração de dados, aliado ao follow-up operacional, elimina retrabalhos e falhas no recebimento de suprimentos, traz transparência e confiabilidade nos prazos de entregas dos fornecedores.</p>
          </div>
        </div>
      </div>

      <div class="col-left-full">
        <div class="box-problema cf">
          <div class="content">
            <h2>Problema a ser resolvido</h2>
            <p>Automatizar a visão da cadeia de suprimentos, reduzindo falhas de comunicação, gerando transparência entre compras e recebimentos, além de garantir a continuidade de ressuprimento para as linhas de produção.</p>
          </div>
        </div>

        <div class="box-lista-solucoes">
          <ul>
            <li>
              <span>Automação da cadeia de suprimentos</span>
              <div class="icon-wrapper">
                <img src="img/icon-automacao.png" alt="">
              </div>
            </li>
            <li>
              <span>Controle de entregas mobile</span>
              <div class="icon-wrapper">
                <img src="img/icon-mobile.png" alt="">
              </div>
            </li>
            <li>
              <span>Agendamento de entregas</span>
              <div class="icon-wrapper">
                <img src="img/icon-agendamento.png" alt="">
              </div>
            </li>
            <li>
              <span>Catálogo de produtos</span>
              <div class="icon-wrapper">
                <img src="img/icon-catalogo.png" alt="">
              </div>
            </li>
            <li>
              <span>Qualidade de recebimentos</span>
              <div class="icon-wrapper">
                <img src="img/icon-recebimento.png" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-right-full">
        <div class="col-right-full-inner">
          <h3>Benefícios</h3>
          <ul class="list-dots-outside">
            <li><span>Eliminar digitação de documentos fiscais com antecipação de críticas de negócios</span></li>
            <li><span>Preparação antecipada do recebimento de cargas agendadas.</span></li>
            <li><span>Transparência na movimentação de cargas entre portaria, pátios e docas.</span></li>
            <li><span>Redução de custos com ociosidade na plataforma de recebimento.</span></li>
            <li><span>Ampliação da comunicação com fornecedores.</span></li>
          </ul>

          <div class="sep"></div>

          <h3>Atributos e características</h3>
          <ul class="list-dots-outside">
            <li><span>Agendamento de Entregas</span></li>
            <li><span>Follow-up por mensagens unificadas</span></li>
            <li><span>Padronizações estatísticas sobre ocorrências de entregas</span></li>
            <li><span>Antecipação do cadastro e catálogo de produtos dos fornecedores</span></li>
            <li><span>Controle de pedidos com agendamento de entregas</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="sec-contato">
      <div class="container">
        <form action="">
          <h2>Faça contato agora e receba outras novidades</h2>

          <div class="field-group">
            <div class="field">
              <input type="text" name="fc_nome" id="fc_nome" placeholder="Nome">
            </div>

            <div class="field">
              <div class="field-append-button">
                <input type="email" name="fc_email" id="fc_email" placeholder="E-mail">
                <button type="submit"><i class="icon icon-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="compartilhe-solucao">
        <p>Compartilhe esta solução</p>

        <div class="social">
          <a href="#" class="icon icon-facebook" title="Facebook"></a>
          <a href="#" class="icon icon-twitter" title="Twitter"></a>
          <a href="#" class="icon icon-linkedin" title="LinkedIn"></a>

        </div>
      </div>
    </div>

    <div class="sec-outro">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Case de sucesso</h2>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <span class="overlay">
                  <h3>Qual era a necessidade?</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                </span>

                <img src="http://placehold.it/570x485/333/f09" alt="">
              </span>

              <span class="caption caption-logo">
                <span class="caption-inner">
                  <span class="logo-cliente valign">
                  <img src="http://placehold.it/118x60/333/f09" alt="" class="center"><i></i>
                </span>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>
          </div>

          <div class="col-lg-1"><br></div>

          <div class="col-lg-5 col-right">
            <h2>Conheça também</h2>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <img src="http://placehold.it/470x115/333/f09" alt="">
              </span>

              <span class="caption">
                <span class="caption-inner">
                  <h3>Soluções financeiras</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <img src="http://placehold.it/470x115/333/f09" alt="">
              </span>

              <span class="caption">
                <span class="caption-inner">
                  <h3>Soluções file transfer</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>

            <a href="#" class="pic-wrapper">
              <span class="pic">
                <img src="http://placehold.it/470x115/333/f09" alt="">
              </span>

              <span class="caption">
                <span class="caption-inner">
                  <h3>Soluções doc. eletrônicos</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                  <i class="icon icon-arrow-right"></i>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include partials/footer %>

</body>
</html>