<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>

<body class="pt interna">

<% include partials/header %>

<main>
  <div class="hero">
    <div class="overlay">
      <div class="container valign">
        <div class="center">
          <div class="logo-solucao">
            <img src="img/logo-entregoucom.png" alt="entregou.com">
          </div>
        </div><i></i>
      </div>
    </div>

    <div class="bg" style="background-image: url(img/hero-sec-unidade.jpg);"></div>
  </div>

  <div class="main-content">
    <div class="bg-esq"></div>
    <div class="bg-dir"></div>
    <div class="bg-center">
      <div class="bg-center-inner">
        <svg class="img" viewBox="0 0 1920 657" style="background-color:#ffffff00" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
          x="0px" y="0px" width="1920px" height="657px">
          <path class="shape-bg" d="M 0 0 L 523 57 L 960 2.7641 L 1397 57 L 1920 3.191 L 1920 657 L 0 657 L 0 0 Z" fill="#ffffff"/>
        </svg>
      </div>
    </div>

    <div class="sec-unidade">
      <div class="container cf">
        <div class="row">
          <div class="col-lg-6">
            <h2>Histórico</h2>
            <p>A unidade supply chain (USC), nasceu da necessidade de atendimento especializado ao segmento calçadista no ano de 2002, a partir de um projeto em conjunto com a ABICalçados, GS1 Brasil e várias empresas do segmento, atuando nos processos mercantis e logísticos, cresceu e atualmente atende 1.800 transportadoras e mais de 10 mil indústrias e varejos, ao longo do tempo, especializou-se em atender toda a cadeia de suprimentos e consolidou-se com a marca entregou.com.</p>
          </div>

          <div class="col-lg-6">
            <h2>Mercados</h2>
            <p>A unidade atua em diversas cadeias de valor, como: farmacêutica, bebidas, alimentício, automotiva, calçadista, têxtil, higiene e limpeza, cosméticos e perfumaria, gráficas, editoras e papelaria, logística e transportes, plásticos e ferramentas, todas sem exceção, desde as várias camadas de fornecedores de matérias primas, passando pela indústria até os varejos. </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h2>Produtos</h2>
            <p>A linha de produtos desenvolvidos pela unidade está devidamente integrada aos processos logísticos de abastecimento, agendamento e movimentações de armazéns, compras e vendas mercantis, logística da distribuição, além da logística reversa e da gestão de processos de comunicação, compondo soluções altamente especializadas nos vários segmentos de atuação.</p>
          </div>

          <div class="col-lg-6">
            <h2>Atendimentos</h2>
            <p>A diferenciação no atendimento da unidade vem da profunda especialização e da facilidade em customizações e desenvolvimentos específicos a cada cadeia de suprimentos e a cada necessidade dos clientes. Desta forma o cliente adquire não apenas um software, mas a tranquilidade operacional e conectividade de dados necessária para o sucesso dos negócios. O cliente conta com suporte 24h do dia e sete dias por semana, ininterruptos, além de uma infraestrutura diferenciada de datacenters que propiciam entregas via cloud computing de sistemas como serviços (saas).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-outras-unidades">
      <div class="container">
        <div class="row align-center">
          <div class="col-lg-12">
            <h2>Produtos e serviços</h2>
          </div>
        </div>

        <div class="lista-unidades">
          <ul>
            <li>
              <a href="#" class="item valign">
                <span class="center">SCM – SUPPLY CHAIN MANAGEMENT</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">TMS – CONFERÊNCIA DE FRETES</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">SRM – PERFORMANCE DE TRANSPORTES</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">SCM – SUPPLY CHAIN MANAGEMENT</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">TMS – CONFERÊNCIA DE FRETES</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">SRM – PERFORMANCE DE TRANSPORTES</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">SCM – SUPPLY CHAIN MANAGEMENT</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">TMS – CONFERÊNCIA DE FRETES</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
            <li>
              <a href="#" class="item valign">
                <span class="center">SRM – PERFORMANCE DE TRANSPORTES</span><i></i>
                <b class="icon icon-arrow-right"></b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<% include partials/footer %>

</body>
</html>