/*======================================
  Botões
======================================*/

.bts-social {
  font-size: 0;
  white-space: nowrap;
  margin: 18px auto 30px;
  a {
    @include inline-block;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    transition: .2s;
    color: #FFF;
    & + a {
      margin-left: 58px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.bt,
.bt:focus,
.bt:active {
  height: 40px;
  border: none;
  background: #2F192E;
  color: #FFF;
  @include inline-block;
  padding: 0 30px;
  border-radius: 2px;
  text-transform: uppercase;
  font: 16px/40px sans-serif;
  transition: .2s;
  transform: translateZ(0) scale(1);
  position: relative;
  outline: none;
}

a.bt:active,
button.bt:active {
  transform: translateZ(0) scale(0.96);
}

a.bt:hover,
button.bt:hover {
  opacity: 0.8;
}

.bt-padrao {
  @include inline-block;
  height: 60px;
  border: 1px solid #F2C007;
  background: #fff;
  border-radius: 30px;
  padding: 0 60px;
  font: 20px/60px 'ralewaymedium', sans-serif;
  text-transform: uppercase;
  color: #F2C007;
  transition: .2s;
  &:hover {
    background: #FDF6DA;
  }
}

.bt-padrao-pq {
  @include inline-block;
  height: 40px;
  border: 1px solid #F2C007;
  background: #fff;
  border-radius: 20px;
  padding: 0 20px;
  font: 15px/40px 'ralewaymedium', sans-serif;
  text-transform: uppercase;
  color: #F2C007;
  transition: .2s;
  &:hover {
    background: #FDF6DA;
  }
}

.bt-menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  border: none;
  padding: 0;
  float: left;
  background: none;
  width: 56px;
  height: 50px;
  transition: .2s;
  background: none;
  &:active {
    transform: scale(0.9);
  }
  &:active,
  &:focus {
    outline: none;
  }
  .hamburguer {
    width: 32px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    transition: .4s;
    .bar {
      position: absolute;
      width: 32px;
      height: 4px;
      background: #FFF;
      transition: .2s;
      outline: 1px solid transparent;
      border-radius: 2px;
    }
    .bar-1 {
      top: 0;
      left: 0;
    }
    .bar-2 {
      top: 10px;
      left: 0;
    }
    .bar-3 {
      top: 20px;
      left: 0;
    }
  }
}


.interna .bt-menu .hamburguer .bar {
  background: #113A72;
}
.interna .bt-menu .menu-open .hamburguer .bar {
  background: #fff;
}

.menu-open {
  .hamburguer {
    transform: rotate(180deg);
    .bar-1 {
      transform: rotate(45deg) translate3d(7.5px, 7px, 0);
    }
    .bar-2 {
      opacity: 0;
    }
    .bar-3 {
      transform: rotate(-45deg) translate3d(7.5px, -7px, 0);
    }
  }
}
