/*======================================
  Fontes
======================================*/
@font-face {
  font-family: 'ralewaymedium';
  src: url('fonts/raleway-medium.eot');
  src: url('fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-medium.woff2') format('woff2'),
       url('fonts/raleway-medium.woff') format('woff'),
       url('fonts/raleway-medium.ttf') format('truetype'),
       url('fonts/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('fonts/raleway-regular.eot');
  src: url('fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-regular.woff2') format('woff2'),
       url('fonts/raleway-regular.woff') format('woff'),
       url('fonts/raleway-regular.ttf') format('truetype'),
       url('fonts/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaybold';
  src: url('fonts/raleway-bold.eot');
  src: url('fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-bold.woff2') format('woff2'),
       url('fonts/raleway-bold.woff') format('woff'),
       url('fonts/raleway-bold.ttf') format('truetype'),
       url('fonts/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayextralight';
  src: url('fonts/raleway-extralight.eot');
  src: url('fonts/raleway-extralight.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-extralight.woff2') format('woff2'),
       url('fonts/raleway-extralight.woff') format('woff'),
       url('fonts/raleway-extralight.ttf') format('truetype'),
       url('fonts/raleway-extralight.svg#ralewayextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaythin';
  src: url('fonts/raleway-thin.eot');
  src: url('fonts/raleway-thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-thin.woff2') format('woff2'),
       url('fonts/raleway-thin.woff') format('woff'),
       url('fonts/raleway-thin.ttf') format('truetype'),
       url('fonts/raleway-thin.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'RalewayHeavy';
    src: url('fonts/Raleway-Heavy-webfont.eot');
    src: url('fonts/Raleway-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Heavy-webfont.woff') format('woff'),
         url('fonts/Raleway-Heavy-webfont.ttf') format('truetype'),
         url('fonts/Raleway-Heavy-webfont.svg#RalewayHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'ralewayregular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ralewaymedium', serif;
  font-weight: normal;
  margin: 0;
}
