/*======================================
  Formulários
======================================*/

form {
  margin: 20px 0 0;
  .row {
    margin: 20px 0 0;
  }
  label {
    margin-bottom: 6px;
    display: block;
    &.inline {
      @include inline-block;
      margin-right: 20px;
    }
    .obs {
      font-size: 12px;
    }
  }
}

.placefllabel {
  position: absolute;
  top: 0px;
  left: 21px;
  opacity: 0;
  font-size: 10px;
  font-weight: normal;
  color: #005E9A;
  transition: all 0.1s ease-in-out 0s;
}

.placefllabelshow {
  display: block;
  opacity: 1;
  left: 21px;
  top: 8px;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.label-floatlabel {
  position: absolute;
  display: block;
  opacity: 1;
  transition: all 0.1s ease-in-out 0s;
  font-size: 10px !important;
  font-weight: normal !important;
  color: #005E9A !important;
  left: 21px !important;
  top: 8px !important;
}

.active-floatlabel {
  padding-top: 18px !important;
}

.fieldset {
  margin: 20px 0 0;
}

.legend {
  margin-bottom: 20px;
}

.field-group-wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

.field-group {
  display: table;
  table-layout: fixed;
  width: 100%;
  .field {
    display: table-cell;
    padding: 0 10px;
  }
}

.field-group-choice {
  .field-group {
    width: auto;
  }
  .field {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0;
  }
}

.field {
  position: relative;
  vertical-align: top;
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email],
  select,
  textarea {
    background: none;
    border: 1px solid #221F1F;
    border-radius: 26px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #221F1F;
    font-size: 13px;
    transition: .2s;
    &:focus {
      border: 2px solid #005E9A;
      background: #E6F4FF;
      outline: none;
      box-shadow: none;
    }
  }
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email] {
    height: 52px;
  }
  select {
    height: 52px;
    padding: 10px 6px;
  }
  textarea {
    resize: none;
    overflow: auto;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 2px;
    position: relative;
    top: 1px;
    *overflow: hidden;
  }
}

.field-error {
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email],
  textarea {
    border: 2px solid #BC6901;
    background: #FEE6C0 url(img/erro-form-campo.png) top right no-repeat;
  }
}

.field-error {
  .selectric {
    border: 2px solid #BC6901;
    background: #FEE6C0;
  }
}

.form-error-message {
  color: #BC6901;
  font-family: ralewaybold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  padding: 3px 50px 10px 10px;
  background: transparent url("img/erro-form.png") no-repeat right top;
  margin: 10px 0;
}

.field-append-button {
  position: relative;
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email] {
    padding-right: 60px;
  }
  button {
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    border-left: 1px solid #221F1F;
    padding: 0 14px 0 10px;
    font-size: 20px;
    border-radius: 0 26px 26px 0;
    transition: .2s;
    .icon {
      line-height: 24px;
    }
    &:hover {
      background: #221F1F;
      color: #FFF;
    }
    &:focus,
    &:active {
      outline: none;
    }
  }
}
.field-append-button.field-error {
  input[type=text],
  input[type=email] {
    border: 2px solid #BC6901;
    background-image: none;
  }
}
.form-controls {
  margin-top: 20px;
  span {
    font-size: 12px;
  }
  .hidden {
    display: none;
  }
  .error-form {
    color: #C00;
  }
  .success-form {
    color: #0C0;
  }
}
