html, button, input, select, textarea {
  color: $color-black;
}

html {
  background: #FFF;
}
body.interna {
   min-width: 1280px;
}
a {
  text-decoration: none;
  transition: color .2s;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

main ul, main li {
  list-style: outside disc;
}


ol, ul {
  padding: 0;
  margin: 0;
}

img, iframe, video {
  vertical-align: middle;
}

.ir {
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.cf:before, .cf:after,
.container:before, .container:after,
.row:before, .row:after {
  content: " ";
  display: table;
}

.clear, .cf:after, .container:after, .row:after {
  clear: both;
}

.cf, .container, .row {
  zoom: 1;
}

.hidden {
  display: none;
}

@mixin inline-block($align: 'top') {
  display: inline-block;
  vertical-align: #{$align};
  zoom: 1;
  *display: inline;
}

.valign {
  i, .center {
    @include inline-block(middle);
  }

  i {
    height: 100%;
  }
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

ul.list-dots-inside {
  &, li {
    list-style: inside disc;
  }
}

ul.list-dots-outside {
  &, li {
    list-style: outside disc;
  }
}