$columns: 12;

$susy: (
  columns: $columns,
  gutters: 0.43,
  gutter-position: split,
  container: 1170px
);

@import "sass/vendor/susy/susy";

$gutter: gutter();

@mixin breakpoint($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 500px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 750px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 1170px) {
      @content;
    }
  }
}

.container {
  @include container;
  padding-left: $gutter;
  padding-right: $gutter;
}

.row {
  margin-left: $gutter * -1;
  margin-right: $gutter * -1;
}

.fl { float: left !important; }
.fr { float: right !important; }


/*======================================
  Responsive Grid
======================================*/
@mixin make-grid-col($i) {
  width: ($i / $columns * 100%) - ($gutter * 2);
  margin-left: $gutter;
  margin-right: $gutter;
  float: left;
}

@for $i from 1 through $columns {
  .col-lg-#{$i},
  .col-all-#{$i} {
    @include make-grid-col($i);
  }
}

@include breakpoint(md) {
  %no-float {
    float: none;
    width: auto;
  }

  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      @extend %no-float;
    }

    .col-md-#{$i} {
      @include make-grid-col($i);
    }
  }
}

@include breakpoint(sm) {
  %no-float {
    float: none;
    width: auto;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  @for $i from 1 through $columns {
    .col-md-#{$i} {
      @extend %no-float;
    }

    .col-sm-#{$i} {
      @include make-grid-col($i);
    }
  }
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  float: none;
}