@font-face {
  font-family: 'Icons';
  src: url('fonts/Icons.eot');
  src: url('fonts/Icons.eot?#iefix') format('eot'),
       url('fonts/Icons.woff') format('woff'),
       url('fonts/Icons.ttf') format('truetype'),
       url('fonts/Icons.svg#Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon,
%icon {
  @include inline-block;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before, %icon-arrow-right:before { content: "\EA01"; }
.icon-chevron-left:before, %icon-chevron-left:before { content: "\EA02"; }
.icon-chevron-right:before, %icon-chevron-right:before { content: "\EA03"; }
.icon-facebook:before, %icon-facebook:before { content: "\EA04"; }
.icon-googleplus:before, %icon-googleplus:before { content: "\EA05"; }
.icon-linkedin:before, %icon-linkedin:before { content: "\EA06"; }
.icon-mail:before, %icon-mail:before { content: "\EA07"; }
.icon-star:before, %icon-star:before { content: "\EA08"; }
.icon-tel:before, %icon-tel:before { content: "\EA09"; }
.icon-triangle-left:before, %icon-triangle-left:before { content: "\EA0A"; }
.icon-triangle-right:before, %icon-triangle-right:before { content: "\EA0B"; }
.icon-twitter:before, %icon-twitter:before { content: "\EA0C"; }
