/*======================================
  Estrutura principal
======================================*/

header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  color: #FFF;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    .link-area-cliente {
      background: #005E9A;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      width: 200px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      display: block;
      position: absolute;
      top: 0;
      right: 20px;
      &:hover {
        background: #0077C6;
      }
    }
  }
  .topo-logo {
    float: left;
    transition: .2s;
    margin-right: 40px;
    img {
      max-width: 100%;
      height: auto;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  @include breakpoint(md) {
    .topo-logo {
      width: 72px;
      margin-right: 0;
    }
  }
  @include breakpoint(sm) {
    // position: fixed;
    // background: #FFF;
    // box-shadow: 0 0 10px -2px #000;
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .topo-logo {
      width: 52px;
      position: relative;
      z-index: 20;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .bt-menu {
      visibility: visible;
    }
  }
}

.interna header {
  position: fixed;
  background: #fff;
  opacity: .9;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .topo-logo {
    position: relative;
    z-index: 20;
    width: 52px;
    margin-right: 50px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}


/* Menus */

nav {
  font-size: 0;
  margin-top: 48px;
  position: relative;
  .main-nav {
    li {
      @include inline-block;
      font: 15px/1.2 'ralewaymedium', sans-serif;
      letter-spacing: 0.10em;
      text-transform: uppercase;
      + li {
        padding-left: 30px;
        position: relative;
        &:before {
          content: '\2022';
          position: absolute;
          z-index: -2;
          top: 0;
          left: 12px;
        }
      }
    }
    a {
      transition: .2s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .search {
    position: absolute;
    top: -6px;
    right: 0;
    form {
      margin-top: 0;
    }
    input {
      border: 1px solid #FFF;
      border-radius: 15px 0 0 15px;
      background: none;
      width: 135px;
      height: 26px;
      font-size: 13px;
      color: #FFF;
      padding: 1px 8px 1px 15px;
      transition: .2s;
      &:focus {
        outline: none;
        background: #FFF;
        color: #000;
      }
    }
    button {
      width: 40px;
      height: 30px;
      border: 1px solid #FFF;
      border-left: none;
      border-radius: 0 15px 15px 0;
      background: none;
      padding: 0;
      color: #FFF;
      vertical-align: top;
      transition: .2s;
      text-align: center;
      .icon {
        font-size: 15px;
      }
      &:hover {
        background: #FFF;
        color: #000;
      }
    }
  }
  @include breakpoint(lg) {
    text-align: right;
    .search {
      top: -56px;
    }
  }
  @include breakpoint(md) {
    .main-nav {
      li {
        letter-spacing: 0;
        + li {
          padding-left: 20px;
          &:before {
            left: 8px;
          }
        }
      }
    }
  }
  @include breakpoint(sm) {
    height: 100%;
    margin-top: 0;
    .main-nav {
      position: absolute;
      top: -10px;
      right: -10px;
      left: -10px;
      background: #383637;
      color: #FFF;
      padding: 80px 10px 20px;
      // border-radius: 10px;
      box-shadow: 0 0 10px -2px #000;
      // border: 1px solid rgba(0, 0, 0, 0.2);
      opacity: 0;
      transform: translate3d(0, -20px, 0);
      visibility: hidden;
      transition: .35s;
      .menu-open & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }
      li {
        display: block;
        font-size: 18px;
        padding: 10px 0;
        + li {
          padding: 10px 0;
          &:before {
            display: none;
          }
        }
      }
    }
    .search {
      top: 11px;
      right: 50px;
      input {
        width: 100px;
      }
    }
  }
}

.interna nav {
  color: #969696;
  margin-top: 18px;
  .main-nav {
    li {
      font: 13px/1.2 'ralewaymedium', sans-serif;
      padding-left: 26px;
      &:before {
        left: 10px;
      }
    }
    a {
      transition: .2s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  li.ativo {
    position: relative;
    color: #FFF;
    &:after {
      content: " ";
      background: $color-blue;
      position: absolute;
      z-index: -1;
      top: -10px;
      left: 10px;
      right: -15px;
      height: 36px;
      border-radius: 20px;
    }
  }
  .search {
    input {
      border-color: #969696;
      color: #969696;
    }
    button {
      border-color: #969696;
      color: $color-black;
    }
  }
   @include breakpoint(sm) {
    height: 100%;
    margin-top: 0;
  }
}

nav .main-nav li.link-area-cliente-mob {
  display: none;
}

@include breakpoint(sm) {
  header .container .link-area-cliente {
    display: none;
  }
  nav .main-nav li.link-area-cliente-mob {
    display: block;
    color: #1A96BF;
  }
}


/* Geral */

.main-wrapper {
  overflow: hidden;
}


/* Rodapé */

footer {
  background: url(img/bg-footer.png) no-repeat 50% 50% #FAFAFA;
  background-size: cover;
  .container {
    padding-top: 65px;
    padding-bottom: 50px;
  }
  .cols-wrapper {
    @extend .cf;
    .col {
      float: left;
    }
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  p {
    font: 18px/1.5 'ralewayextralight', sans-serif;
    margin: 0;
  }
  h3 {
    font: 18px/1.5 'ralewaymedium', sans-serif;
  }
  form {
    margin-right: 0;
    margin-top: -4px;
    .legend {
      margin-bottom: 13px;
      margin-left: 4px;
    }
    .fieldset {
      margin-top: 0;
    }
    .field {
      margin: 0 2% 0 0;
      width: 46%;
      display: inline-block;
    }
  }
  .social {
    font-size: 0;
    margin-top: 34px;
    a {
      @include inline-block;
      font-size: 24px;
      line-height: 50px;
      width: 50px;
      height: 50px;
      background: #969696;
      border-radius: 50%;
      color: #FFF;
      text-align: center;
      transition: .2s;
      margin-right: 3%;
      &:hover {
        background: darken(#969696, 20%);
      }
    }
  }
  .lista-unidades {
    margin-top: 70px;
    .row + .row {
      margin-top: 56px;
    }
    h3 {
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      line-height: 1.4;
    }
    .addr {
      min-height: 4.2em;
    }
    .mb10 {
      margin-bottom: 10px;
    }
    .tel,
    .email {
      font-family: 'ralewayregular', sans-serif;
      color: #005E99;
    }
    .icon {
      font-size: 24px;
      line-height: 24px;
      margin-right: 5px;
    }
  }
  .lista-contatos {
    font-size: 0;
    .col {
      width: 45%;
      @include inline-block;
    }
    p {
      margin-bottom: 6px;
    }
    a:hover {
      color: #201F1F;
    }
  }
  .logo-anos {
    margin-left: 0;
    margin-right: 2%;
    img {
      width: 140px;
      max-width: 100%;
    }
  }
  .barra-logos-solucoes {
    background: #FFF;
    text-align: center;
    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .logo-solucao {
      @include inline-block(middle);
      margin: 0 40px;
      transition: .2s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .copy {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0;
    p {
      font: 13px/1.2 'ralewayregular', sans-serif;
      color: #969696;
      a:hover {
        color: darken(#969696, 30%);
      }
      .sep {
        @include inline-block;
        margin: 0 5px;
      }
      strong {
        font-family: 'ralewaybold', sans-serif;
        font-weight: normal;
      }
    }
    .col {
      @include inline-block(middle);
      float: none;
    }
  }
  .cc {
    .logo-footer,
    p {
      @include inline-block(middle);
    }
    .logo-footer {
      margin-right: 16px;
    }
  }
  // .r-copy {
  //   text-align: center;
  //   a:hover {
  //     color: #777;
  //   }
  // }
  @include breakpoint(md) {
    .barra-logos-solucoes {
      .container {
        display: block;
      }
      .logo-solucao {
        margin: 15px 10px;
      }
    }
    .social {
      margin-top: 10px;
      text-align: center;
      a {
        margin: 2%;
      }
    }
    .copy {
      text-align: center;
      .alignright {
        text-align: center;
      }
    }
    .cc {
      margin-bottom: 30px;
      .logo-footer {
        margin: 0 0 20px;
      }
      p {
        margin: 0 20px;
      }
    }
  }
  @include breakpoint(sm) {
    .logo-anos {
      text-align: center;
      margin-top: 5px;
      img {
        max-width: 80%;
      }
    }
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
    }
    form {
      margin-bottom: 20px;
      h3 {
        text-align: left;
      }
      .legend {
        font-size: 14px;
        margin-bottom: 8px;
      }
      .field {
        width: 100%;
        margin: 0 0 10px;
      }
    }
    h3 {
      text-align: center;
    }
    .lista-unidades {
      margin-top: 40px;
      .row + .row {
        margin-top: 0;
      }
      h3 {
        text-align: left;
      }
      .addr {
        min-height: auto;
      }
      .col-sm-12 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .lista-contatos .col {
      width: 100%;
    }
  }
}
