/*!
  Theme Name: Aldeia Framework
  Theme URI: http://aldeia.biz
  Author: Aldeia
  Author URI: http://aldeia.biz/
  Version: 1.0
*/

$color-yellow: #E6B607;
$color-dark-yellow: #C27704;
$color-black: #231F20;
$color-blue: #113A72;
$color-light-blue: #01729A;
@import "sass/normalize";
@import "sass/global";
@import "sass/grid";
@import "sass/structure";
@import "sass/fonts";
@import "sass/icons";
@import "sass/buttons";
@import "sass/forms";
@import "sass/vendor/selectric";
// @import "sass/vendor/mfp/main";
@import "sass/vendor/slick";

/*======================================
  Definições Gerais
======================================*/

.vitrine {
  height: 700px;
  color: #FFF;
  position: relative;
  overflow: hidden;
  .vitrine-item {
    float: left;
    width: 100%;
    height: 700px;
    background-position: 50% 50%;
    background-size: cover;
    .container {
      height: 100%;
      .center {
        width: 55%;
      }
    }
  }
  h1 {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 22px;
    margin-top: 5px;
  }
  p {
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
  }
  .bt-cta {
    @include inline-block;
    height: 60px;
    border: 1px solid $color-yellow;
    border-radius: 30px;
    padding: 0 100px;
    font: 20px/60px 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-yellow;
    margin-top: 66px;
    transition: .2s;
    &:hover {
      background: $color-yellow;
      color: #FFF;
    }
  }
  @include breakpoint(sm) {
    // margin-top: 70px;
    height: 260px;
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
    }
    .bt-cta {
      margin-top: 0;
      height: 40px;
      font-size: 12px;
      line-height: 40px;
      padding: 0 30px;
    }
    .vitrine-item {
      height: 260px;
      &:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 100, 0.1);
      }
      .container {
        z-index: 2;
        .center {
          width: 100%;
          margin-bottom: 40px;
          margin-top: 80px;
          p {
            display: none;
          }
        }
      }
    }
  }
}

.vitrine-wrapper {
  .container {
    position: relative;
  }
  .dots {
    float: right;
    position: absolute;
    right: gutter();
    bottom: 186px;
  }
  .slick-dots {
    font-size: 0;
    text-align: right;
    li {
      @include inline-block;
      margin: 0 2px;
      button {
        width: 16px;
        height: 16px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        font: 0/0 a;
        border: 1px solid #FFF;
        border-radius: 50%;
        background: none;
        padding: 0;
        transition: .2s;
        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }
      }
      button:hover,
      &.slick-active button {
        background: #FFF;
      }
    }
  }
  @include breakpoint(sm) {
    .dots {
      right: 5px;
      bottom: 40px;
    }
    .slick-dots li {
      margin: 0 5px;
    }
  }
}

.sec-solucoes-home {
  font-size: 0;
  position: relative;
  z-index: 2;
  margin-top: -17px;
  .tabs {
    .bg-esq,
    .bg-dir {
      position: absolute;
      z-index: -2;
      width: 50%;
      top: 17px;
      bottom: 0;
    }
    .bg-esq {
      background: #005e9a;
      left: 0;
    }
    .bg-dir {
      background: #f2c007;
      right: 0;
    }
    .bg-center {
      position: absolute;
      z-index: -1;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 58/1920*100%;
      overflow: hidden;
      .shape-bg {
        transition: .2s;
      }
      img,
      .img {
        margin-top: (-58*1.1)/1920*100%;
        width: 110%;
        margin-left: -5%;
        margin-right: -5%;
        height: auto;
      }
    }
    .bg-center-inner {
      height: 100%;
      transition: .2s;
      background: #fff;
    }
    .container {
      position: relative;
    }
  }
  .nav-tabs {
    margin-top: -83px;
  }
  .tab-ancora {
    position: relative;
    height: 488px;
  }
  .solucao-item {
    @include inline-block;
    width: 20%;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s cubic-bezier(0.23, 1, 0.32, 1), visibility 1s cubic-bezier(0.23, 1, 0.32, 1), height .2s, margin .2s;
    transform: translate3d(0, -200px, 0);
    opacity: 0;
    visibility: hidden;
    &:hover {
      // box-shadow: inset 0 0 0 2px #FFF;
      margin-top: -10px;
      height: 310px;
    }
    &.come-in {
      &,
      p {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
      }
    }
    img,
    svg {
      margin-top: 67px;
    }
    p {
      font-family: 'ralewaybold', sans-serif;
      font-size: 20px;
      color: #FFF;
      text-transform: uppercase;
      margin: 20px 0 0;
      transition: 1s .4s;
      transform: translate3d(0, -50px, 0);
      opacity: 0;
      visibility: hidden;
    }
    .dot {
      position: absolute;
      bottom: 34px;
      left: 0;
      right: 0;
      transform: scale(0);
    }
    // .line {
    //   position: absolute;
    //   top: 100%;
    //   right: 0;
    //   left: 0;
    //   margin: -30px auto 0;
    //   width: 2px;
    //   // height: 98px;
    //   height: 0;
    //   background: url(img/border-vert.png) repeat-y;
    // }
    &.ativo {
      // .line {
      //   height: 98px;
      //   transition: .4s .3s;
      // }
      .dot {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
    // &.ativo .dot {
    // opacity: 1;
    // visibility: visible;
    // }
  }
  .dot {
    margin: auto;
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 14px;
      height: 14px;
      background: #FFF;
      border-radius: 50%;
    }
  }
  @include breakpoint(sm) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .nav-tabs {
      margin-top: -10px;
    }
    .tab-ancora {
      height: 250px;
    }
    .solucao-item {
      height: 120px;
      border-radius: 10px;
      &:hover {
        height: 130px;
      }
      svg {
        margin-top: 10px;
        width: 50px;
        height: 50px;
      }
      p {
        font-size: 8px;
        margin: 10px 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .dot {
        bottom: 8px;
      }
      // .line {
      //   margin-top: -5px;
      // }
      &.ativo .line {
        height: 25px;
      }
    }
  }
}

.tab-industria {
  background: $color-yellow;
}

.tab-atacado {
  background: $color-dark-yellow;
}

.tab-varejo {
  background: $color-black;
}

.tab-transportador {
  background: $color-blue;
}

.tab-governo {
  background: $color-light-blue;
}

.solucao-default {
  text-align: center;
  padding: 94px 0;
  transition: .2s;
  position: absolute;
  left: 0;
  right: 0;
  h2 {
    font: 55px/1.2 'ralewayextralight', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }
  p {
    font-size: 22px;
    line-height: 1.4;
    color: $color-black;
    margin: 0 160px;
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  @include breakpoint(md) {
    p {
      margin: 0 80px;
    }
  }
  @include breakpoint(sm) {
    padding: 20px 0;
    h2 {
      font-size: 26px;
      line-height: 1.1;
      margin: 0 10px 10px;
      br {
        display: none;
      }
    }
    p {
      font-size: 12px;
      margin: 0 10px;
    }
  }
}

.tab-content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  left: 0;
  right: 0;
  &.show {
    opacity: 1;
    visibility: visible;
    // .line-horz {
    //   width: 930px;
    // }
  }
  .connectors {
    pointer-events: none;
    text-align: center;
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    margin-top: -32px;
    .connectors-sizer {
      width: 100%;
      height: 0;
      padding-top: 196/1170*100%;
    }
    .connectors-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @include breakpoint(sm) {
      margin-top: -10px;
      .connectors-sizer {
        padding-top: 300/1170*100%;
      }
      svg {
        // height: 100%;
        margin-top: 1px;
      }
    }
  }
  .line-horz {
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    bottom: 0;
    margin: auto;
    // width: 938px;
    // width: 100%;
    width: 940/1170*100%;
    height: 2px;
    overflow: hidden;
    .line-esq,
    .line-dir {
      position: absolute;
      top: 0;
      height: 2px;
      width: 0;
      background: url(img/border-horz.png) repeat-x;
      // transition: width 10s;
    }
    .line-esq {
      background-position: 100% 50%;
    }
    .line-dir {
      background-position: 0 50%;
    }
    &.animate-in {
      .line-esq,
      .line-dir {
        transition: width .6s;
      }
    }
  }
  .line-1 {
    .line-esq {
      right: 0;
      width: 0;
    }
    .line-dir {
      left: 0;
      width: 100%;
    }
  }
  .line-2 {
    .line-esq {
      width: 234/938*100%;
      right: 702/938*100%;
    }
    .line-dir {
      left: 234/938*100%;
      width: 702/938*100%;
    }
  }
  .line-3 {
    .line-esq {
      right: 468/938*100%;
      width: 468/938*100%;
    }
    .line-dir {
      left: 468/938*100%;
      width: 468/938*100%;
    }
  }
  .line-4 {
    .line-esq {
      right: 234/938*100%;
      width: 702/938*100%;
    }
    .line-dir {
      left: 702/938*100%;
      width: 234/938*100%;
    }
  }
  .line-5 {
    .line-esq {
      right: 0;
      width: 100%;
    }
    .line-dir {
      left: 100%;
      width: 0;
    }
  }
  .line-vert {
    height: 50%;
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    .col {
      @include inline-block;
      width: 20%;
      height: 100%;
      position: relative;
      .line {
        height: 0;
        width: 2px;
        margin: auto;
        background: url(img/border-vert.png) repeat-y 50% 0;
        &.show {
          height: 100%;
        }
      }
    }
  }
  .line-vert-top {
    top: 0;
    .line.show {
      transition: .4s .3s;
    }
  }
  .line-vert-bottom {
    top: 50%;
    .line.show {
      transition: .4s .5s;
    }
  }
  .tab-pane {
    // height: 326px;
    font-size: 0;
    .item {
      @include inline-block;
      text-align: center;
      color: #FFF;
      width: 20%;
      position: relative;
      // padding-top: 162px;
      .item-inner {
        padding: 2px 24px 0;
      }
      a {
        display: block;
        // width: 186px;
        // height: 186px;
        width: auto;
        padding-top: 100%;
        border: 2px solid #FFF;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        // margin: auto;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        &:before {
          content: " ";
          position: absolute;
          z-index: -1;
          top: 5px;
          right: 5px;
          bottom: 5px;
          left: 5px;
          margin: auto;
          border-radius: 50%;
          border: 3px solid;
          box-shadow: 0 0 0 6px;
          background: #FFF;
          opacity: 0;
          visibility: hidden;
          transition: .2s;
        }
        .icon {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          max-width: 50%;
          max-height: 50%;
          .group {
            transition: .2s;
          }
        }
        &:hover:before {
          opacity: 1;
          visibility: visible;
        }
      }
      h3 {
        font-size: 20px;
        font-family: 'ralewaybold', sans-serif;
        text-transform: uppercase;
        margin-top: 12px;
        // transition: .2s;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, -40px, 0);
      }
      &.ativo {
        a {
          &:before {
            opacity: 1;
            visibility: visible;
            border-color: #FFF;
          }
          .icon .group {
            fill: #FFF !important;
          }
        }
        .bg {
          opacity: 1;
          visibility: visible;
        }
      }
      &.show {
        // .line {
        //   height: 95px;
        //   transition: .4s .5s;
        // }
        .dot {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          transition: .4s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        a {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          transition: opacity .4s 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility .4s 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform .4s 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        h3 {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 0, 0);
          transition: opacity .6s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility .6s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform .6s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
    }
    .bg {
      position: absolute;
      z-index: -1;
      // top: 174px;
      top: 12px;
      left: 0;
      right: 0;
      // bottom: -63px;
      // width: 100%;
      height: 360px;
      background: #FFF;
      border-radius: 25px 25px 0 0;
      opacity: 0;
      visibility: hidden;
      transition: .2s;
      &:after {
        content: " ";
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 50%;
        background: #FFF;
        box-shadow: 0 0 0 14px #FFF;
      }
      &:after {
        top: -9px;
        border: 3px solid;
        width: 14px;
        height: 14px;
      }
    }
    // .line {
    //   width: 2px;
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   // top: 70px;
    //   top: -95px;
    //   // bottom: 100%;
    //   margin: auto;
    //   height: 0;
    //   background: url(img/border-vert.png) repeat-y;
    //   // transition: .4s .6s;
    // }
    .dot {
      position: relative;
      margin-bottom: 14px;
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
      // transition: .4s .9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  @include breakpoint(sm) {
    .tab-pane {
      // height: 298px;
      .bg {
        border-radius: 6px 6px 0 0;
        &:after {
          box-shadow: 0 0 0 8px #FFF;
        }
      }
      .item {
        // padding-top: 160px;
        .item-inner {
          padding-left: 2px;
          padding-right: 2px;
        }
        a {
          // width: 56px;
          // height: 56px;
          // .icon {
          //   max-width: 50%;
          // }
          &:before {
            border-width: 2px;
          }
        }
        h3 {
          font-size: 10px;
          margin-left: 5px;
          margin-right: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .line {
          top: -25px;
        }
        &.show .line {
          height: 25px;
        }
      }
    }
  }
}

.solucao-content {
  background: #000;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .bg-esq,
  .bg-dir {
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
  }
  .bg-esq {
    z-index: -1;
    width: 838/1920*100%;
    left: 0;
    background: #FFF;
    .tip {
      height: 110%;
      width: 300px;
      background: #FFF;
      position: absolute;
      bottom: 0;
      right: 0;
      transform-origin: 100% 100%;
      transform: rotate(14.754deg);
    }
  }
  .bg-dir {
    width: 1082/1920*100%;
    right: 0;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transform: scale(1.1);
    transition: 1s;
  }
  &.done .bg-dir {
    opacity: 1;
    transform: scale(1);
  }
  .container {
    padding-top: 28px;
    padding-bottom: 20px;
  }
  .col-txt {
    p {
      font-size: 13px;
      line-height: 1.4;
      margin: 0 75px 24px 0;
    }
    ul,
    li {
      list-style: inside disc;
    }
    li {
      font-size: 10px;
      margin: 22px 0 0;
      span {
        font-size: 18px;
        line-height: 1.2;
        font-family: 'ralewaybold', sans-serif;
        vertical-align: middle;
      }
    }
  }
  .col-cta {
    height: 380px;
    color: #FFF;
    opacity: 0;
    transform: translate3d(0, 30px, 0);
    transition: 1s;
  }
  &.done .col-cta {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .veja-solucao {
    border: 1px solid #FFF;
    border-radius: 50px;
    width: 498px;
    margin: auto;
    padding: 28px 0 20px;
    text-align: center;
    p {
      font-family: 'ralewaybold', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0 0 8px;
    }
  }
  .link-detalhe {
    margin-top: 28px;
    // width: 400px;
    // margin: auto;
    text-align: center;
    p {
      @include inline-block(middle);
      text-align: left;
      font-size: 15px;
      line-height: 1.4;
      width: 210px;
      margin: 0 10px 0 0;
    }
    .bt-cta {
      @include inline-block(middle);
      border: 1px solid #FFF;
      border-radius: 32px;
      height: 60px;
      padding: 0 38px;
      line-height: 60px;
      transition: .2s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  @include breakpoint(md) {
    .bg-esq {
      display: none;
    }
    .container {
      padding: 0;
    }
    .col-txt {
      background: #FFF;
      padding: 20px 20px 0;
      position: relative;
      li {
        margin-top: 16px;
      }
      &:before {
        content: " ";
        height: 300px;
        width: 110%;
        background: #FFF;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        transform-origin: 100% 100%;
        transform: rotate(-5deg);
      }
    }
    .col-cta {
      text-align: center;
    }
  }
}

.tabs {
  border-bottom: 20px solid #fff;
}

.tab-ativa-industria {
  .bg-center .bg-center-inner {
    background: $color-yellow;
    .shape-bg {
      fill: $color-yellow;
    }
  }
  .tab-pane .item {
    a:before {
      border-color: $color-yellow;
    }
    a:hover .icon .group {
      fill: $color-yellow;
    }
    &.ativo {
      color: $color-yellow;
      a:before {
        background: $color-yellow;
      }
    }
  }
  .icon-main {
    display: block;
  }
  .icon-alt {
    display: none;
  }
}

.tab-ativa-atacado {
  .bg-center .bg-center-inner {
    background: $color-dark-yellow;
    .shape-bg {
      fill: $color-dark-yellow;
    }
  }
  .tab-pane .item {
    a:before {
      border-color: $color-dark-yellow;
    }
    a:hover .icon .group {
      fill: $color-dark-yellow;
    }
    &.ativo {
      color: $color-dark-yellow;
      a:before {
        background: $color-dark-yellow;
      }
    }
  }
  .icon-main {
    display: block;
  }
  .icon-alt {
    display: none;
  }
}

.tab-ativa-varejo {
  .bg-center .bg-center-inner {
    background: $color-black;
    .shape-bg {
      fill: $color-black;
    }
  }
  .tab-pane .item {
    a:before {
      border-color: $color-black;
    }
    a:hover .icon .group {
      fill: $color-black;
    }
    &.ativo {
      color: $color-black;
      a:before {
        background: $color-black;
      }
    }
  }
  .icon-main {
    display: block;
  }
  .icon-alt {
    display: none;
  }
}

.tab-ativa-transportador {
  .bg-center .bg-center-inner {
    background: $color-blue;
    .shape-bg {
      fill: $color-blue;
    }
  }
  .tab-pane .item {
    a:before {
      border-color: $color-blue;
    }
    a:hover .icon .group {
      fill: $color-blue;
    }
    &.ativo {
      color: $color-blue;
      a:before {
        background: $color-blue;
      }
    }
  }
  .icon-main {
    display: block;
  }
  .icon-alt {
    display: none;
  }
}

.tab-ativa-governo {
  .bg-center .bg-center-inner {
    background: $color-light-blue;
    .shape-bg {
      fill: $color-light-blue;
    }
  }
  .tab-pane .item {
    a:before {
      border-color: $color-light-blue;
    }
    a:hover .icon .group {
      fill: $color-light-blue;
    }
    &.ativo {
      color: $color-light-blue;
      a:before {
        background: $color-light-blue;
      }
    }
  }
  .icon-main {
    display: none;
  }
  .icon-alt {
    display: block;
  }
}


/* Clientes */

.sec-clientes-home {
  height: 200px;
  position: relative;
  z-index: 2;
  .bg-left,
  .bg-right {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1;
  }
  .bg-left {
    left: 0;
    background: $color-black;
  }
  .bg-right {
    right: 0;
    background: #000;
  }
  .container {
    height: 100%;
  }
  .lista-clientes-wrapper {
    position: relative;
  }
  .lista-clientes {
    background: $color-black;
    width: 850px / 1170px * 100%;
    height: 100%;
    float: left;
    position: relative;
  }
  .logo-cliente {
    height: 200px;
    float: left;
    text-align: center;
    position: relative;
    transition: .2s;
    &:before {
      position: absolute;
      content: " ";
      width: 1px;
      height: 100%;
      background: #393637;
      left: -1px;
      top: 0;
    }
    &.hover {
      background: $color-light-blue;
    }
    img {
      max-width: 200px;
    }
  }
  .slick-list {
    margin: 0 40px;
    height: 100%;
    overflow: hidden;
  }
  .slick-prev,
  .slick-next {
    height: 100%;
    width: 40px;
    padding: 0;
    background: #393637;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    color: #FFF;
    transition: .2s;
    &:hover {
      background: darken(#393637, 5%);
    }
    &:active,
    &:focus {
      outline: none;
    }
    .icon {
      font-size: 10px;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .icon-star {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    color: #F2C007;
    font-size: 20px;
    width: 20px;
  }
  .col-title {
    background: #000;
    width: 320px / 1170px * 100%;
    height: 100%;
    float: right;
    h2 {
      color: #FFF;
      text-transform: uppercase;
      font: 60px/200px 'ralewaythin', sans-serif;
      text-align: center;
    }
  }
  .caption {
    width: 872px;
    position: absolute;
    bottom: 100%;
    background: $color-light-blue;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -20px, 0);
    transition: opacity .2s, transform .2s, visibility .2s;
    // transition: .2s;
    &.show {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
    .caption-inner {
      @extend .cf;
      padding: 38px 42px 30px;
    }
    .col-left {
      width: 504/788*100%;
      float: left;
    }
    .col-right {
      width: 242/788*100%;
      float: left;
      padding-left: 42px;
      text-align: center;
    }
    h2 {
      font: 18px/1.2 'ralewaybold', sans-serif;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      line-height: 1.4;
      margin: 24px 0;
    }
    .bt-cta {
      border: 1px solid #FFF;
      display: block;
      border-radius: 30px;
      text-transform: uppercase;
      height: 60px;
      font: 20px/60px 'ralewaymedium', sans-serif;
      margin-top: 51px;
      transition: .2s;
      &:hover {
        background: #FFF;
        color: $color-light-blue;
      }
    }
  }
  @include breakpoint(md) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include breakpoint(sm) {
    height: auto;
    .lista-clientes {
      width: 100%;
      margin-top: 70px;
    }
    .col-title {
      width: 100%;
      height: 70px;
      position: absolute;
      top: 0;
      h2 {
        font-size: 40px;
        line-height: 70px;
      }
    }
    .logo-cliente {
      height: 160px;
    }
  }
}


/* Blog */

.sec-blog-home {
  height: 250px;
  .container,
  .col-left,
  .col-right {
    height: 100%;
  }
  .col-left {
    width: 296/1170*100%;
    float: left;
  }
  .col-right {
    width: 874/1170*100%;
    float: left;
  }
  h2 {
    font: 60px/1.2 'ralewaythin', sans-serif;
    color: $color-black;
    text-transform: uppercase;
  }
  .lista-posts {
    position: relative;
    &:after {
      content: " ";
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      background: #F1F1F1;
    }
    .post {
      display: block;
      float: left;
      height: 100%;
      width: (100% / 3);
      width: calc(100% / 3);
      position: relative;
      z-index: 1;
      color: $color-black;
      transition: .2s;
      .center {
        margin-left: 26px;
        margin-right: 26px;
        font: 18px/1.2 'ralewaybold', sans-serif;
        text-transform: uppercase;
      }
      &:before {
        content: " ";
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        background: #F1F1F1;
      }
      &:hover {
        background: $color-blue;
        color: #FFF;
        .caption {
          opacity: 1;
          visibility: visible;
        }
      }
      .caption {
        position: absolute;
        background: $color-blue;
        top: 100%;
        left: 1px;
        color: #FFF;
        width: 200%;
        font-size: 15px;
        line-height: 1.4;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        .caption-inner {
          display: block;
          padding: 58px 90px 58px 42px;
        }
        .icon {
          background: $color-yellow;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          // border-radius: 10px 0 0 0;
          border-radius: 10px;
        }
      }
      &.last .caption {
        left: auto;
        right: 0;
      }
    }
  }
  @include breakpoint(md) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      font-size: 40px;
      letter-spacing: -0.05em;
    }
    .lista-posts .post .center {
      font-size: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  @include breakpoint(sm) {
    height: auto;
    .container {
      padding: 40px 0;
    }
    .col-left {
      width: auto;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 30px;
    }
    .col-right {
      width: 100%;
    }
    h2 {
      font-size: 50px;
    }
    .lista-posts .post {
      width: 100%;
      padding: 30px 0;
      &:before {
        width: 100%;
        height: 1px;
        top: 0;
      }
      .center {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

.hero {
  position: relative;
  margin-top: 70px;
  text-align: center;
  .bg {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    // padding-top: 430/1920*100%;
    height: 430px;
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    height: 100%;
  }
  h2 {
    color: #FFF;
    font: 70px/1 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 0.01em;
  }
  .logo-solucao {
    @include inline-block;
    padding: 0 54px;
    height: 75px;
    background: #FFF;
    border-radius: 38px;
    line-height: 75px;
  }
}

.main-content {
  position: relative;
  z-index: 2;
  margin-top: -17px;
  .bg-esq,
  .bg-dir {
    position: absolute;
    z-index: -2;
    width: 50%;
    top: 17px;
    bottom: 0;
  }
  .bg-esq {
    background: #005e9a;
    left: 0;
  }
  .bg-dir {
    background: #f2c007;
    right: 0;
  }
  .bg-center {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10%;
    overflow: hidden;
    .shape-bg {
      transition: .2s;
    }
    img,
    .img {
      margin-top: -10%;
      width: 110%;
      margin-left: -5%;
      margin-right: -5%;
      height: auto;
    }
  }
  .bg-center-inner {
    height: 100%;
    transition: .2s;
    background: #fff;
  }
  .container {
    padding-top: 108px;
    padding-bottom: 52px;
  }
}

.intro {
  text-align: center;
  h1 {
    font: 60px/1.2 'ralewayextralight', sans-serif;
    letter-spacing: 0.01em;
    color: $color-blue;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  p {
    font-size: 15px;
    line-height: 1.4;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.col-left-full {
  width: 50%;
  float: left;
  .col-left-full-inner {
    padding: 0 30px;
    width: 570px;
    float: right;
    p {
      font: 15px/1.4 'ralewayregular', sans-serif;
      margin: 20px 0;
    }
  }
}

.col-right-full {
  width: 50%;
  float: right;
  .col-right-full-inner {
    padding: 0 30px;
    width: 570px;
  }
  h3 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    margin-top: 52px;
  }
  ul {
    margin-right: 130px;
    margin-left: 15px;
  }
  li {
    font-size: 10px;
    margin: 15px 0;
    span {
      display: block;
      font-size: 15px;
      line-height: 1.4;
    }
  }
  .sep {
    margin: 54px 0 52px;
    height: 1px;
    background: #EEE;
  }
}

.col-left-full {
  width: 50%;
  float: left;
  .col-left-full-inner {
    padding: 0 30px;
    width: 570px;
  }
  h3 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    margin-top: 52px;
  }
  ul {
    margin-right: 130px;
    margin-left: 15px;
  }
  li {
    font-size: 10px;
    margin: 20px 0;
    span {
      display: block;
      font-size: 15px;
      line-height: 1.4;
    }
  }
  .sep {
    margin: 54px 0 52px;
    height: 1px;
    background: #EEE;
  }
}

.box-problema {
  background: $color-yellow;
  color: #FFF;
  padding: 50px 0 62px;
  .content {
    width: 370px;
    float: right;
    margin-right: 100px;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p {
    font: 15px/1.4 'ralewaybold', sans-serif;
    margin: 0;
  }
}

.col-right-full {
  .box-problema {
    .content {
      float: left;
      margin-right: 0;
      margin-left: 70px;
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.box-lista-solucoes {
  background: #F2F2F2;
  .icon-wrapper {
    background: #005E9A;
    width: 130px;
    height: 110px;
    float: right;
    position: relative;
    margin-left: 40px;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  ul {
    margin-left: 0;
    margin-right: 0;
  }
  li {
    height: 110px;
    line-height: 110px;
    overflow: hidden;
    text-align: right;
    margin: 0;
    list-style: none;
    + li,
    + li .icon-wrapper {
      background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0%, transparent 100%);
    }
    span {
      @include inline-block(middle);
      font: 18px 'ralewaybold', sans-serif;
      text-transform: uppercase;
    }
  }
}

.col-right-full {
  .box-lista-solucoes {
    li {
      text-align: left;
    }
    .icon-wrapper {
      float: left;
      margin-left: 0;
      margin-right: 40px;
    }
  }
}

.sec-contato {
  background: #1F1F1F;
  color: #FFF;
  text-align: center;
  .container {
    padding-top: 52px;
    padding-bottom: 40px;
  }
  h2 {
    font: 35px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  form {
    margin: auto;
    width: 686/1170*100%;
    .field input {
      background: transparent;
      border-color: #FFF;
      color: #FFF;
      &:focus {
        border: 2px solid #fff;
        background: #333;
        color: #FFF;
        + button {
          border-color: #FFF;
          color: #FFF;
        }
      }
    }
    .field-append-button button {
      border-color: #FFF;
      color: #FFF;
      font-size: 12px;
      padding: 0 18px 0 14px;
      &:hover {
        background: #FFF;
        color: #1F1F1F;
      }
    }
    .field-error {
      input {
        border: 2px solid #BC6901;
        background: #FEE6C0;
        color: #BC6901;
      }
      .field-append-button button {
        border-color: #BC6901;
        color: #BC6901;
      }
    }
    .form-error-message {
      display: none;
      text-align: center;
      background: none;
      padding: 0;
      margin: 20px 0 0;
    }
  }
  #agradecimento-contato {
    display: none;
    .bt-padrao {
      background: none;
      color: #C1C1C1;
      border-color: #C1C1C1;
      margin-top: 30px;
      &:hover {
        color: #FFF;
        border-color: #FFF;
      }
    }
  }
  .compartilhe-solucao {
    padding: 52px 0 35px;
    background: url(img/bg-sec-contato.png) 50% 0;
    margin-top: 4px;
    p {
      font: 15px/1.2 'ralewaybold', sans-serif;
      text-transform: uppercase;
      color: #C1C1C1;
      margin: 0 0 15px;
    }
    .social {
      font-size: 0;
      a {
        @include inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid;
        border-radius: 50%;
        font-size: 22px;
        line-height: 40px;
        color: #C1C1C1;
        margin: 0 10px;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}

.sec-outro {
  .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: #005E99;
    margin-bottom: 20px;
  }
  .pic-wrapper {
    display: block;
    h3 {
      font: 18px/1.2 'ralewaybold', sans-serif;
      margin-bottom: 24px;
      text-transform: uppercase;
    }
    p {
      font: 15px/1.4 'ralewayregular', sans-serif;
      margin: 0;
    }
  }
  .pic {
    display: block;
    position: relative;
    background: #201F1F;
    img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0.3;
    }
    .overlay {
      display: block;
      position: absolute;
      z-index: 2;
      left: 40px;
      right: 30px;
      bottom: 38px;
      color: #FFF;
    }
  }
  .caption {
    background: #201F1F;
    // width: 400/570*100%;
    position: relative;
    display: block;
    color: #FFF;
    .caption-inner {
      // padding: 20px 40px;
      padding: 30px;
      display: block;
    }
    .icon {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      // border-top: 1px solid;
      // border-left: 1px solid;
      border: 1px solid;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      // border-radius: 10px 0px 0px;
      border-radius: 10px;
    }
  }
  .caption-logo {
    .caption-inner {
      // height: 110px;
      height: 70px;
      .logo-cliente img {
        max-height: 80px;
      }
    }
  }
  .col-right {
    .pic-wrapper {
      margin-bottom: 30px;
    }
    .pic img {
      opacity: 1;
    }
    .caption {
      background: $color-blue;
      // width: 350/470*100%;
      .caption-inner {
        // padding: 14px 55px 13px 22px;
        padding: 30px;
      }
      h3 {
        margin-bottom: 0;
      }
    }
  }
}

.sec-outro-single {
  .container {
    padding-top: 74px;
    padding-bottom: 50px;
  }
  h2 {
    margin-bottom: 22px;
  }
  .col-right .caption {
    // width: 300/370*100%;
    .caption-inner {
      padding-right: 85px;
    }
  }
}

.sec-scm {
  .col-left-full,
  .col-right-full {
    margin-top: 122px;
  }
  h3 {
    margin-top: 32px;
    margin-bottom: 26px;
  }
  p {
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
  }
  .sep {
    margin: 41px 0;
  }
}

.box-o-que-e {
  background: $color-blue;
  color: #FFF;
  padding: 126px 0 126px;
  .content {
    width: 420px;
    float: right;
    margin-right: 48px;
  }
  h2 {
    font: 60px/1.2 'ralewayextralight', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p {
    font: 15px/1.4 'ralewayregular', sans-serif;
    margin: 0 10px 0 0;
  }
}

.sec-atributos {
  position: relative;
  z-index: 1;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bg-esq {
    position: absolute;
    top: 0;
    left: 0;
    background: #EEE;
    width: 1375/1920*100%;
    height: 100%;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    margin-top: 126px;
    margin-bottom: 30px;
  }
  ul {
    margin-left: 15px;
  }
  li {
    font-size: 10px;
    margin: 20px 0;
    span {
      display: block;
      font-size: 15px;
      line-height: 1.4;
    }
  }
  img {
    border: 20px solid #FFF;
  }
}

.sec-case {
  position: relative;
  z-index: 1;
  .container {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .bg-dir {
    position: absolute;
    top: 0;
    right: 0;
    background: $color-yellow;
    width: 1345/1920*100%;
    height: 100%;
  }
  .pic-wrapper {
    display: block;
    color: #FFF;
    h2 {
      font: 45px/1.2 'ralewaymedium', sans-serif;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
    h3 {
      font: 18px/1.2 'ralewaybold', sans-serif;
      margin-bottom: 24px;
      text-transform: uppercase;
    }
    p {
      font: 15px/1.4 'ralewayregular', sans-serif;
      margin: 0;
    }
    .pic {
      position: relative;
      .foto-case {
        display: block;
        width: 100%;
        max-width: 1170px;
        height: 500px;
        background-position: top center;
        background-size: cover;
      }
      .overlay {
        width: 510px;
        position: absolute;
        bottom: 38px;
        left: 50px;
      }
    }
  }
  .caption {
    background: #201F1F;
    // width: 400/1170*100%;
    position: relative;
    display: block;
    color: #FFF;
    .caption-inner {
      padding: 0 40px;
      display: block;
      height: 110px;
      .logo-cliente img {
        max-height: 80px;
      }
    }
    .icon {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      // border-top: 1px solid;
      // border-left: 1px solid;
      border: 1px solid;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      // border-radius: 10px 0px 0px;
      border-radius: 10px;
    }
  }
}

.sec-servicos-complementares {
  .container {
    padding-top: 72px;
    padding-bottom: 64px;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 28px;
  }
  .lista-servicos-complementares {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    .item {
      @include inline-block;
      float: none;
      position: relative;
      background: $color-blue;
      color: #FFF;
      margin-top: 15px;
      margin-bottom: 15px;
      transition: .2s;
      h3 {
        font: 18px/1.2 'ralewaybold', sans-serif;
        text-transform: uppercase;
        margin-right: 65px;
      }
      .item-inner {
        padding: 30px 24px 28px 24px;
        display: block;
      }
      .icon {
        font-size: 14px;
        position: absolute;
        right: 22px;
        bottom: 0;
        top: 0;
        margin: auto;
        // border-top: 1px solid;
        // border-left: 1px solid;
        border: 1px solid;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        // border-radius: 10px 0px 0px;
        border-radius: 10px;
      }
      &:hover {
        background: darken($color-blue, 10%);
      }
    }
  }
}

.sec-lista-cases {
  font-size: 0;
  .container {
    padding-top: 118px;
    padding-bottom: 70px;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    color: #005E99;
    text-transform: uppercase;
    margin-bottom: -8px;
  }
  h4 {
    font: 18px/1.2 'ralewaybold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  .pic-wrapper {
    @include inline-block;
    color: #FFF;
    margin-top: 30px;
    margin-bottom: 30px;
    h3 {
      font: 18px/1.2 'ralewaybold', sans-serif;
      margin-bottom: 24px;
      text-transform: uppercase;
    }
    p {
      font: 15px/1.4 'ralewayregular', sans-serif;
      margin: 0;
    }
    .pic {
      display: block;
      position: relative;
      background: #201F1F;
      img {
        display: block;
        width: 100%;
        height: auto;
        /*opacity: 0.3;*/
      }
      .overlay {
        display: block;
        position: absolute;
        z-index: 2;
        left: 40px;
        right: 30px;
        bottom: 38px;
        color: #FFF;
      }
    }
    .caption {
      background: #201F1F;
      /* width: 400/570*100%; */
      position: relative;
      display: block;
      color: #FFF;
      .caption-inner {
        padding: 0px 93px 0 0;
        display: block;
        height: 110px;
        text-align: right;
        .logo-cliente img {
          max-height: 80px;
        }
      }
      .icon {
        position: absolute;
        right: 0;
        top: 50%;
        margin: -25px 20px 0 0;
        font-size: 14px;
        border: 1px solid;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
}

.hero-case {
  color: #FFF;
  text-align: left;
  .bg {
    height: 630px;
  }
  h3 {
    font: 75px/1.2 'ralewaymedium', sans-serif;
  }
  p {
    font-size: 18px;
    line-height: 1.4;
    margin: 22px 0 16px;
  }
  .logo-cliente {
    height: 115px;
    line-height: 115px;
    border-radius: 50px;
    border: 1px solid;
    text-align: center;
  }
}

.sec-detalhe-case {
  overflow: hidden;
  .container {
    padding-top: 128px;
    padding-bottom: 62px;
  }
  .col-left-full {
    margin-left: -35px;
    p {
      margin: 0 0 20px;
    }
  }
  .col-right-full {
    margin-right: -35px;
    background: #005E9A;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 40px;
    .col-right-full-inner {
      padding-left: 40px;
    }
    h2 {
      font-size: 45px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    ul {
      margin-left: 12px;
    }
    li {
      text-transform: uppercase;
      margin: 21px 0;
      span {
        font: 18px/1.2 'ralewaybold', sans-serif;
        display: inline-block;
      }
    }
  }
}

.sec-depoimento {
  position: relative;
  z-index: 1;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bg-esq {
    background: #221F1F;
    position: absolute;
    width: 1245/1920*100%;
    top: 0;
    height: 100%;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 30px;
    margin-bottom: 32px;
  }
  .quote {
    color: $color-yellow;
    position: relative;
    padding: 0 20px 0 50px;
    p {
      font: italic 15px/1.4 'ralewayregular', sans-serif;
    }
    &:before,
    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 29px;
      height: 25px;
    }
    &:before {
      top: 7px;
      left: 4px;
      background: url(img/quote-open.png) no-repeat;
      background-image: linear-gradient(transparent, transparent), url(img/quote-open.svg);
    }
    &:after {
      right: -2px;
      bottom: -18px;
      background: url(img/quote-close.png) no-repeat;
      background-image: linear-gradient(transparent, transparent), url(img/quote-close.svg);
    }
  }
  .quote-author {
    margin-top: 58px;
    color: #FFF;
    .logo-cliente {
      border: 1px solid #FFF;
      border-radius: 25px;
      height: 60px;
      line-height: 54px;
      float: left;
      // padding: 0 22px;
      padding: 0 52px;
      margin-top: -8px;
      margin-left: 3px;
      margin-right: 18px;
      text-align: center;
      img {
        max-height: 80%;
      }
    }
    h3 {
      font: 18px/1.4 'ralewaybold', sans-serif;
      text-transform: uppercase;
      overflow: auto;
    }
    p {
      font: 15px/1.4 'ralewayregular', sans-serif;
      margin: 0;
    }
  }
  .col-right {
    img {
      border: 20px solid #FFF;
      margin-left: 22px;
    }
  }
}

.sec-diferenciais {
  position: relative;
  z-index: 1;
  .bg-dir {
    width: 1245/1920*100%;
    background: #F2F2F2;
    top: 0;
  }
  .container {
    // padding-top: 32px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .sec-diferenciais-inner {
    background: #F2F2F2;
    width: 658/1170*100%;
    float: right;
    padding: 32px 170px 32px 42px;
    position: relative;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: #005E9A;
    margin-right: 90px;
    margin-bottom: -26px;
  }
  h3 {
    font: 18px/1.2 'ralewaybold', sans-serif;
    text-transform: uppercase;
    margin-top: 55px;
    margin-bottom: 12px;
  }
  p {
    font-size: 15px;
    line-height: 1.4;
    margin: 0 5px 0 0;
  }
  .barra-icones {
    width: 130px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -130px;
    height: 100%;
    background: #005E9A;
  }
  ul li {
    position: relative;
    list-style: none;
    .icon-wrapper {
      position: absolute;
      top: 0;
      left: -172px;
      width: 130px;
      height: 100%;
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}

.sec-galeria {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .slide-wrapper {
    overflow: hidden;
    position: relative;
    .slide-item {
      float: left;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
  .col-info {
    background: #F2F2F2;
    .col-info-inner {
      padding: 38px 40px 0;
    }
    h2 {
      font: 15px/1.2 'ralewaybold', sans-serif;
      text-transform: uppercase;
      color: $color-yellow;
      border-bottom: 1px solid #AAA;
      padding-bottom: 15px;
      padding-left: 3px;
      position: relative;
      margin-bottom: 38px;
      &:before {
        content: " ";
        background: $color-yellow;
        width: 157px;
        height: 5px;
        position: absolute;
        bottom: -3px;
        left: 0;
      }
    }
    ul {
      margin-left: 12px;
      margin-right: 30px;
      margin-bottom: 52px;
    }
    li {
      font-size: 10px;
      margin: 20px 0;
    }
    span {
      font-size: 15px;
      line-height: 1.5;
    }
  }
  .col-controls {
    width: span(4 wide);
    margin-left: gutter() * -1;
    float: left;
  }
  .slide-controls {
    background: $color-yellow;
    font-size: 0;
    .slide-controls-inner {
      padding: 44px 34px;
    }
    button {
      border: 2px solid #FFF;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: none;
      padding: 0;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      line-height: 0;
      &:hover {
        background: #FFF;
        color: $color-yellow;
      }
      &:focus,
      &:active {
        outline: none;
      }
      .icon {
        vertical-align: middle;
      }
    }
    .bt-prev {
      float: left;
    }
    .bt-next {
      float: right;
    }
    .pag {
      font: 25px/36px 'ralewaymedium', sans-serif;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      .curr {
        @include inline-block(text-bottom);
        font-size: 45px;
        color: #FFF;
        margin-right: 8px;
      }
    }
  }
  .compartilhe-case {
    margin-top: 10px;
    padding: 20px 32px;
    p {
      font: 15px/1.2 'ralewaybold', sans-serif;
      text-transform: uppercase;
      color: $color-yellow;
      margin: 0 0 15px;
    }
    .social {
      font-size: 0;
      margin-left: -1px;
      a {
        @include inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid;
        border-radius: 50%;
        font-size: 22px;
        line-height: 40px;
        color: $color-yellow;
        text-align: center;
        + a {
          margin-left: 20px;
        }
        &:hover {
          color: darken($color-yellow, 15%);
        }
      }
    }
  }
}

.sec-clientes {
  .container {
    max-width: 1215px;
    .intro {
      p {
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }
  .lista-logos-clientes {
    font-size: 0;
    li {
      @include inline-block;
      list-style-type: none;
      width: 170px;
      height: 170px;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin: 0 15px 30px;
      a {
        position: absolute;
        top: 0;
        border: 1px solid #ddd;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 170px;
        height: 170px;
        margin: auto;
        z-index: 4;
        cursor: pointer;
        box-sizing: border-box;
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 3;
        max-width: 160px;
      }
    }
    li a:hover {
      border-color: #01729A;
    }
    li.case-suc a {}
    li.case-suc a h3 {
      font: 13px 'ralewaybold', sans-serif;
      text-transform: uppercase;
      color: #fff;
      height: 170px;
      font-weight: 300;
      background: url(img/estrela.png) 50% 90% no-repeat;
    }
    li a .logo-h {
      display: none;
    }
    li.case-suc a:hover .logo-h {
      display: block;
    }
    li.case-suc a:hover .logo-c {
      display: none;
    }
    li.case-suc a:hover {
      background-color: #01729A;
    }
  }
}

.sec-depoimentos {
  background: #091C2B url("img/depoimentos-bg.jpg") no-repeat scroll 50% 50%/cover;
  text-align: center;
  .container {
    width: 100%;
    min-height: 600px;
    padding: 55px 0 0 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    h1 {
      font: 60px/1.2 "ralewayextralight", sans-serif;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: #fff;
    }
    p {
      color: #fff;
      line-height: 130%;
      max-width: 850px;
      font-style: italic;
    }
    h3 {
      padding: 27px 0 0 0;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
    }
    h4 {
      font-size: 15px;
      color: #fff;
      font-style: italic;
      padding-bottom: 10px;
    }
    h5 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
    }
  }
}

.depoimentos-wrapper {
  .container {
    position: relative;
  }
  .depoimentos-item {
    float: left;
    width: 100%;
    min-height: 420px;
    .center {
      background: url(img/abre-aspas.png) no-repeat top center;
      padding-top: 27px;
    }
    .texto-dep {
      background: url(img/fecha-aspas.png) no-repeat bottom center;
      padding-bottom: 27px;
    }
  }
  .dots {
    margin: auto;
    width: 100%;
  }
  .slick-dots {
    font-size: 0;
    text-align: center;
    li {
      @include inline-block;
      margin: 0 2px;
      button {
        width: 16px;
        height: 16px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        font: 0/0 a;
        border: 1px solid #FFF;
        border-radius: 50%;
        background: none;
        padding: 0;
        transition: .2s;
        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }
      }
      button:hover,
      &.slick-active button {
        background: #FFF;
      }
    }
  }
}

.sec-fale-conosco {
  .container {
    padding-top: 118px;
  }
  .form-fale-conosco {
    max-width: 730px;
    h2 {
      font-family: ralewaybold;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    form .field {
      width: 700px;
      margin-bottom: 28px;
      margin-right: 30px;
    }
    .field-group-double {
      .field {
        float: left;
        width: 335px;
        display: table-cell;
      }
    }
    form input[type=text],
    form input[type=email] {
      height: 62px;
      border-radius: 31px;
    }
    form .field select {
      height: 62px;
      padding: 10px 6px;
    }
    form .field textarea {
      height: 200px;
      padding: 20px;
      border-radius: 31px;
    }
    form .bt-submit {
      border: 1px solid #F2C007;
      display: block;
      border-radius: 30px;
      text-transform: uppercase;
      height: 60px;
      font: 20px/60px 'ralewaymedium', sans-serif;
      margin-top: 51px;
      transition: .2s;
      &:hover {
        background: #FFF;
        color: $color-light-blue;
      }
    }
  }
  #agradecimento-contato {
    text-align: center;
  }
  .box-agradecimento {
    background-color: #F2F2F2;
    border: 1px solid #221F1F;
    border-radius: 26px;
    margin-bottom: 30px;
    h1 {
      font-family: ralewaymedium;
      font-size: 45px;
      line-height: 120%;
      color: rgb(17, 57, 114);
      padding: 100px 80px 20px;
      text-transform: uppercase;
    }
    p {
      padding: 0 50px 100px;
    }
  }
  .lat-trabalhe {
    float: right;
    h3 {
      font-family: ralewayextralight;
      font-size: 30px;
      text-transform: uppercase;
      color: #005E99;
    }
    .bt-padrao {
      border-radius: 20px;
      padding: 0 20px;
      height: 40px;
      font: 15px/40px 'ralewaymedium', sans-serif;
      margin-top: 15px;
      transition: .2s;
      &:hover {
        background: #FDF6DA;
      }
    }
  }
}

.sec-blog {
  .post-item {
    margin-bottom: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #F1F1F1;
  }
  .post-info {
    margin-left: 0;
    .social {
      font-size: 0;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      a {
        @include inline-block;
        font-size: 19px;
        line-height: 37px;
        width: 37px;
        height: 37px;
        background: #fff;
        border-radius: 50%;
        border: 2px solid #bbb;
        color: #bbb;
        text-align: center;
        transition: .2s;
        &:hover {
          background: darken(#f0f0f0, 5%);
        }
      }
    }
    p.comp {
      font-size: 18px;
      font-family: ralewaybold;
      text-transform: uppercase;
      clear: both;
      margin: 0;
    }
    .post-data {
      font-family: ralewaymedium;
      font-size: 45px;
      color: #221F1F;
      margin: -10px 0 10px;
    }
  }
  .post-conteudo {
    width: 66%;
    img {
      max-width: 570px;
    }
  }
  .post-cat {
    margin-bottom: 14px;
    clear: both;
    h4 {
      display: block;
      font-family: ralewaymedium;
      font-size: 18px;
      float: left;
    }
    span {
      background: #F2C007;
      height: 2px;
      width: 70px;
      overflow: hidden;
      margin: 10px 10px 0 0;
      display: block;
      float: left;
    }
  }
  h1 {
    font-family: ralewayextralight;
    font-size: 55px;
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 40px;
  }
  .lat-blog {
    h3 {
      font-family: ralewayextralight;
      font-size: 30px;
      text-transform: uppercase;
      color: #005E99;
      margin-bottom: 10px;
    }
  }
  .lat-curta,
  .lat-categorias {
    margin-bottom: 50px;
  }
  .lat-posts {
    margin-bottom: 50px;
    li {
      padding: 20px 0;
      border-top: 1px solid #F1F1F1;
      list-style-type: none;
      a {
        font-family: ralewaybold;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 110%;
      }
    }
  }
}


/* Área do Cliente */

.sec-area-cliente {
  .container {
    max-width: 1215px;
    .intro {
      p {
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }
  .lista-area-cliente {
    font-size: 0;
    li {
      @include inline-block;
      width: 170px;
      height: 300px;
      text-align: center;
      position: relative;
      margin: 0 15px 30px;
      .manu-atencao {
        background: url(img/area-cliente-atencao.png) 0 0 no-repeat;
        height: 93px;
        width: 104px;
        position: absolute;
        top: -7px;
        right: -5px;
        display: none;
        z-index: 6;
      }
      a {
        position: absolute;
        top: 0;
        border: 1px solid #ddd;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 170px;
        height: 300px;
        margin: auto;
        z-index: 4;
        box-sizing: border-box;
        border-radius: 30px;
        overflow: hidden;
        .bt-padrao-pq {
          width: 90px;
          position: absolute;
          left: 50%;
          bottom: -60px;
          margin-left: -65px;
          opacity: 0;
          background: transparent;
        }
        &:hover {
          background: #F2F2F2;
          .bt-padrao-pq {
            bottom: 60px;
            opacity: 1;
          }
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 3;
        max-width: 140px;
        height: auto;
      }
    }
    li.manutencao {
      .manu-atencao {
        display: block
      }
      .bt-padrao-pq {
        display: none;
      }
      a {
        border-color: #fff;
        background: #FEE6C0;
      }
    }
  }
  .aviso-manu {
    text-align: center;
    max-width: 660px;
    margin: auto;
    text-transform: uppercase;
    padding: 30px 10px;
    font-family: RalewayHeavy;
    font-size: 18px;
    color: #BA6700;
  }
}


/* Institucional */

.sec-historia {
  h3 {
    font: 60px/1.2 'ralewayextralight', sans-serif;
    letter-spacing: 0.01em;
    color: #113972;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  ul {
    li {
      display: table;
      margin: 0;
      &:last-child {
        .barra {
          background: url("img/timeline_bottom.jpg") 0 0 no-repeat;
          &:before {
            height: 50%;
          }
        }
      }
      &:first-child {
        .barra {
          &:before {
            height: 50%;
            top: 50%;
          }
        }
      }
    }
    .barra {
      display: table-cell;
      width: 70px;
      height: 60px;
      position: relative;
      background-color: #F2C007;
      &:before {
        content: "";
        display: block;
        width: 5px;
        height: 101%;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: #113972;
        transform: translate3d( -50%, 0, 0);
      }
      &:after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background-color: #113972;
        transform: translate3d( -50%, -50%, 0);
      }
      &.branco:after {
        width: 25px;
        height: 25px;
        background-color: #FFF;
      }
    }
    .texto {
      min-height: 60px;
      width: 400px;
      display: table-cell;
      line-height: 130%;
      font-family: ralewaybold;
      font-size: 16px;
      color: #113972;
      padding-right: 20px;
      text-align: right;
      vertical-align: middle;
      strong {
        font-size: 30px;
      }
    }
    .prala {
      opacity: 0;
    }
    .textoalinha .praca {
      opacity: 0;
    }
    .textoalinha .prala {
      opacity: 1;
      text-align: left;
      padding-left: 20px;
    }
  }
}

.sec-institucional {
  .col-right-full {
    .box-visao {
      background: $color-blue;
      color: #FFF;
      padding: 0 10px 60px 70px;
      .content {
        max-width: 460px;
        float: left;
      }
      .item {
        padding: 0 0 0 100px;
      }
      .ico-visao {
        background: url(img/ico-visao.png) 0 0 no-repeat;
      }
      .ico-missao {
        background: url(img/ico-missao.png) 0 0 no-repeat;
      }
      .ico-valores {
        background: url(img/ico-valores.png) 0 0 no-repeat;
      }
      h3 {
        color: #fff;
        margin: 52px 0 10px;
      }
      p {
        font: 15px/1.4 'ralewayregular', sans-serif;
        padding: 0px 0px 30px;
        margin: 0;
      }
      ul {
        margin: 0 0 0 10px;
        li {
          margin: 0;
        }
      }
    }
  }
  .sec-codigo {
    padding: 70px 0 0;
    .container {
      padding-top: 60px;
    }
    h2 {
      font: 45px/1.2 'ralewaymedium', sans-serif;
      text-transform: uppercase;
      color: $color-yellow;
      margin-bottom: 30px;
    }
    ul {
      padding: 10px 0 5px 10px;
    }
    li {
      font-size: 10px;
      margin: 0;
      span {
        display: block;
        font-size: 15px;
        line-height: 1.4;
      }
    }
    img {
      margin-bottom: 20px;
    }
    .bt-download-codigo {
      @include inline-block;
      float: none;
      width: 270px;
      position: relative;
      background: $color-yellow;
      color: #FFF;
      margin-top: 15px;
      margin-bottom: 15px;
      transition: .2s;
      h3 {
        font: 18px/1.2 'ralewaybold', sans-serif;
        text-transform: uppercase;
        margin-right: 50px;
      }
      .item-inner {
        padding: 30px 24px 28px 24px;
        display: block;
      }
      .icon {
        font-size: 14px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-top: 1px solid;
        border-left: 1px solid;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 10px 0px 0px;
      }
      &:hover {
        background: darken($color-yellow, 10%);
      }
    }
  }
}

.sec-projetos-sociais {
  padding-top: 0;
  .container {
    padding: 35px 0;
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 30px;
  }
  .lista-projetos-sociais,
  .lista-projetos-sociais-fixo {
    font-size: 0;
    text-align: center;
    padding: 30px 0;
    .item {
      @include inline-block;
      float: none;
      padding: 15px 0 25px;
      transition: .2s;
      img {
        max-width: 370px;
      }
      h3 {
        color: $color-blue;
        font: 18px/1.2 'ralewaybold', sans-serif;
        text-transform: uppercase;
        padding: 30px 0 0;
      }
      p {
        font-size: 15px;
        margin: 10px 20px;
      }
    }
  }
  .lista-projetos-sociais-fixo {
    padding: 30px 0;
    .item {
      img {
        max-width: 570px;
      }
    }
  }
}

.fundo-associacoes {
  margin-bottom: 40px;
  background: linear-gradient(90deg, #f0f0f0 50%, #ffffff 50%);
  .container {
    padding: 40px;
    background: #f0f0f0;
  }
}

.sec-projetos-ambientais {
  padding-bottom: 90px;
  .container {
    padding: 10px 0 25px;
    h2 {
      font: 45px/1.2 "ralewaymedium", sans-serif;
      text-transform: uppercase;
      margin-bottom: 25px;
      color: $color-light-blue;
    }
  }
  .col-left-full-inner {
    padding: 30px;
    h3 {
      color: $color-light-blue;
    }
    ul {
      padding: 10px 0 5px 10px;
    }
    li {
      font-size: 10px;
      margin: 0 0 20px;
      span {
        display: block;
        font-size: 15px;
        line-height: 1.4;
      }
    }
  }
  .col-right-full {
    position: relative;
    z-index: 1;
    padding: 50px 0 20px;
    .bg-dir {
      position: absolute;
      top: 0;
      right: 0;
      background: $color-light-blue;
      width: 1750/1920*100%;
      height: 100%;
    }
    img {
      margin: 0 30px 30px 0;
      float: left;
    }
  }
}

.sec-projetos-treina {
  .container {
    padding: 10px 0 25px;
    h2 {
      font: 45px/1.2 "ralewaymedium", sans-serif;
      text-transform: uppercase;
      margin-bottom: 25px;
      color: $color-light-blue;
    }
  }
  h3 {
    font: 45px/1.2 "ralewaymedium", sans-serif;
    text-transform: uppercase;
    margin: 42px 0;
    color: #fff;
  }
  .col-left-full {
    background: $color-dark-yellow;
    .col-left-full-inner {
      padding: 0px 110px 90px 0;
      max-width: 400px;
      float: right;
      p {
        color: #fff;
      }
      h3 {
        color: #fff;
      }
    }
  }
  .col-right-full {
    padding: 0 0 20px;
    .col-right-full-inner {
      padding: 0px 30px;
      max-width: 570px;
      float: left;
      h3 {
        color: $color-blue;
      }
      img {
        margin: 0 30px 30px 0;
        float: left;
      }
    }
  }
}

.sec-unidade {
  h2 {
    font-size: 45px;
    color: $color-blue;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 38px;
  }
  p {
    font-size: 15px;
    line-height: 1.4;
    margin: 38px 0;
  }
}

.sec-outras-unidades {
  background: #005E9A;
  h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    margin-bottom: 58px;
  }
  .container {
    padding-top: 66px;
    padding-bottom: 66px;
  }
  .lista-unidades {
    ul {
      margin-left: -9/1170*100%;
      margin-right: -9/1170*100%;
      font-size: 0;
    }
    li {
      @include inline-block;
      margin: 9/1188*100%;
      width: 378/1188*100%;
    }
  }
  .item {
    display: block;
    height: 80px;
    background: $color-blue;
    color: #FFF;
    font: 18px/1.2 'ralewaybold', sans-serif;
    text-transform: uppercase;
    padding: 10px 85px 10px 10px;
    text-align: center;
    transition: .2s;
    position: relative;
    .icon {
      font-size: 14px;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      // border-top: 1px solid;
      // border-left: 1px solid;
      border: 1px solid;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      // border-radius: 10px 0px 0px;
      border-radius: 10px;
    }
    &:hover {
      background: darken($color-blue, 5%);
    }
    // span {
    //   margin: 0 20px;
    // }
  }
}

.sec-produtos {
  padding: 120px 0 0;
}

.sec-solucoes {
  padding: 40px 0 0;
}

.sec-solucoes-lista {
  .container {
    padding-top: 72px;
    padding-bottom: 86px;
  }
  .solucoes-lista-intro {
    padding-top: 38px;
    padding-bottom: 64px;
    p {
      font-size: 15px;
      line-height: 1.4;
    }
  }
  h2 {
    font: 45px/1.2 'ralewaymedium', sans-serif;
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 4px;
  }
  .lista-solucoes {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -9/1170*100%;
    margin-right: -9/1170*100%;
    .item {
      @include inline-block;
      width: 216/1170*100%;
      margin: 9/1170*100%;
      float: none;
      border-radius: 30px;
      height: 224px;
      position: relative;
      background-color: $color-blue;
      color: #FFF;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      transition: .2s;
      h3 {
        font: 18px/1.2 'ralewaybold', sans-serif;
        text-transform: uppercase;
      }
      .item-inner {
        // padding: 30px 24px 28px 24px;
        padding: 145px 40px 0;
        display: block;
      }
      .icon {
        font-size: 14px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-top: 1px solid;
        border-left: 1px solid;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 10px 0px 0px;
      }
      &:hover {
        background-color: $color-light-blue;
      }
    }
    .ico-sol-documentos {
      background: $color-blue url(img/ico-sol-documentos.png) top center no-repeat
    }
    .ico-sol-dados {
      background: $color-blue url(img/ico-sol-dados.png) top center no-repeat
    }
    .ico-sol-integracao {
      background: $color-blue url(img/ico-sol-integracao.png) top center no-repeat
    }
    .ico-sol-supply {
      background: $color-blue url(img/ico-sol-supply.png) top center no-repeat
    }
    .ico-sol-logistica {
      background: $color-blue url(img/ico-sol-logistica.png) top center no-repeat
    }
  }
}

.sec-resultados {
  .hero {
    text-align: left;
  }
  .hero .bg {
    height: 100px;
  }
  .hero h2 {
    font-size: 18px;
    font-family: ralewaybold;
  }
  .main-content .container {
    padding-top: 57px;
    padding-bottom: 42px;
  }
  .row > div + div {
    border-top: 1px solid #ddd;
    padding-top: 30px;
  }
  .lista-resultados {
    padding-top: 30px;
    padding-bottom: 10px;
    .contador-resultados {
      h2 {
        font-family: ralewayextralight;
        font-size: 55px;
        text-transform: uppercase;
        color: $color-blue;
      }
      h3 {
        font-family: ralewaybold;
        font-size: 18px;
        text-transform: uppercase;
        color: $color-blue;
        margin-bottom: 25px;
      }
    }
    .demais-resultados {
      h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-family: ralewaybold;
        padding: 10px 0 25px;
      }
      .item {
        padding-bottom: 20px;
        h4 {
          text-transform: uppercase;
          font-size: 13px;
          font-family: ralewaybold;
        }
        p {
          font-size: 13px;
          margin: 5px 0 0;
          line-height: 140%;
        }
        b {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

.box-solucao {
  .pic-wrapper {
    max-width: 470px;
    display: block;
    float: left;
    margin: 0 10px 30px 0;
    h3 {
      font: 18px/1.2 'ralewaybold', sans-serif;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    p {
      font: 15px/1.4 'ralewayregular', sans-serif;
      margin: 0;
    }
  }
  .pic {
    display: block;
    position: relative;
    background: #201F1F;
    img {
      display: block;
      height: auto;
      opacity: 1;
    }
    .overlay {
      display: block;
      position: absolute;
      z-index: 2;
      left: 40px;
      right: 30px;
      bottom: 38px;
      color: #FFF;
    }
  }
  .caption {
    background: $color-blue;
    width: 350/470*100%;
    position: relative;
    display: block;
    color: #FFF;
    .caption-inner {
      padding: 14px 55px 13px 22px;
      display: block;
    }
    .icon {
      position: absolute;
      right: 0;
      bottom: 0;
      border-top: 1px solid;
      border-left: 1px solid;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 10px 0px 0px;
    }
  }
  .caption-logo {
    .caption-inner {
      height: 110px;
      .logo-cliente img {
        max-height: 80px;
      }
    }
  }
}

.tit-esales {
  text-transform: none !important;
}

.sec-politica {
  p, ul {
    font-size: 15px;
    line-height: 1.4;
    margin: 38px 0;
  }

  ul {
    padding-left: 30px;
  }

  ul, li {
    list-style: inside disc;
  }

  li {
    padding: 10px 0;
  }
}