<footer>
  <div class="container">
    <div class="cols-wrapper">
      <div class="col-lg-3 col-md-3 col-sm-4 logo-anos">
        <img src="img/logo-20-anos.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Newsletter</h2>
        <!-- <h1>Obrigado</h1>
        <p class="agradec"> Seus dados foram enviados com sucesso!</p> -->
        <form method="post" name="form1" action="http://cache.mail2easy.com.br/integracao">
          <input type="hidden" name="CON_ID" value="26941.21372f10b968491e5997e7f86d0f3825">
          <input type="hidden" name="DESTINO" value="http://www.esales.com.br/">
          <input type="hidden" name="GRUPOS_CADASTRAR" value="12">
          <input type="hidden" name="GRUPOS_DESCADASTRAR" value="">
          <input type="hidden" name="SMT_RECEBER" value="1">
          <div class="fieldset">
            <h3 class="legend">Receba nossas novidades</h3>
            <div class="field">
              <input type="text" value="" name="SMT_nome" placeholder="Nome" class="floatlabel">
            </div>
            <div class="field field-append-button field-error">
              <input type="text" value="" name="SMT_email" placeholder="E-mail" class="floatlabel">
              <button type="submit" name="submit"><i class="icon icon-arrow-right"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 fr">
        <h3>Siga-nos nas redes</h3>
        <div class="social">
          <a href="https://www.facebook.com/Esalessolucoes" target="_blank" class="icon icon-facebook" title="Facebook"></a>
        <a href="https://twitter.com/e_Sales" target="_blank" class="icon icon-twitter" title="Twitter"></a>
        <a href="https://google.com/e_Sales" target="_blank" class="icon icon-googleplus" title="Google+"></a>
        <a href="https://www.linkedin.com/company/e-sales-solu-es-de-integra-o" class="icon icon-linkedin" target="_blank" title="LinkedIn"></a>
        </div>
      </div>
    </div>
    <div class="lista-unidades">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Matriz Porto Alegre - RS</h3>
          <p class="addr mb10">Avenida França, 1162,
            <br> Bairro Navegantes - CEP 90230-220</p>
          <p class="tel"><i class="icon icon-tel"></i> (51) 3325.8100</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Unidade São Paulo - SP</h3>
          <p class="addr mb10">Rua Carneiro da Cunha, nº 1192
            <br> Bairro Parq. Imperial - CEP 04144-001</p>
          <p class="tel"><i class="icon icon-tel"></i> (11) 2307.4231</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Unidade Brasília - DF</h3>
          <p class="addr mb10">SRTVS Qd. 701, Bloco B Salas 216 e 218
            <br> Ed. Centro Empresarial - CEP 70340-907</p>
          <p class="tel"><i class="icon icon-tel"></i> (61) 3034.0123</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Unidade Goiânia - GO</h3>
          <p class="addr mb10">Rua 88, 559 Qd. F35 Lt. 57
            <br> (esq. c/ Rua 111), Setor Sul - CEP 74085-115</p>
          <p class="tel"><i class="icon icon-tel"></i> (62) 3086.5750</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h3>Unidades Regionais</h3>
          <p class="mb10">Birigui/SP</p>
          <p class="mb10">Novo Hamburgo/RS</p>
          <p class="mb10">Vitória/ES</p>
        </div>
        <div class="col-lg-7 col-sm-12 col-contatos">
          <h3>Contatos</h3>
          <div class="lista-contatos">
            <div class="col">
              <p class="tel"><i class="icon icon-tel"></i> Suporte: (51) 3325.8100</p>
              <p class="email"><i class="icon icon-mail"></i> RH: <a href="mailto:rh@esales.com.br">rh@esales.com.br</a></p>
              <p class="email"><i class="icon icon-mail"></i><a href="mailto:comercial@esales.com.br">comercial@esales.com.br</a></p>
            </div>
            <div class="col">
              <p class="email"><i class="icon icon-mail"></i><a href="mailto:marketing@esales.com.br">marketing@esales.com.br</a></p>
              <p class="email"><i class="icon icon-mail"></i><a href="mailto:financeiro@esales.com.br">financeiro@esales.com.br</a></p>
              <p class="email"><i class="icon icon-mail"></i><a href="mailto:diretoria@esales.com.br">diretoria@esales.com.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="barra-logos-solucoes">
    <div class="container">
      <a href="#" class="logo-solucao">
        <img src="img/logo-entregoucom.png" alt="">
      </a>
      <a href="#" class="logo-solucao">
        <img src="img/logo-oobj.png" alt="">
      </a>
      <a href="#" class="logo-solucao">
        <img src="img/logo-interbancos.png" alt="">
      </a>
      <a href="#" class="logo-solucao">
        <img src="img/logo-edienterprise.png" alt="">
      </a>
    </div>
  </div>
  <div class="container copy">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col cc">
        <img src="img/logo-footer.png" alt="" class="logo-footer">
        <p>E-Sales Soluções de Integração Todos os direitos autorais reservados</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col alignright">
        <p>Por <a href="http://www.aldeia.biz/" target="_blank" title="Explore &amp; Discover" rel="nofollow">Aldeia</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="js/vendor/jquery.min.js">\x3C/script>')
</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>