<header>
  <div class="container">
    <a href="_index.html" class="topo-logo"><img src="img/logo.png" alt="E-Sales"></a>
    <!-- <a href="_area-cliente.html" class="link-area-cliente" target="_blank">Área do Cliente</a> -->
    <nav>
      <ul class="main-nav">
        <li><a href="_institucional.html" title="e-Sales">e-Sales</a></li>
        <li class="ativo"><a href="_solucoes.html" title="Soluções">Soluções</a></li>
        <li><a href="_produtos.html" title="Produtos">Produtos</a></li>
        <li><a href="_cases.html" title="Cases">Cases</a></li>
        <li><a href="_clientes.html" title="Clientes">Clientes</a></li>
        <li><a href="_blog.html" title="Blog">Blog</a></li>
        <li><a href="_fale-conosco.html" title="Fale Conosco">Fale Conosco</a></li>
      </ul>
      <div class="search">
        <form action="">
          <input type="text" name="s" id="s" placeholder="Faça sua busca">
          <button type="submit"><i class="icon icon-arrow-right"></i></button>
        </form>
      </div>
    </nav>
    <button class="bt-menu" title="Menu">
      <span class="hamburguer">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </span>
    </button>
  </div>
</header>