@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress {
  display: inline-block;
  vertical-align: baseline
}

video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button,
input {
  font: inherit;
  margin: 0
}

optgroup {
  color: inherit
}

optgroup,
select,
textarea {
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

html,
button,
input,
select,
textarea {
  color: #231F20
}

html {
  background: #FFF
}

a {
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
  color: inherit
}

a:hover {
  text-decoration: none
}

ul,
li {
  list-style: none
}

ol,
ul {
  padding: 0;
  margin: 0
}

img,
iframe,
video {
  vertical-align: middle
}

.ir {
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent
}

.cf:before,
.cols-wrapper:before,
.sec-clientes-home .caption .caption-inner:before,
.cf:after,
.cols-wrapper:after,
.sec-clientes-home .caption .caption-inner:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table
}

.clear,
.cf:after,
.cols-wrapper:after,
.sec-clientes-home .caption .caption-inner:after,
.container:after,
.row:after {
  clear: both
}

.cf,
.cols-wrapper,
.sec-clientes-home .caption .caption-inner,
.container,
.row {
  zoom: 1
}

.hidden {
  display: none
}

.valign i,
.valign .center {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline
}

.valign i {
  height: 100%
}

.alignleft {
  text-align: left
}

.alignright {
  text-align: right
}

.aligncenter {
  text-align: center
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.2529137529%;
  padding-right: 1.2529137529%
}

.container:after {
  content: " ";
  display: block;
  clear: both
}

.row {
  margin-left: -1.2529137529%;
  margin-right: -1.2529137529%
}

.fl {
  float: left
}

.fr {
  float: right
}

.col-lg-1,
.col-all-1 {
  width: 5.8275058275%
}

.col-lg-1,
.col-all-1,
.col-lg-2,
.col-all-2 {
  margin-left: 1.2529137529%;
  margin-right: 1.2529137529%;
  float: left
}

.col-lg-2,
.col-all-2 {
  width: 14.1608391608%
}

.col-lg-3,
.col-all-3 {
  width: 22.4941724942%
}

.col-lg-3,
.col-all-3,
.col-lg-4,
.col-all-4 {
  margin-left: 1.2529137529%;
  margin-right: 1.2529137529%;
  float: left
}

.col-lg-4,
.col-all-4 {
  width: 30.8275058275%
}

.col-lg-5,
.col-all-5 {
  width: 39.1608391608%
}

.col-lg-5,
.col-all-5,
.col-lg-6,
.col-all-6 {
  margin-left: 1.2529137529%;
  margin-right: 1.2529137529%;
  float: left
}

.col-lg-6,
.col-all-6 {
  width: 47.4941724942%
}

.col-lg-7,
.col-all-7 {
  width: 55.8275058275%
}

.col-lg-7,
.col-all-7,
.col-lg-8,
.col-all-8 {
  margin-left: 1.2529137529%;
  margin-right: 1.2529137529%;
  float: left
}

.col-lg-8,
.col-all-8 {
  width: 64.1608391608%
}

.col-lg-9,
.col-all-9 {
  width: 72.4941724942%
}

.col-lg-9,
.col-all-9,
.col-lg-10,
.col-all-10 {
  margin-left: 1.2529137529%;
  margin-right: 1.2529137529%;
  float: left
}

.col-lg-10,
.col-all-10 {
  width: 80.8275058275%
}

.col-lg-11,
.col-all-11 {
  width: 89.1608391608%
}

.col-lg-11,
.col-all-11,
.col-lg-12,
.col-all-12 {
  margin-left: 1.2529137529%;
  margin-right: 1.2529137529%;
  float: left
}

.col-lg-12,
.col-all-12 {
  width: 97.4941724942%
}

@media (max-width:992px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: none;
    width: auto
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: auto
  }
  .col-md-1 {
    width: 5.8275058275%
  }
  .col-md-1,
  .col-md-2 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-md-2 {
    width: 14.1608391608%
  }
  .col-md-3 {
    width: 22.4941724942%
  }
  .col-md-3,
  .col-md-4 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-md-4 {
    width: 30.8275058275%
  }
  .col-md-5 {
    width: 39.1608391608%
  }
  .col-md-5,
  .col-md-6 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-md-6 {
    width: 47.4941724942%
  }
  .col-md-7 {
    width: 55.8275058275%
  }
  .col-md-7,
  .col-md-8 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-md-8 {
    width: 64.1608391608%
  }
  .col-md-9 {
    width: 72.4941724942%
  }
  .col-md-9,
  .col-md-10 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-md-10 {
    width: 80.8275058275%
  }
  .col-md-11 {
    width: 89.1608391608%
  }
  .col-md-11,
  .col-md-12 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-md-12 {
    width: 97.4941724942%
  }
}

@media (max-width:750px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: none;
    width: auto
  }
  .container {
    padding-left: 10px;
    padding-right: 10px
  }
  .col-sm-1 {
    width: 5.8275058275%
  }
  .col-sm-1,
  .col-sm-2 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-sm-2 {
    width: 14.1608391608%
  }
  .col-sm-3 {
    width: 22.4941724942%
  }
  .col-sm-3,
  .col-sm-4 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-sm-4 {
    width: 30.8275058275%
  }
  .col-sm-5 {
    width: 39.1608391608%
  }
  .col-sm-5,
  .col-sm-6 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-sm-6 {
    width: 47.4941724942%
  }
  .col-sm-7 {
    width: 55.8275058275%
  }
  .col-sm-7,
  .col-sm-8 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-sm-8 {
    width: 64.1608391608%
  }
  .col-sm-9 {
    width: 72.4941724942%
  }
  .col-sm-9,
  .col-sm-10 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-sm-10 {
    width: 80.8275058275%
  }
  .col-sm-11 {
    width: 89.1608391608%
  }
  .col-sm-11,
  .col-sm-12 {
    margin-left: 1.2529137529%;
    margin-right: 1.2529137529%;
    float: left
  }
  .col-sm-12 {
    width: 97.4941724942%
  }
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  float: none
}

header {
  text-align: center;
  color: #FFF
}

header .container {
  padding-top: 60px;
  padding-bottom: 30px
}

header .topo-logo {

  -webkit-transition: .2s;
  transition: .2s;
  margin-right: 28px
}


header .topo-logo:hover {
  opacity: .8
}

.interna header .container {
  padding-top: 10px;
  padding-bottom: 10px
}

.interna header .topo-logo {
  width: 52px;
  margin-right: 60px
}

.interna header .topo-logo img {
  display: block;
  width: 100%;
  height: auto
}

nav {
  font-size: 0;
  margin-top: 48px;
  position: relative
}

nav .main-nav li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font: 15px/1.2 'ralewaymedium', sans-serif;
  letter-spacing: .13em;
  text-transform: uppercase
}

nav .main-nav li+li {
  padding-left: 30px;
  position: relative
}

nav .main-nav li+li:before {
  content: '\2022';
  position: absolute;
  z-index: -2;
  top: 0;
  left: 12px
}

nav .main-nav a {
  -webkit-transition: .2s;
  transition: .2s
}

nav .main-nav a:hover {
  opacity: .6
}

nav .search {
  position: absolute;
  top: -6px;
  right: 0
}

nav .search form {
  margin-top: 0
}

nav .search input {
  border: 1px solid #FFF;
  border-radius: 15px 0 0 15px;
  background: 0 0;
  width: 135px;
  height: 26px;
  font-size: 13px;
  color: #FFF;
  padding: 1px 8px 1px 15px;
  -webkit-transition: .2s;
  transition: .2s
}

nav .search input:focus {
  outline: none;
  background: #FFF;
  color: #000
}

nav .search button {
  width: 40px;
  height: 30px;
  border: 1px solid #FFF;
  border-left: none;
  border-radius: 0 15px 15px 0;
  background: 0 0;
  padding: 0;
  color: #FFF;
  vertical-align: top;
  -webkit-transition: .2s;
  transition: .2s;
  text-align: center
}

nav .search button .icon {
  font-size: 15px
}

nav .search button:hover {
  background: #FFF;
  color: #000
}

.interna nav {
  color: #969696;
  margin-top: 18px
}

.interna nav li.ativo {
  position: relative;
  color: #FFF
}

.interna nav li.ativo:after {
  content: " ";
  background: #113A72;
  position: absolute;
  z-index: -1;
  top: -12px;
  left: 10px;
  right: -17px;
  height: 40px;
  border-radius: 20px
}

.interna nav .search input {
  border-color: #969696;
  color: #969696
}

.interna nav .search button {
  border-color: #969696;
  color: #231F20
}

.main-wrapper {
  overflow: hidden
}
.cols-wrapper {
   text-align: center;
}

footer {
    background: #FAFAFA url("img/splash-bg.jpg") no-repeat scroll 50% 50% / cover;
}

footer .container {
  padding-top: 65px;
  padding-bottom: 50px
}

.cols-wrapper .col {
  float: left
}

.cols-wrapper .col-1 {
  width: 31.6239316239%;
  margin-right: 6.1538461538%
}

.cols-wrapper .col-2 {
  width: 36.5811965812%;
  margin-right: 2.1367521368%
}

.cols-wrapper .col-3 {
  width: 23.5042735043%;
  margin-top: 72px
}

h2 {
  font: 45px/1.2 'ralewaymedium', sans-serif;
  text-transform: uppercase;
  margin-bottom: 22px
}

p {
  font: 18px/1.5 'ralewayextralight', sans-serif;
  margin: 0
}

h3 {
  font: 18px/1.5 'ralewaymedium', sans-serif
}

form {
  margin-right: 66px;
  margin-top: -4px;
  text-align:center;
}

form .legend {
  margin-bottom: 13px;
  margin-left: 4px
}

form .fieldset {
  margin-top: 0
}

form .field {
  margin: 9px 10px 0;

   width: 360px;
  display: inline-block;
}

.social {
  font-size: 0;
  margin-top: 34px;
  width: 280px;
  margin: 0 auto 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.social a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 24px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background: #969696;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s
}

.social a:hover {
  background: #636363
}

.lista-unidades {
  margin-top: 70px
}

.lista-unidades .row+.row {
  margin-top: 56px
}

.lista-unidades h3 {
  margin-bottom: 8px
}

.lista-unidades p {
  font-size: 15px;
  line-height: 1.4
}

.lista-unidades .addr {
  min-height: 4.2em
}

.lista-unidades .mb10 {
  margin-bottom: 10px
}

.lista-unidades .tel,
.lista-unidades .email {
  font-family: 'ralewayregular', sans-serif;
  color: #005E99
}

.lista-unidades .icon {
  font-size: 24px;
  line-height: 24px;
  margin-right: 5px
}

.lista-contatos {
  font-size: 0
}

.lista-contatos .col {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline
}

.lista-contatos p {
  margin-bottom: 6px
}

.lista-contatos a:hover {
  color: #201F1F
}

.logo-anos {
  text-align: right;
  margin-top: 2px
}

.logo-anos img {
  float: left;
  width: auto;
  height: 120px;
}

.barra-logos-solucoes {
  background: #FFF;
  text-align: center
}

.barra-logos-solucoes .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px
}

.barra-logos-solucoes .logo-solucao {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  margin: 0 40px;
  -webkit-transition: .2s;
  transition: .2s
}

.barra-logos-solucoes .logo-solucao:hover {
  opacity: .5
}

.copy {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0
}

.copy p {
  font: 13px/1.2 'ralewayregular', sans-serif;
  color: #969696
}

.copy p a:hover {
  color: #4a4a4a
}

.copy .col {
  float: none
}

.copy .col,
.cc .logo-footer,
.cc p {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline
}

.cc .logo-footer {
  margin-right: 16px
}

@font-face {
  font-family: 'ralewaymedium';
  src: url("fonts/raleway-medium.eot");
  src: url("fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-medium.woff2") format("woff2"), url("fonts/raleway-medium.woff") format("woff"), url("fonts/raleway-medium.ttf") format("truetype"), url("fonts/raleway-medium.svg#ralewaymedium") format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'ralewayregular';
  src: url("fonts/raleway-regular.eot");
  src: url("fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-regular.woff2") format("woff2"), url("fonts/raleway-regular.woff") format("woff"), url("fonts/raleway-regular.ttf") format("truetype"), url("fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'ralewaybold';
  src: url("fonts/raleway-bold.eot");
  src: url("fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-bold.woff2") format("woff2"), url("fonts/raleway-bold.woff") format("woff"), url("fonts/raleway-bold.ttf") format("truetype"), url("fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'ralewayextralight';
  src: url("fonts/raleway-extralight.eot");
  src: url("fonts/raleway-extralight.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-extralight.woff2") format("woff2"), url("fonts/raleway-extralight.woff") format("woff"), url("fonts/raleway-extralight.ttf") format("truetype"), url("fonts/raleway-extralight.svg#ralewayextralight") format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'ralewaythin';
  src: url("fonts/raleway-thin.eot");
  src: url("fonts/raleway-thin.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-thin.woff2") format("woff2"), url("fonts/raleway-thin.woff") format("woff"), url("fonts/raleway-thin.ttf") format("truetype"), url("fonts/raleway-thin.svg#ralewaythin") format("svg");
  font-weight: 400;
  font-style: normal
}

body {
  font-family: 'ralewayregular', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ralewaymedium', serif;
  font-weight: 400;
  margin: 0
}

@font-face {
  font-family: 'Icons';
  src: url("fonts/Icons.eot");
  src: url("fonts/Icons.eot?#iefix") format("eot"), url("fonts/Icons.woff") format("woff"), url("fonts/Icons.ttf") format("truetype"), url("fonts/Icons.svg#Icons") format("svg");
  font-weight: 400;
  font-style: normal
}

.icon {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-family: 'Icons';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-arrow-right:before {
  content: "\EA01"
}

.icon-chevron-left:before {
  content: "\EA02"
}

.icon-chevron-right:before {
  content: "\EA03"
}

.icon-facebook:before {
  content: "\EA04"
}

.icon-googleplus:before {
  content: "\EA05"
}

.icon-linkedin:before {
  content: "\EA06"
}

.icon-mail:before {
  content: "\EA07"
}

.icon-star:before {
  content: "\EA08"
}

.icon-tel:before {
  content: "\EA09"
}

.icon-triangle-left:before {
  content: "\EA0A"
}

.icon-triangle-right:before {
  content: "\EA0B"
}

.icon-twitter:before {
  content: "\EA0C"
}

.bts-social {
  font-size: 0;
  white-space: nowrap;
  margin: 18px auto 30px
}

.bts-social a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  font-size: 30px;
  margin: 0;
  -webkit-transition: .2s;
  transition: .2s;
  color: #FFF
}

.bts-social a+a {
  margin-left: 58px
}

.bts-social a:hover {
  opacity: .5
}

.bt,
.bt:focus,
.bt:active {
  height: 40px;
  border: none;
  background: #2F192E;
  color: #FFF;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 0 30px;
  border-radius: 2px;
  text-transform: uppercase;
  font: 16px/40px sans-serif;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateZ(0)scale(1);
  transform: translateZ(0)scale(1);
  position: relative;
  outline: none
}

a.bt:active,
button.bt:active {
  -webkit-transform: translateZ(0)scale(.96);
  transform: translateZ(0)scale(.96)
}

a.bt:hover,
button.bt:hover {
  opacity: .8
}

form,
form .row {
  margin: 20px 0 0
}

form label {
  margin-bottom: 6px;
  display: block
}

form label.inline {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin-right: 20px
}

form label .obs {
  font-size: 12px
}

.fieldset {
  margin: 20px 0 30px
}

.legend {
  margin-bottom: 20px
}

.field-group-wrapper {
  margin-left: -10px;
  margin-right: -10px
}

.field-group {
  display: table;
  table-layout: fixed;
  width: 100%
}

.field-group .field {
  display: table-cell;
  padding: 0 10px
}

.field-group-choice .field-group {
  width: auto
}

.field-group-choice .field {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0
}

.field input[type=text],
.field input[type=url],
.field input[type=tel],
.field input[type=number],
.field input[type=color],
.field input[type=email] {
  padding: 10px 20px
}

.field input[type=text],
.field input[type=url],
.field input[type=tel],
.field input[type=number],
.field input[type=color],
.field input[type=email],
.field select,
.field textarea {
  background: 0 0;
  border: 1px solid #221F1F;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #221F1F;
  font-size: 13px;
  -webkit-transition: .2s;
  transition: .2s
}

.field textarea {
  padding: 10px 20px
}

.field input[type=text]:focus,
.field input[type=url]:focus,
.field input[type=tel]:focus,
.field input[type=number]:focus,
.field input[type=color]:focus,
.field input[type=email]:focus,
.field select:focus,
.field textarea:focus {
  outline: none;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .5)
}

.field input[type=text],
.field input[type=url],
.field input[type=tel],
.field input[type=number],
.field input[type=color],
.field input[type=email] {
  height: 42px
}

.field select {
  height: 42px;
  padding: 10px 6px
}

.field textarea {
  resize: none;
  overflow: auto
}

.field input[type="checkbox"],
.field input[type="radio"] {
  margin-right: 2px;
  position: relative;
  top: 1px;
  *overflow: hidden
}

.field-append-button {
  position: relative
}

.field-append-button input[type=text],
.field-append-button input[type=url],
.field-append-button input[type=tel],
.field-append-button input[type=number],
.field-append-button input[type=color],
.field-append-button input[type=email] {
  padding-right: 60px
}

.field-append-button button {
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  background: 0 0;
  border: none;
  border-left: 1px solid #221F1F;
  padding: 0 14px 0 10px;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  -webkit-transition: .2s;
  transition: .2s
}

.field-append-button button .icon {
  line-height: 24px
}

.field-append-button button:hover {
  background: #221F1F;
  color: #FFF
}

.field-append-button button:focus,
.field-append-button button:active {
  outline: none
}

.form-controls {
  margin-top: 20px
}

.form-controls span {
  font-size: 12px
}

.form-controls .hidden {
  display: none
}

.form-controls .error-form {
  color: #C00
}

.form-controls .success-form {
  color: #0C0
}

.slick-slider {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-slider,
.slick-list {
  position: relative;
  display: block
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none
}

[dir="rtl"] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}


.connectors {
  text-align: center;
  position: absolute;
  z-index: 2;
  top: -34px;
  left: 0;
  right: 0
}
main {

  text-align: center;
}

main h1 {
  padding: 20px;
  font-size: 55px;
  color: #113972;
  font-family: ralewayextralight;
}

.agradec {
  font-size: 20px;
  padding-bottom: 60px ;
}

.intro h1 {
  font: 60px/1.2 'ralewayextralight', sans-serif;
  letter-spacing: .01em;
  color: #113A72;
  text-transform: uppercase;
  margin-bottom: 24px
}

.intro p {
  font-size: 15px;
  line-height: 1.4;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px
}

.col-left-full {
  width: 50%;
  float: left
}

.col-left-full .col-left-full-inner {
  padding: 0 30px;
  width: 570px;
  float: right
}

.col-left-full .col-left-full-inner p {
  font: 15px/1.4 'ralewayregular', sans-serif;
  margin: 20px 0
}

.col-right-full {
  width: 50%;
  float: right
}

.col-right-full .col-right-full-inner {
  padding: 0 30px;
  width: 570px
}

.col-right-full h3 {
  font: 45px/1.2 'ralewaymedium', sans-serif;
  text-transform: uppercase;
  color: #113A72;
  margin-top: 52px
}

.col-right-full ul,
.col-right-full li {
  list-style: outside disc
}

.col-right-full ul {
  margin-right: 130px;
  margin-left: 15px
}

.col-right-full li {
  font-size: 10px;
  margin: 20px 0
}

.col-right-full li span {
  display: block;
  font-size: 15px;
  line-height: 1.4
}

.col-right-full .sep {
  margin: 54px 0 52px;
  height: 1px;
  background: #EEE
}

.box-problema {
  background: #E6B607;
  color: #FFF;
  padding: 50px 0 62px
}

.box-problema .content {
  width: 370px;
  float: right;
  margin-right: 100px
}

.box-problema h2 {
  font: 45px/1.2 'ralewaymedium', sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px
}

.box-problema p {
  font: 15px/1.4 'ralewaybold', sans-serif;
  margin: 0
}

.box-lista-solucoes {
  background: #F2F2F2
}

.box-lista-solucoes .icon-wrapper {
  background: #005E9A;
  width: 130px;
  height: 110px;
  float: right;
  position: relative;
  margin-left: 40px
}

.box-lista-solucoes .icon-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto
}

.box-lista-solucoes li {
  height: 110px;
  line-height: 110px;
  overflow: hidden;
  text-align: right
}

.box-lista-solucoes li+li,
.box-lista-solucoes li+li .icon-wrapper {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .05)0%, transparent 100%);
  background-image: linear-gradient(rgba(0, 0, 0, .05)0%, transparent 100%)
}

.box-lista-solucoes li span {
  font: 18px 'ralewaybold', sans-serif;
  text-transform: uppercase
}

